<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{listBinManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >

                <div class="divPanelForm">

                    <div class="tabCommandArea">
                        <h:outputLink styleClass="toolbarMenuLink" value="addBin.do" >
                            <h:outputText value="#{msg.button_add}"/>
                        </h:outputLink>
                    </div>
                    <br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listBinManagedBean.listBin}" paginator="true" rows="10" paginatorPosition="both"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="true" style="width:50%" >
                        <p:column style="width:10px" >
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column sortBy="#{item.bankName}" filterBy="${item.bankName}" filterMatchMode="contains">
                            <f:facet name="header">
                                #{msg.bank_name}
                            </f:facet>
                            <h:outputText value="#{item.bankName}" />
                        </p:column>

                        <p:column sortBy="#{item.binNo}" filterBy="${item.binNo}" filterMatchMode="contains">
                            <f:facet name="header">
                                #{msg.bin_no}
                            </f:facet>
                            <h:outputText value="#{item.binNo}" />
                        </p:column>

                        <p:column  sortBy="#{item.binLength}">
                            <f:facet name="header">
                                BIN Length
                            </f:facet>
                            <h:outputText value="#{item.binLength}" />
                        </p:column>

                        <p:column style="width:30px">
                            <f:facet name="header">
                            </f:facet>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandLink onclick="PF('confirmation').show()" >
                                <h:graphicImage value="/images/delete.png" title="#{msg.button_disable}" width="16" height="16" />
                                <f:setPropertyActionListener target="#{listBinManagedBean.selectedDeleteItem}" value="#{item}" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>

                </div>

            </h:form>
        </p:panel>

        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1:idTable"
                                 actionListener="#{listBinManagedBean.deleteMccActionListener}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>
</ui:composition>