<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{msg.list_bin_parameter}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">

                    <div class="tabCommandArea">
                        <h:outputLink styleClass="toolbarMenuLink" value="addBinAnomalyAggregateParameter.do" >
                            <h:outputText value="#{msg.button_add}"/>
                        </h:outputLink>
                    </div>

                    <br/>


                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listBinAnomalyAggregateParameterManagedBean.listBin}" paginator="true" rows="#{listBinAnomalyAggregateParameterManagedBean.defaultTableRow}" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:40%" >
                        <p:column style="width:10px" >
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.bank_id}
                            </f:facet>
                            <h:outputText value="#{item.bankId}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.bank_name}
                            </f:facet>
                            <h:outputText value="#{item.bank.bankName}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.bin_no}
                            </f:facet>
                            <h:outputText value="#{item.bin}" />
                        </p:column>

                        <p:column style="width:65px">
                            <f:facet name="header">
                            </f:facet>
                            <h:outputLink value="editBinAnomalyAggregateParameter.do">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="id" value="#{item.listId}" />
                            </h:outputLink>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandLink onclick="PF('confirmation').show()" >
                                <h:graphicImage value="/images/delete.png" title="#{msg.button_delete}" width="16" height="16" />
                                <f:setPropertyActionListener target="#{listBinAnomalyAggregateParameterManagedBean.selectedDeleteItem}" value="#{item}" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>

                </div>


            </h:form>
        </p:panel>

        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1"
                                 actionListener="#{listBinAnomalyAggregateParameterManagedBean.deleteActionListener}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>



    </ui:define>
</ui:composition>
