

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:form>
        <style>
            @media screen and (min-width: 701px) {
                div.txt {
                    font-size: 15px;
                    font-weight: bold;
                }
                div.txtname {
                    font-size: 12px;
                    font-weight: bold;
                }
                .logo{
                    width: 57px;
                    height: 71px;
                }
                .logoprima{
                    width: 75px;
                    height: 50px;
                }
                .txtmenu {
                    font-size: 12px;
                }
                .txtname i {
                    font-size: 14px;
                }
                .space1{
                    width: 70%;
                }
                .space2{
                    width: 80%;
                }
            }

            @media screen and (max-width: 700px) {
                div.txt {
                    font-size: 12px;
                    font-weight: bold;
                }
                div.txtname {
                    font-size: 10px;
                }
                .logo{
                    width: 45px;
                    height: 55px;
                }
                .logoprima{
                    width: 60px;
                    height: 40px;
                }
                .txtmenu {
                    font-size: 11px;
                }
                .txtname i {
                    font-size: 10px;
                }
                .space1{
                    width: 30%;
                }
                .space2{
                    width: 20%;
                }
            }

        </style>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div style="background-color: #ffffff; padding-top: 10px; padding-left: 10px;">
                <table width="100%">
                    <tr>
                        <td class="space1">
                            <table>
                                <tr>
                                    <td rowspan="2" valign="top" class="logoimg">
                                        <h:graphicImage value="/images/logo-rintis2.jpg"  styleClass="logo"/>
                                    </td>
                                    <td  valign="top">
                                        <div style="background-color: #ffffff; margin-left: 8px;" class="txt">
                                            <span><h:outputText value="#{msg.company_name}"/></span><br/>
                                            <span><h:outputText value="#{msg.app_name}"/></span>
                                            <span style="font-weight: normal;"><h:outputText value="#{msg.app_version}"/></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="background-color: #ffffff;" class="txtmenu">
                                            <p:menubar model="#{privateHeaderManagedBean.menuModel}" style="z-index:500; border:none;" styleClass="txtmenu">
                                            </p:menubar>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top" class="space2">
                            <div align="right" style="float: right;">
                                <h:graphicImage value="/images/prima1.png" styleClass="logoprima" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />

                                <!--Remarked by AAH 191011 -->
                                <ui:remove>
                                <h:graphicImage value="/images/prima2.png" width="75" height="49" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                </ui:remove>

                                <div style="margin-top: 10px;" class="txtname">
                                    <i class="fa fa-user fa-1_5x" />
                                    <span><h:outputText value="#{privateHeaderManagedBean.name}"/></span>
                                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                    <h:commandLink styleClass="commonText" value="" action="#{logoutManagedBean.logoutAction}" title="#{msg.logout}" ><i class="fa fa-sign-out fa-1_5x" /></h:commandLink>
                                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <ui:remove>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div style="background-color: #f8f8f8; padding-top: 10px; padding-left: 30px;">
                <span style="font-size: 16px; font-weight: bold;"><h:outputText value="#{msg.company_name}" /> - EIS</span>
                <span style="font-size: 12px; font-weight: bold;">ver 1.0</span>
                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                <i class="fa fa-user fa-1_5x" />
                <span style="font-size: 16px;">
                    <h:outputText styleClass="commonText" style="font-weight:bold;" value="#{privateHeaderManagedBean.name}" />
                </span>
                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                <h:commandLink styleClass="commonText" value="" action="#{logoutManagedBean.logoutAction}" >
                    <i class="fa fa-sign-out fa-1_5x" />
                </h:commandLink>
            </div>
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menunav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#"></a>-->
                </div>
                <div class="collapse navbar-collapse" id="menunav">
                    <ul class="nav navbar-nav navbar-left">
                        <h:outputText value="#{privateHeaderManagedBean.menuHtml}" escape="false" />
                    </ul>
                </div>
            </div>
        </div>
        </ui:remove>
    </h:form>

</ui:composition>