<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>TMS</title>
    </f:facet>

    <f:facet name="last">
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="css" name="solifugi.css" />

        <h:outputStylesheet name="bootstrap/css/bootstrap.css" />
        <h:outputScript name="bootstrap/js/bootstrap.js" />
        <h:outputStylesheet name="fontawesome/css/font-awesome.css" />

        <h:outputStylesheet library="css" name="test.css" />
        <h:outputScript name="js/test.js" />
    </f:facet>
</h:head>

<h:body>
    <f:view  >
    <div>
        <div id="header">
            <ui:include src="private_header.xhtml"/>
        </div>

        <div id="content">
            <ui:insert name="content" />
        </div>

        <div id="footer">
            <br /><br />
        </div>
    </div>
    </f:view>
</h:body>
</html>