<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Potential Risk Detection System</title>
    <h:outputStylesheet library="css" name="eis.css" />
    <h:outputStylesheet library="css" name="style.css" />
    <h:outputStylesheet library="css" name="solifugi.css" />
    <h:outputStylesheet name="fontawesome/css/font-awesome.css" />
    <link rel="shortcut icon" style="width: 2px!important; height: 2%!important;" type="image/png" href="#{request.contextPath}/images/logo-rintis2.png" />
</h:head>

<h:body>
    <div>
        <h:form id="frm1">
            <div align="center" class="centerbox">
                <span style="color: #269abc; font-size: 18px; font-weight: bold; font-family: Arial; ">
                    <h:outputText value="#{msg.company_name}" /><br/>
                    <h:outputText value="#{msg.app_name}" />
                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    <h:outputText value="#{msg.app_version}" />
                </span>
                <p:panel header="Login" style="width: 350px;">
                    <table>
                        <tr>
                            <td>
                                <h:graphicImage value="/images/logo-rintis2.jpg" width="62" height="73" />
                            </td>
                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                            </td>
                            <td>
                                <h:panelGrid columns="2">
                                    <h:outputText value="" />
                                    <h:outputText style="color: red;" value="#{loginManagedBean.message}" />

                                    <h:outputText styleClass="commonText" value="#{msg.login_userid}" />
                                    <p:inputText id="txtUserId" value="#{loginManagedBean.userId}" maxlength="20" autocomplete="off" />

                                    <h:outputText styleClass="commonText" value="Password" />
                                    <p:password id="txtPassword"  value="#{loginManagedBean.password}" maxlength="20" autocomplete="off" />

                                    <h:outputText value="" />
                                    <p:commandButton value="Login" action="#{loginManagedBean.loginAction}" ajax="true" update="frm1"/>
                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </p:panel>
            </div>
        </h:form>
    </div>

</h:body>
</html>



