<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{blockedApprovalManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td>
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="Status" />
                                    <h:panelGroup>
                                        <p:selectOneMenu value="#{blockedApprovalManagedBean.status}" effect="none">
                                            <f:selectItem itemLabel="" itemValue="" />
                                            <f:selectItem itemLabel="CREATED" itemValue="Created" />
                                            <f:selectItem itemLabel="APPROVED" itemValue="Approved" />
                                            <f:selectItem itemLabel="CANCELLED" itemValue="Cancelled" />
                                            <p:ajax event="change" listener="#{blockedApprovalManagedBean.statusChangeListener}" update="docId, idTable, idHeader" />
                                        </p:selectOneMenu>
                                    </h:panelGroup>

                                    <h:outputText value="Document ID" />
                                    <h:panelGroup>
                                        <p:selectOneMenu id="docId" value="#{blockedApprovalManagedBean.docId}" effect="none">
                                            <f:selectItems value="#{blockedApprovalManagedBean.listDoc}" var="p" itemLabel="#{p.docId}" itemValue="#{p.docId}" />
                                            <p:ajax event="change" listener="#{blockedApprovalManagedBean.statusChangeListener}" update="docId, idTable, idHeader" />
                                        </p:selectOneMenu>
                                    </h:panelGroup>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_submit}" actionListener="#{blockedApprovalManagedBean.submitAction}" update=":frm1" onsuccess="PF('dataTableWidgetVar').filter()" onclick="refresh()" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>
                        </tr>
                    </table>

                    <p:separator />


                    <table>
                        <tr>
                            <td>
                                <h:panelGrid id="idHeader"  columnClasses="panelGridFirstColumn, panelGridSecondColumn, panelGridFirstColumn, panelGridSecondColumn" columns="4" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="Document # :" style="font-weight:bold"/>
                                    <h:outputText value="#{blockedApprovalManagedBean.pDocId}" style="display:block;width:135px"/>
                                    <h:outputText value="Status :" style="font-weight:bold"/>
                                    <h:outputText value="#{blockedApprovalManagedBean.pStatus}" style="display:block;width:135px"/>
                                    <h:outputText value="Date Created :" style="font-weight:bold"/>
                                    <h:outputText value="#{blockedApprovalManagedBean.pDateCreated}" style="display:block;width:135px"/>
                                    <h:outputText value="Status Date :" style="font-weight:bold"/>
                                    <h:outputText value="#{blockedApprovalManagedBean.pStatusDate}" style="display:block;width:135px"/>
                                    <h:outputText value="Created By :" style="font-weight:bold"/>
                                    <h:outputText value="#{blockedApprovalManagedBean.pCreatedBy}" style="display:block;width:135px"/>
                                    <h:outputText value="Approved/Cancelled By :" style="font-weight:bold"/>
                                    <h:outputText value="#{blockedApprovalManagedBean.pApprovedBy}" style="display:block;width:135px"/>
                                </h:panelGrid>
                            </td>
                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>
                        </tr>
                    </table>

                    <br/>

                    <p:dataTable id="idTable" widgetVar="dataTableWidgetVar" var="item" rowIndexVar="idx" value="#{blockedApprovalManagedBean.listDetail}"
                                 rows="10" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="both"
                                 style="width:500px; font-size:11px;">

                        <p:column style="width:10px" >
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column sortBy="#{item.pan}">
                            <f:facet name="header">
                                #{msg.menu_pan_no}
                            </f:facet>
                            <h:outputText value="#{item.pan}" />
                        </p:column>

                        <p:column sortBy="#{item.bankName}">
                            <f:facet name="header">
                                #{msg.iss_inst}
                            </f:facet>
                            <h:outputText value="#{item.bankName}" />
                        </p:column>

                        <p:column sortBy="#{item.blockedTo}">
                            <f:facet name="header">
                                #{msg.blockedTo}
                            </f:facet>
                            <h:outputText value="#{item.blockedTo}" />
                        </p:column>

                    </p:dataTable>

                    <br/>
                    <h:panelGroup>
                        <p:commandButton value="Approve" icon="ui-icon-disk" action="#{blockedApprovalManagedBean.approveAction}" update=":frm1" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <p:commandButton value="Cancel" icon="ui-icon-disk" action="#{blockedApprovalManagedBean.cancelAction}" update=":frm1" />
                    </h:panelGroup>

                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>


