<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{listDocumentAdministrationManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">
                    <br/><br/>
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listDocumentAdministrationManagedBean.list}" paginator="true" rows="20" paginatorPosition="both"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="true" style="width:70%">

                        <p:column style="width:10px" >
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>
                        <p:column sortBy="#{item.docId}" filterBy="${item.docId}" filterMatchMode="contains">
                            <f:facet name="header">
                                Document Id
                            </f:facet>
                            <h:outputText value="#{item.docId}" />
                        </p:column>

                        <p:column sortBy="#{item.createdDate}">
                            <f:facet name="header">
                                Created Date
                            </f:facet>
                            <h:outputText value="#{item.createdDate}" />
                        </p:column>

                        <p:column sortBy="#{item.createdBy}" filterBy="${item.createdBy}" filterMatchMode="contains">
                            <f:facet name="header">
                                Created/Approved/Cancelled By
                            </f:facet>
                            <h:outputText value="#{item.createdBy}" />
                        </p:column>

                        <p:column sortBy="#{item.statusDate}">
                            <f:facet name="header">
                                Status Date
                            </f:facet>
                            <h:outputText value="#{item.statusDate}" />
                        </p:column>

                        <p:column sortBy="#{item.status}" filterBy="${item.status}" filterMatchMode="contains">
                            <f:facet name="header">
                                Status
                            </f:facet>
                            <h:outputText value="#{item.status}" />
                        </p:column>

                        <p:column style="width: 20px;">
                            <f:facet name="header">
                            </f:facet>
                            <h:outputLink value="editDocumentAdministration.do" rendered="${item.enabled}">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="pDocId" value="#{listDocumentAdministrationManagedBean.paramDecode(item.docId)}" />
                            </h:outputLink>
                        </p:column>

                    </p:dataTable>

                    <br/><br/>

                </div>

            </h:form>
        </p:panel>


    </ui:define>
</ui:composition>
