<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{unblockedAdministrationDetailManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td>
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn, panelGridFirstColumn, panelGridSecondColumn" columns="4" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="Document # :" style="font-weight:bold"/>
                                    <h:outputText value="#{unblockedAdministrationDetailManagedBean.pDocId}" />
                                    <h:outputText value="Status :" style="font-weight:bold"/>
                                    <h:outputText value="#{unblockedAdministrationDetailManagedBean.pStatus}" />
                                    <h:outputText value="Date Created :" style="font-weight:bold"/>
                                    <h:outputText value="#{unblockedAdministrationDetailManagedBean.pDateCreated}" />
                                    <h:outputText value="Status Date :" style="font-weight:bold"/>
                                    <h:outputText value="#{unblockedAdministrationDetailManagedBean.pStatusDate}" />
                                    <h:outputText value="Created By :" style="font-weight:bold"/>
                                    <h:outputText value="#{unblockedAdministrationDetailManagedBean.pCreatedBy}" />
                                    <h:outputText value="Approved/Cancelled By :" style="font-weight:bold"/>
                                    <h:outputText value="-" />
                                </h:panelGrid>
                            </td>
                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>
                        </tr>
                    </table>

                    <p:separator />

                    <p:dataTable id="idTable" widgetVar="dataTableWidgetVar" var="item" rowIndexVar="idx" value="#{unblockedAdministrationDetailManagedBean.listDetail}"
                                 rows="10" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="both"
                                 style="width:500px; font-size:11px;">

                        <p:column style="width:10px" >
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column sortBy="#{item.pan}">
                            <f:facet name="header">
                                #{msg.menu_pan_no}
                            </f:facet>
                            <h:outputText value="#{item.pan}" />
                        </p:column>

                        <p:column sortBy="#{item.bankName}">
                            <f:facet name="header">
                                #{msg.iss_inst}
                            </f:facet>
                            <h:outputText value="#{item.bankName}" />
                        </p:column>

                        <p:column style="width:30px">
                            <f:facet name="header">
                            </f:facet>
                            <p:commandLink onclick="PF('confirmation').show()">
                                <h:graphicImage value="/images/delete.png" title="#{msg.button_disable}" width="16" height="16" />
                                <f:setPropertyActionListener target="#{unblockedAdministrationDetailManagedBean.selectedDeleteItem}" value="#{item}" />
                            </p:commandLink>
                        </p:column>

                    </p:dataTable>

                    <br/>
                    <h:panelGroup>
                        <p:commandButton value="Request to Unblock" icon="ui-icon-disk" action="#{unblockedAdministrationDetailManagedBean.approveAction}" update=":frm1" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-disk" action="#{unblockedAdministrationDetailManagedBean.cancelAction}" update=":frm1" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <p:commandButton value="Exit" icon="ui-icon-disk" action="#{unblockedAdministrationDetailManagedBean.exitAction}" update=":frm1" />
                    </h:panelGroup>
                </div>

            </h:form>
        </p:panel>

        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1:idTable"
                                 actionListener="#{unblockedAdministrationDetailManagedBean.deleteActionListener}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>
    </ui:define>
</ui:composition>


