<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">
    <!--This Page created by aaw, 30 June 2021-->
    <ui:define name="content">

        <p:panel header="Detail Acquirer QR (MPAN) Anomaly" styleClass="panelContent">
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td>
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText styleClass="bold" value="Acquirer Bank : " />
                                    <h:outputText value="#{detailMPanAnomalyQRManagedBean.pAcquirerBank}" />

                                    <h:outputText styleClass="bold" value="Merchant PAN : " />
                                    <c:set var = "bin" value="#{(detailMPanAnomalyQRManagedBean.pPan.trim()).substring(0,6)}"/>
                                    <c:set var = "filler" value="#{(detailMPanAnomalyQRManagedBean.pPan.trim()).substring(6,(detailMPanAnomalyQRManagedBean.pPan.trim()).length()-4)}"/>
                                    <c:set var = "fillerAsterisks" value="${fn:replace(filler, '[0-9]', '*')}"/>
                                    <c:set var = "suffix" value="#{(detailMPanAnomalyQRManagedBean.pPan.trim()).substring((detailMPanAnomalyQRManagedBean.pPan.trim()).length()-4,(detailMPanAnomalyQRManagedBean.pPan.trim()).length())}"/>
                                    <h:outputText value="#{bin.concat(fillerAsterisks).concat(suffix)}" />

                                    <h:outputText styleClass="bold" value="Term ID : " />
                                    <h:outputText value="#{detailMPanAnomalyQRManagedBean.pTermId}" />
                                    <h:outputText styleClass="bold" value="Term Name : " />
                                    <h:outputText value="#{detailMPanAnomalyQRManagedBean.pTermName}" />
                                    <ui:remove>
                                    <h:outputText value="#{detailMPanAnomalyQRManagedBean.pPan}" />


                                    <h:outputText styleClass="bold" value="Receiver : " />
                                    <h:outputText value="" />
                                    </ui:remove>
                                    <br/>

                                    <h:outputLabel />
                                    <p:commandButton value="View Detail" action="#{detailMPanAnomalyQRManagedBean.submitAction}" onbegin="PF('pleaseWaitDialog').show()" oncomplete="PF('pleaseWaitDialog').hide()" update="frm1" />

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>

                    <p:separator />

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{detailMPanAnomalyQRManagedBean.list}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom"
                                 style="width:100%; font-size:11px;">

                        <p:columnGroup type="header">
                            <p:row style="font-size:12px;">
                                <p:column rowspan="3" headerText="#{msg.no}" />
                                <p:column rowspan="3" headerText="Date" sortBy="#{item.period}" />
                                <p:column rowspan="3" headerText="Time" sortBy="#{item.trxTime}" />
                                <p:column rowspan="3" headerText="Card No" sortBy="#{item.cardNo}" filterBy="${item.cardNo}" filterMatchMode="contains" />
                                <p:column rowspan="3" headerText="Issuer Bank" sortBy="#{item.issuerBank}" filterBy="${item.issuerBank}" filterMatchMode="contains" />

                                <ui:remove>
                                <p:column rowspan="3" headerText="Merchant PAN" sortBy="#{item.pan}" />
                                <p:column rowspan="3" headerText="Issuer Bank" sortBy="#{item.issuerBank}" />
                                </ui:remove>

                                <ui:remove>
                                <p:column rowspan="3" headerText="Term Owner Name" sortBy="#{item.terminal}" />
                                <p:column rowspan="3" headerText="Term-ID" sortBy="#{item.termId}" />
                                </ui:remove>
                                <p:column colspan="4" headerText="Details" />

                                <ui:remove>
                                <p:column colspan="4" headerText="Frequency" />
                                </ui:remove>

                                <p:column rowspan="3" headerText="Amount" sortBy="#{item.amount}" />
                            </p:row>
                            <p:row style="font-size:12px;">
                                <p:column headerText="Msg Type" sortBy="#{item.msgtype}" />
                                <p:column headerText="POS Entry Mode" sortBy="#{item.posentrymode}" />
                                <p:column headerText="Response Code" sortBy="#{item.rc}" />
                                <p:column headerText="Description" sortBy="#{item.description}" />

                                <ui:remove>
                                <p:column rowspan="2" headerText="#{msg.approve}" sortBy="#{item.app}" />
                                <p:column colspan="2" headerText="#{msg.decline}" />
                                <p:column rowspan="2" headerText="Refund" sortBy="#{item.rvsl}" />
                                </ui:remove>
                            </p:row>

                            <ui:remove>
                            <p:row style="font-size:12px;">
                                <p:column headerText="Charge" sortBy="#{item.dc}" />
                                <p:column headerText="Free" sortBy="#{item.dcFree}" />
                            </p:row>
                            </ui:remove>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column style="width:70px">
                            <h:outputText value="#{item.period}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.trxTime}" />
                        </p:column>

                        <p:column >
                            <c:set var = "bin" value="#{(item.cardNo.trim()).substring(0,6)}"/>
                            <c:set var = "filler" value="#{(item.cardNo.trim()).substring(6,(item.cardNo.trim()).length()-4)}"/>
                            <c:set var = "fillerAsterisks" value="${fn:replace(filler, '[0-9]', '*')}"/>
                            <c:set var = "suffix" value="#{(item.cardNo.trim()).substring((item.cardNo.trim()).length()-4,(item.cardNo.trim()).length())}"/>
                            <h:outputText value="#{bin.concat(fillerAsterisks).concat(suffix)}" />
                            <ui:remove>
                            <h:outputText value="#{item.cardNo}" />
                            </ui:remove>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.issuerBank}" />
                        </p:column>

                        <ui:remove>
                        <p:column >
                            <c:set var = "bin" value="#{(item.pan.trim()).substring(0,6)}"/>
                            <c:set var = "filler" value="#{(item.pan.trim()).substring(6,(item.pan.trim()).length()-4)}"/>
                            <c:set var = "fillerAsterisks" value="${fn:replace(filler, '[0-9]', '*')}"/>
                            <c:set var = "suffix" value="#{(item.pan.trim()).substring((item.pan.trim()).length()-4,(item.pan.trim()).length())}"/>
                            <h:outputText value="#{bin.concat(fillerAsterisks).concat(suffix)}" />
                            <ui:remove>
                            <h:outputText value="#{item.pan}" />
                            </ui:remove>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.bankacq}" />
                        </p:column>
                        </ui:remove>

                        <ui:remove>
                        <p:column >
                            <h:outputText value="#{item.terminal}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.termId}" />
                        </p:column>
                        </ui:remove>
                        <!--<p:column rendered="#{detailMPanAnomalyQRManagedBean.beneficiary}">-->
                           <!-- <h:outputText rendered="#{detailMPanAnomalyQRManagedBean.beneficiary}" value="#{item.bankBene}" />-->
                        <!--</p:column>-->

                        <!--<p:column rendered="#{detailMPanAnomalyQRManagedBean.beneficiary}">-->
                            <!--<h:outputText rendered="#{detailMPanAnomalyQRManagedBean.beneficiary}" value="#{item.nameBene}" />-->
                        <!--</p:column>-->

                        <!--<p:column rendered="#{detailMPanAnomalyQRManagedBean.beneficiary}">-->
                            <!--<h:outputText rendered="#{detailMPanAnomalyQRManagedBean.beneficiary}" value="#{item.toAccount}" />-->
                        <!--</p:column>-->

                        <p:column >
                            <h:outputText value="#{item.msgtype}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.posentrymode}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.rc}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.description}" />
                        </p:column>

                        <ui:remove>
                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.app}" />
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.dc}" />
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.dcFree}" />
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.rvsl}" />
                            </div>
                        </p:column>
                        </ui:remove>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.amount}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:columnGroup type="footer" style="font-size:12px;">
                            <p:row>
                                <p:column colspan="#{detailMPanAnomalyQRManagedBean.colspan}" footerText="Total" />
                                <p:column style="text-align:right" footerText="#{detailMPanAnomalyQRManagedBean.valueAmtTotal}" />
                            </p:row>
                        </p:columnGroup>

                    </p:dataTable>
                    <br/><br/>

                </div>

            </h:form>
        </p:panel>

        <p:ajaxStatus onstart="PF('pleaseWaitDialog').show();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/preloader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>

    </ui:define>
</ui:composition>
