<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="Edit Acquirer QR (MPAN) Special Treatment" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="3" cellspacing="0">
                                    <h:outputLabel>#{msg.account_no}</h:outputLabel>
                                    <h:outputText style="font-weight: bold;" escape="false" value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).pan}" size="30" maxlength="19" required="true" />

                                    <h:outputLabel>#{msg.receiver}</h:outputLabel>
                                    <h:outputText style="font-weight: bold;" escape="false" value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).acquirerBank}" size="30" maxlength="" required="true"/>

                                    <h:outputLabel>Frequency Approve</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).freqApp}" size="30" maxlength="8" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Frequency Decline Charge</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).freqDc}" size="30" maxlength="8" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}"  />

                                    <h:outputLabel>Frequency Decline Free</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).freqDcFree}" size="30" maxlength="8" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Frequency Refund</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).freqRvsl}" size="30" maxlength="8" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Approve</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).totalAmtApp}" size="30" maxlength="20" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Decline Charge</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).totalAmtDc}" size="30" maxlength="20" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Decline Free</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).totalAmtDcFree}" size="30" maxlength="20" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Refund</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).totalAmtRvsl}" size="30" maxlength="20" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <ui:remove>
                                    <h:outputLabel>Amount Total</h:outputLabel>
                                    <p:inputNumber value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).totalAmt}" size="30" maxlength="20" padControl="false" emptyValue="0" />
                                    </ui:remove>

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Active" value="#{editWhitelistMPanManagedBean.listWhitelistMPan.get(0).active}" />

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editWhitelistMPanManagedBean.editAction}" update="frm1" />
                                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listWhitelistMPan.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
