<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{mPanQRManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td>
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="#{msg.date}" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:calendar value="#{mPanQRManagedBean.startDate}" styleClass="commonText" showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true" pattern="#{mPanQRManagedBean.defaultCalendarDateFormat}"/>
                                                </td>
                                                <td>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                    <h:outputText value=" To "/>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                </td>
                                                <td valign="top">
                                                    <p:calendar value="#{mPanQRManagedBean.endDate}" styleClass="commonText" showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true" pattern="#{mPanQRManagedBean.defaultCalendarDateFormat}"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Time"/>
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:calendar value="#{mPanQRManagedBean.startTime}" pattern="HH:mm" timeOnly="true" stepMinute="10" readonlyInput="true"/>
                                                </td>
                                                <td>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                    <h:outputText value=" To "/>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                </td>
                                                <td valign="top">
                                                    <p:calendar value="#{mPanQRManagedBean.endTime}" pattern="HH:mm" timeOnly="true" stepMinute="10" readonlyInput="true" />
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Transaction"/>
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:selectOneMenu value="#{mPanQRManagedBean.transaction}" effect="none">
                                                        <f:selectItems value="#{mPanQRManagedBean.listTrxId}" var="p" itemLabel="#{p.trxname}" itemValue="#{p.trxid}"/>
                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Period" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:selectOneMenu value="#{mPanQRManagedBean.period}" effect="none">
                                                        <f:selectItem itemValue="1H" itemLabel="1 Hour" />
                                                        <f:selectItem itemValue="3H" itemLabel="3 Hours" />
                                                        <f:selectItem itemValue="6H" itemLabel="6 Hours" />
                                                        <f:selectItem itemValue="1D" itemLabel="1 Day" />
                                                        <f:selectItem itemValue="3D" itemLabel="3 Day" />
                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:selectBooleanCheckbox rendered="#{mPanQRManagedBean.role}" itemLabel="Show All Transaction" value="#{mPanQRManagedBean.whitelist}" />
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_submit}" actionListener="#{mPanQRManagedBean.submitAction}" update=":frm1" onsuccess="PF('dataTableWidgetVar').filter()" onclick="" oncomplete="refresh();" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>
                        </tr>
                    </table>
                    <p:separator />

                    <div align="left" >
                        <p:commandButton rendered="#{mPanQRManagedBean.role}" value="Add To MPAN Special Treatment" actionListener="#{mPanQRManagedBean.saveItemAction}" update=":frm1" onsuccess="PF('dataTableWidgetVar').filter()" oncomplete="popupMsg();" />
                        <p:remoteCommand name="refresh" ajax="false" update=":frm1" action="#{mPanQRManagedBean.errorMsg}"/>
                        <p:remoteCommand name="popupMsg" ajax="false" update=":frm1" action="#{mPanQRManagedBean.popupMsg}"/>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </div>
                    <br/>

                    <p:dataTable id="idTable" widgetVar="dataTableWidgetVar" var="item" rowIndexVar="idx" value="#{mPanQRManagedBean.listQRAnomalyDataModel}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom"
                                 selection="#{mPanQRManagedBean.selectedItems}"
                                 disabledSelection="#{item.chkColor == 'TRUE'}"
                                 style="width:100%; font-size:11px;" rowSelectMode="checkbox"
                                 rowStyleClass="#{item.chkColor eq 'TRUE' ? 'ui-state-highlight' : 'true'}">
                        <!--<p:ajax event="filter" onsuccess="PF('dataTableWidgetVar').getPaginator().setPage(0);"/>-->
                        <p:columnGroup type="header">
                            <p:row style="font-size:12px;">
                                <p:column rowspan="3" headerText="" rendered="#{mPanQRManagedBean.role}"/>
                                <p:column rowspan="3" headerText="#{msg.no}" />
                                <p:column rowspan="3" headerText="Date" rendered="#{mPanQRManagedBean.disable3D}" sortBy="#{item.period}" />
                                <p:column colspan="2" headerText="Date" rendered="#{mPanQRManagedBean.enable3D}" />
                                <p:column colspan="2" headerText="Time" rendered="#{mPanQRManagedBean.disable}"/>
                                <p:column rowspan="3" headerText="Merchant PAN" sortBy="#{item.pan}" filterBy="${item.pan}" filterMatchMode="contains" value="#{item.pan}" />
                                <p:column rendered="#{mPanQRManagedBean.roleBank}" rowspan="3" headerText="Acquirer Bank" sortBy="#{item.acquirerBank}" filterBy="${item.acquirerBank}" filterMatchMode="contains" />
                                <p:column rowspan="3" headerText="Term Owner Name" sortBy="#{item.terminal}" />
                                <p:column rowspan="3" headerText="Term-ID" sortBy="#{item.termId}" />
                                <p:column colspan="4" headerText="Frequency" />
                                <p:column colspan="4" headerText="Amount" />
                                <p:column rowspan="3" headerText="Total Amount" sortBy="#{item.amt}" />
                            </p:row>
                            <p:row style="font-size:12px;">
                                <p:column rowspan="2" headerText="#{msg.from}" rendered="#{mPanQRManagedBean.enable3D}" sortBy="#{item.period}" />
                                <p:column rowspan="2" headerText="#{msg.to}" rendered="#{mPanQRManagedBean.enable3D}" sortBy="#{item.periodDisplay}" />
                                <p:column rowspan="2" headerText="#{msg.from}" rendered="#{mPanQRManagedBean.disable}" sortBy="#{item.timeFr}" />
                                <p:column rowspan="2" headerText="#{msg.to}" rendered="#{mPanQRManagedBean.disable}" sortBy="#{item.timeTo}" />
                                <p:column rowspan="2" headerText="#{msg.approve}" sortBy="#{item.freqApp}" />
                                <p:column colspan="2" headerText="#{msg.decline}" />
                                <p:column rowspan="2" headerText="Refund" sortBy="#{item.freqRvsl}" />
                                <p:column rowspan="2" headerText="#{msg.approve}" sortBy="#{item.amtApp}" />
                                <p:column colspan="2" headerText="#{msg.decline}" />
                                <p:column rowspan="2" headerText="Refund" sortBy="#{item.amtRvsl}"/>
                            </p:row>
                            <p:row style="font-size:12px;">
                                <p:column headerText="Charge" sortBy="#{item.freqDc}" />
                                <p:column headerText="Free" sortBy="#{item.freqDcFree}" />
                                <p:column headerText="Charge" sortBy="#{item.amtDc}" />
                                <p:column headerText="Free" sortBy="#{item.amtDcFree}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column rendered="#{mPanQRManagedBean.role}" selectionMode="multiple" style="width:18px">
                        </p:column>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column rendered="#{mPanQRManagedBean.disable3D}" field="#{item.period}" style="width:70px">
                            <h:outputText rendered="#{mPanQRManagedBean.disable3D}" value="#{item.periodDisplay}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{mPanQRManagedBean.enable3D}" field="#{item.timeFr}" style="width:70px">
                            <h:outputText rendered="#{mPanQRManagedBean.enable3D}" value="#{item.period}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{mPanQRManagedBean.enable3D}" field="#{item.timeTo}">
                            <h:outputText rendered="#{mPanQRManagedBean.enable3D}" value="#{item.periodDisplay}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{mPanQRManagedBean.disable}" field="#{item.timeFr}" style="width:18px">
                            <h:outputText rendered="#{mPanQRManagedBean.disable}" value="#{item.timeFr}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{mPanQRManagedBean.disable}" field="#{item.timeTo}">
                            <h:outputText rendered="#{mPanQRManagedBean.disable}" value="#{item.timeTo}" >
                            </h:outputText>
                        </p:column>

                        <p:column field="#{item.pan}">
                            <h:outputLink styleClass="tablelink" target="_blank" value="../qr/detailMPanAnomalyQR.do?" >
                                <f:param  name="pPeriod" value="#{mPanQRManagedBean.paramDecode(item.period)}" />
                                <f:param  name="pTimeFr" value="#{mPanQRManagedBean.paramDecode(item.timeFr)}" />
                                <f:param  name="pTimeTo" value="#{mPanQRManagedBean.paramDecode(item.timeTo)}" />
                                <f:param  name="pPan" value="#{mPanQRManagedBean.paramDecode(item.pan.trim())}" />
                                <f:param  name="pAcqId" value="#{mPanQRManagedBean.paramDecode(item.acquirerId)}" />
                                <f:param  name="pAcqBank" value="#{mPanQRManagedBean.paramDecode(item.acquirerBank)}" />
                                <f:param  name="pQrType" value="#{panAnomalyInquiryManagedBean.paramDecode(item.qrType)}" />
                                <f:param  name="pPeriodFrom" value="#{mPanQRManagedBean.paramDecode(item.periodFrom)}" />
                                <f:param  name="pPeriodTo" value="#{mPanQRManagedBean.paramDecode(item.periodTo)}" />
                                <f:param  name="pPeriodType" value="#{mPanQRManagedBean.paramDecode(mPanQRManagedBean.period)}" />
                                <c:set var = "bin" value="#{(item.pan.trim()).substring(0,6)}"/>
                                <c:set var = "filler" value="#{(item.pan.trim()).substring(6,(item.pan.trim()).length()-4)}"/>
                                <c:set var = "fillerAsterisks" value="${fn:replace(filler, '[0-9]', '*')}"/>
                                <c:set var = "suffix" value="#{(item.pan.trim()).substring((item.pan.trim()).length()-4,(item.pan.trim()).length())}"/>
                                <f:param  name="pPanAcq" value="#{mPanQRManagedBean.paramDecode(item.pan.trim())}" />
                                <!--<h:outputText value="#{item.pan}" />-->
                                <f:param  name="pTermId" value="#{mPanQRManagedBean.paramDecode(item.termId)}" />
                                <f:param  name="pTermName" value="#{mPanQRManagedBean.paramDecode(item.terminal)}" />
                                <h:outputText value="#{bin.concat(fillerAsterisks).concat(suffix)}" />
                            </h:outputLink>
                        </p:column>

                        <p:column rendered="#{mPanQRManagedBean.roleBank}" field="#{item.acquirerBank}">
                            <h:outputText rendered="#{mPanQRManagedBean.roleBank}" value="#{item.acquirerBank}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.terminal}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.termId}" />
                        </p:column>

                        <p:column field="#{item.freqApp}">
                            <div align="right" >
                                <h:outputText value="#{item.freqApp}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqDc}">
                            <div align="right" >
                                <h:outputText value="#{item.freqDc}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqDcFree}">
                            <div align="right" >
                                <h:outputText value="#{item.freqDcFree}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqRvsl}">
                            <div align="right" >
                                <h:outputText value="#{item.freqRvsl}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.amtApp}">
                            <div align="right">
                                <h:outputText value="#{item.amtApp}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amtDc}">
                            <div align="right">
                                <h:outputText value="#{item.amtDc}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amtDcFree}">
                            <div align="right">
                                <h:outputText value="#{item.amtDcFree}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amtRvsl}">
                            <div align="right">
                                <h:outputText value="#{item.amtRvsl}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amt}">
                            <div align="right">
                                <h:outputText value="#{item.amt}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>

                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>


