<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../common/template/private_template.xhtml">

    <ui:define name="content">
               

<p:panel header="#{msg.add_menu_role_type_title}" styleClass="panelContent" >
<h:form id="frm1" >
    <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                        
<div class="divPanelForm">
    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
        <h:outputLabel>#{msg.menu_role_name}</h:outputLabel>
        <p:inputText value="#{addMenuRoleTypeManagedBean.menuRoleType.menuRoleName}" size="40" maxlength="100" />

        <h:outputLabel />
        <h:panelGroup>
            <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{addMenuRoleTypeManagedBean.saveAction}" update="frm1" />
            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
            <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listMenuRoleType.do?faces-redirect=true" immediate="true" />
        </h:panelGroup>
        
    </h:panelGrid>
    
 
</div>




</h:form>
</p:panel>

                
  
  

    </ui:define>
</ui:composition>
