<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../common/template/private_template.xhtml">

    <ui:define name="content">

<p:panel header="#{msg.assign_menu_title}" styleClass="panelContent" >
<h:form id="frm1" >


                        
<div class="divPanelForm">

    <p:panel header="#{msg.assign_menu_title}" >
        <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
            <h:outputLabel>#{msg.role_type_id}</h:outputLabel>
            <p:selectOneMenu value="#{assignRoleMenuManagedBean.roleTypeId}" effect="none" required="true">
                <f:selectItem itemLabel="" itemValue="" />
                <f:selectItems value="#{assignRoleMenuManagedBean.listMenuRoleType}" var="o" itemLabel="#{o.menuRoleName}" itemValue="#{o.menuRoleTypeId}" />
            </p:selectOneMenu>
                        
            <h:outputLabel></h:outputLabel>
            <p:commandButton value="#{msg.button_submit}" action="#{assignRoleMenuManagedBean.submitAction}" update="frm1" />
        </h:panelGrid>
    </p:panel>
    
    <br/>
    <b><h:outputLabel>#{msg.role_type_id}</h:outputLabel> : <h:outputText value="#{assignRoleMenuManagedBean.selectedRoleTypeName}" /></b>
    <br/><br/>
    
    <p:treeTable value="#{assignRoleMenuManagedBean.rootMenu}" var="item" style="width: 50%;">
        <p:column>  
            <f:facet name="header">  
                #{msg.id}
            </f:facet>  
            <h:outputText value="#{item.menuid}" />
        </p:column>  
  
        <p:column>  
            <f:facet name="header">  
                #{msg.name}  
            </f:facet>  
            <h:outputText value="#{item.menuname}" />
        </p:column>
        

        
        <p:column style="width:70px">  
            <f:facet name="header">    
                <br/>
                <ui:remove>
                <p:commandLink action="#{assignRoleMenuManagedBean.selectAllAction}" update=":frm1" >
                    <h:graphicImage value="/images/valid.png" width="16" height="16" />
                </p:commandLink>  
                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                <p:commandLink action="#{assignRoleMenuManagedBean.clearAllAction}" update=":frm1" >
                    <h:graphicImage value="/images/notvalid.png" width="16" height="16" />
                </p:commandLink>
                </ui:remove>
            </f:facet>  
            <div align="center">
                <p:selectBooleanButton value="#{item.statusmenu}" onLabel="#{msg.yes}" offLabel="#{msg.no_tidak}"
                    onIcon="ui-icon-check" offIcon="ui-icon-close" >  
                    <p:ajax update=":frm1" listener="#{assignRoleMenuManagedBean.changeUserMenu(item)}"/>   
                </p:selectBooleanButton>
            </div>
            <ui:remove> 
            <p:selectBooleanButton value="#{item.statusmenu}" onLabel="#{msg.yes}" offLabel="#{msg.no_tidak}"
                onIcon="ui-icon-check" offIcon="ui-icon-close" rendered="#{item.menuUrl != ''}" >  
                <p:ajax update=":frm1" listener="#{assignRoleMenuManagedBean.changeUserMenu(item)}"/>   
            </p:selectBooleanButton>
            </ui:remove>
        </p:column> 
  
    </p:treeTable>
 
</div>


</h:form>
</p:panel>

<ui:remove>
<p:ajaxStatus onstart="PF('pleaseWaitDialog').show();" oncomplete="PF('pleaseWaitDialog').hide();" />
<p:dialog modal="true" widgetVar="pleaseWaitDialog" resizable="false" draggable="false" closable="false"> 
    <table border="0">
        <tr>
            <td>
                <h:graphicImage value="/images/ajax-loader.gif" />
            </td>
            <td>
                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
            </td>
            <td valign="middle">
                <h:outputText value="Please wait ...." />
            </td>
        </tr>
    </table>
</p:dialog>
</ui:remove>

    </ui:define>
</ui:composition>
