<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <p:panel header="Edit #{bankEmailManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">
                    <br/>

                    <h:outputText value="Institusi : " />
                    <h:outputText value="#{editEmailBankManagedBean.bankName}" />
                    <br/>
                    <br/>

                    <h:outputText value="Add Email" /><br/>
                    <p:inputText value="#{editEmailBankManagedBean.newEmail}" size="70" autocomplete="off"/><h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                    <p:commandButton value="#{msg.button_add}" action="#{editEmailBankManagedBean.addAction}" update=":frm1" />
                    <br/><br/>

                    <h:outputLabel />
                    <p:selectBooleanCheckbox itemLabel="MCC Velocity" value="#{editEmailBankManagedBean.alertMccVelocity}" />

                    <h:outputLabel />
                    <p:selectBooleanCheckbox itemLabel="Sequential Velocity" value="#{editEmailBankManagedBean.alertSeqVelocity}" />

                    <!--Add by aaw 02/07/2021-->
                    <h:outputLabel />
                    <p:selectBooleanCheckbox itemLabel="MPAN Acquirer" value="#{editEmailBankManagedBean.alertMpanAcq}" />
                    <!--End add-->

                    <p:dataTable value="#{editEmailBankManagedBean.listEmail}" var="item" rowIndexVar="idx" style="width: 72%;" >
                        <p:column style="width: 20px;">
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.email}
                            </f:facet>
                            <p:inputText value="#{item}" size="70" />
                        </p:column>

                        <p:column style="width: 60px;">
                            <f:facet name="header">
                            </f:facet>
                            <p:commandButton value="#{msg.button_delete}" action="#{editEmailBankManagedBean.deleteAction(idx)}" update="frm1" />

                        </p:column>
                    </p:dataTable>

                    <br/>
                    <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editEmailBankManagedBean.saveAction}" update=":frm1" />
                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    <p:commandButton value="#{msg.button_cancel}" action="bankEmail.do?faces-redirect=true" />


                    <br/><br/>

                </div>

            </h:form>
        </p:panel>


    </ui:define>
</ui:composition>
