<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../common/template/private_template.xhtml">

    <ui:define name="content">
               


<p:panel header="#{msg.edit_user_title}" styleClass="panelContent" >
<h:form id="frm1" >

<p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />
                        
<div class="divPanelForm">
    <h:outputText value="#{editUserManagedBean.message}" />

    <table>
        <tr>
            <td valign="top">
                <h:panelGrid rendered="#{editUserManagedBean.message == ''}" columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="3" border="0" cellpadding="2" cellspacing="0">

                    <h:outputLabel>#{msg.user_id}</h:outputLabel>
                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    <h:outputText value="#{editUserManagedBean.userLogin.userLoginId}" size="40" maxlength="100" required="true" />
                    
                    <h:outputLabel>#{msg.name}</h:outputLabel>
                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    <p:inputText value="#{editUserManagedBean.userLogin.userName}" size="40" maxlength="100" required="true" />

                    <h:outputLabel>#{msg.role_type_id}</h:outputLabel>
                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    <p:selectOneMenu value="#{editUserManagedBean.userLogin.roleTypeId}" effect="none" >
                        <f:selectItems value="#{editUserManagedBean.listRole}" var="o" itemLabel="#{o.menuRoleName}" itemValue="#{o.menuRoleTypeId}" />
                    </p:selectOneMenu>

                    <ui:remove>
                    <h:outputLabel>#{msg.mobile}</h:outputLabel>
                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    <p:inputText value="#{editUserManagedBean.userLogin.mobile}" size="40" maxlength="255" required="false" />
                    </ui:remove>

                    <h:outputLabel>#{msg.email}</h:outputLabel>
                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    <p:inputText value="#{editUserManagedBean.userLogin.email}" size="40" maxlength="255" required="true" />

                    <h:outputLabel>#{msg.validation_type}</h:outputLabel>
                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    <p:selectOneMenu value="#{editUserManagedBean.userLogin.validationType}" effect="none" >
                        <f:selectItem itemLabel="DOMAIN" itemValue="LDAP" />
                        <f:selectItem itemLabel="INTERNAL" itemValue="INTERNAL" />
                    </p:selectOneMenu>

                    <h:outputLabel />
                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    <h:panelGroup>
                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editUserManagedBean.editUserAction}" update=":frm1" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listUser.do?faces-redirect=true" immediate="true" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <p:commandButton value="#{msg.button_reset_password}" onclick="PF('confirmation').show()" update=":frm1" rendered="#{not (editUserManagedBean.userLogin.validationType == 'LDAP')}" />
                    </h:panelGroup>
                </h:panelGrid>
            </td>

        </tr>
    </table>



    
    
 
</div>




</h:form>
</p:panel>



        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_reset_password}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1"
                                 actionListener="#{editUserManagedBean.resetPasswordAction}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>
</ui:composition>
