<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />
                <p:poll stop="true"
                        interval="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.graphRefreshInterval}"
                        listener="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.onPoolListener}"
                        update="@this, frm1" />


                <div class="divPanelForm">

                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="5" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="#{msg.bank}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.selectedBankId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:outputText value="Transaction : " />
                        <h:panelGroup>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev0" value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.activePrev[0]}" itemLabel="Total Transaction" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev1" value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.activePrev[1]}" itemLabel="Approve" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev2" value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.activePrev[2]}" itemLabel="Decline Charge" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev3" value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.activePrev[3]}" itemLabel="Decline Free" />
                            <h:graphicImage value="/images/spacer.gif" width="40" height="1" />
                        </h:panelGroup>


                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.selectedTrxId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItem itemValue="ALL" itemLabel="All Transaction" />
                            <f:selectItems value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:panelGroup>
                            <h:outputText id="idlabelprevdate" value="Previous Date : "  />
                            <h:outputText value=" " />
                        </h:panelGroup>
                        <h:panelGroup>
                            <h:outputText value="" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:calendar id="idprevdate" value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.selectedPrevDate}" styleClass="commonText"
                                        showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                        pattern="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.defaultCalendarDateFormat}" />
                        </h:panelGroup>






                        <h:outputLabel />
                        <p:selectBooleanCheckbox itemLabel="#{msg.show_table}" value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.showTable}" />
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.submitAction}" update="frm1" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="View History" action="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.showHistory}" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="#{msg.show_percent}" action="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.showPercentChangeListener}" />
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />
                    </h:panelGrid>








                    <br/><br/>

                    <div>

                    </div>
                    <br/>
                    <div>
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderResult}"
                                      value="#{msg.bank} : " />
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderResult}"
                                      value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.selectedBankName}" />
                        <br/>
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderResult}"
                                      value="#{msg.date} : " />
                        <h:outputText rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.render}" styleClass="bold" value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.selectedEndDate}" >
                            <f:convertDateTime pattern="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.defaultCalendarDateFormat}" />
                        </h:outputText>
                        <br/>
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderResult}"
                                      value="#{msg.transaction} : " />
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderResult}"
                                      value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.selectedTrxName}" />
                        <br/>
                        <ui:remove>
                            <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderResult}"
                                          value="#{msg.transaction_indicator} : " />
                            <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderResult}"
                                          value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.selectedTransactionIndicatorName}" />
                        </ui:remove>
                    </div>

                    <br/><br/>


                    <table>
                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_only}"
                                              rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanAcqOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanAcqOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanAcqOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_only}"
                                              rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanIssOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanIssOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanIssOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                            <tr>
                                <td>
                                    <h:outputText value="#{msg.bnf_only}"
                                                  rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderBnfOnly == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanBnfOnly.data}"
                                             axis="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanBnfOnly.axis}"
                                             point="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanBnfOnly.point}"
                                             rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderBnfOnly == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>

                                <td>
                                    <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                                </td>

                                <td>
                                    <h:outputText value="#{msg.acq_iss}"
                                                  rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqIss == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanAcqIss.data}"
                                             axis="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanAcqIss.axis}"
                                             point="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanAcqIss.point}"
                                             rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqIss == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h:outputText value="#{msg.acq_bnf}"
                                                  rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqBnf == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanAcqBnf.data}"
                                             axis="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanAcqBnf.axis}"
                                             point="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanAcqBnf.point}"
                                             rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqBnf == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>

                                <td>
                                    <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                                </td>

                                <td>
                                    <h:outputText value="#{msg.iss_bnf}"
                                                  rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssBnf == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanIssBnf.data}"
                                             axis="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanIssBnf.axis}"
                                             point="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.c3ChartBeanIssBnf.point}"
                                             rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssBnf == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>
                            </tr>
                    </table>










                    <br/><br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.list}"
                                 style="width:220%" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.showTable}" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="4" headerText="#{msg.no}" />
                                <p:column rowspan="4" headerText="#{msg.period}" />
                                <p:column colspan="2" headerText="#{msg.minute}" />
                                <p:column colspan="36" headerText="#{msg.frequency}" />
                            </p:row>
                            <p:row>
                                <p:column rowspan="3" headerText="#{msg.from}" />
                                <p:column rowspan="3" headerText="#{msg.to}" />
                                <p:column colspan="6" headerText="#{msg.acq_only}" />
                                <p:column colspan="6" headerText="#{msg.iss_only}" />
                                <p:column colspan="6" headerText="#{msg.bnf_only}" />
                                <p:column colspan="6" headerText="#{msg.acq_iss}" />
                                <p:column colspan="6" headerText="#{msg.acq_bnf}" />
                                <p:column colspan="6" headerText="#{msg.iss_bnf}" />
                            </p:row>
                            <p:row>
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.period}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timefr}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeto}" />
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_app}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_app_prev}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc_prev}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df_prev}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>


                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>


                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>




                </div>




            </h:form>
        </p:panel>

        <!-- 180717 Modify by AAH-->
        <ui:remove>
        <p:ajaxStatus onstart="PF('pleaseWaitDialog').hide();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/ajax-loader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>
        </ui:remove>

    </ui:define>
</ui:composition>
