<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <h:inputHidden value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.showPercent}" />

                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" style="width: 105%;" columns="5" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="#{msg.bank}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.selectedBankId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <h:outputText value="Transaction : " />
                        <h:panelGroup>
                            <h:graphicImage value="/images/spacer.gif"
                                            width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev0"
                                                     value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.activePrev[0]}" itemLabel="Total Transaction" />
                            <h:graphicImage value="/images/spacer.gif"
                                            width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev1"
                                                     value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.activePrev[1]}" itemLabel="Approve" />
                            <h:graphicImage value="/images/spacer.gif"
                                            width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev2"
                                                     value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.activePrev[2]}" itemLabel="Decline Charge" />
                            <h:graphicImage value="/images/spacer.gif"
                                            width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev3"
                                                     value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.activePrev[3]}" itemLabel="Decline Free" />


                        </h:panelGroup>



                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.selectedTrxId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItem itemValue="ALL" itemLabel="All Transaction" />
                            <f:selectItems value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputText value="#{msg.date}" />
                        <h:panelGroup>
                            <table>
                                <tr>
                                    <td valign="top">
                                        <p:calendar value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.selectedEndDate}" styleClass="commonText"
                                                    showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"

                                                    pattern="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.defaultCalendarDateFormat}" />
                                        <h:outputText value=" (Curr) " />
                                    </td>
                                    <td>
                                        <h:graphicImage value="/images/spacer.gif" width="1" height="1" />
                                        <h:outputText value=" vs " />
                                        <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                                    </td>
                                    <td valign="top">
                                        <p:calendar value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.selectedPrevDate}" styleClass="commonText"
                                                    showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"

                                                    pattern="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.defaultCalendarDateFormat}" />
                                        <h:outputText value=" (Prev) " />
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />


                        <h:outputText value="Time From" />
                        <h:panelGroup>
                            <table>
                                <tr>
                                    <td valign="top">
                                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                                        <p:selectOneMenu id="idStartHour"
                                                         value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.selectedStartHour}" effect="none" >
                                            <f:selectItem itemValue="0" itemLabel="00" />
                                            <f:selectItem itemValue="1" itemLabel="01" />
                                            <f:selectItem itemValue="2" itemLabel="02" />
                                            <f:selectItem itemValue="3" itemLabel="03" />
                                            <f:selectItem itemValue="4" itemLabel="04" />
                                            <f:selectItem itemValue="5" itemLabel="05" />
                                            <f:selectItem itemValue="6" itemLabel="06" />
                                            <f:selectItem itemValue="7" itemLabel="07" />
                                            <f:selectItem itemValue="8" itemLabel="08" />
                                            <f:selectItem itemValue="9" itemLabel="09" />
                                            <f:selectItem itemValue="10" itemLabel="10" />
                                            <f:selectItem itemValue="11" itemLabel="11" />
                                            <f:selectItem itemValue="12" itemLabel="12" />
                                            <f:selectItem itemValue="13" itemLabel="13" />
                                            <f:selectItem itemValue="14" itemLabel="14" />
                                            <f:selectItem itemValue="15" itemLabel="15" />
                                            <f:selectItem itemValue="16" itemLabel="16" />
                                            <f:selectItem itemValue="17" itemLabel="17" />
                                            <f:selectItem itemValue="18" itemLabel="18" />
                                            <f:selectItem itemValue="19" itemLabel="19" />
                                            <f:selectItem itemValue="20" itemLabel="20" />
                                            <f:selectItem itemValue="21" itemLabel="21" />
                                            <f:selectItem itemValue="22" itemLabel="22" />
                                            <f:selectItem itemValue="23" itemLabel="23" />
                                        </p:selectOneMenu>
                                    </td>
                                    <td valign="top">

                                    </td>
                                    <td valign="top">
                                        <h:outputText value="hh" />
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputText value="Time To" />
                        <h:panelGroup>
                            <table>
                                <tr>

                                    <td valign="top">
                                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                                        <p:selectOneMenu id="idEndHour"
                                                         value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.selectedEndHour}" effect="none" >
                                            <f:selectItem itemValue="0" itemLabel="00" />
                                            <f:selectItem itemValue="1" itemLabel="01" />
                                            <f:selectItem itemValue="2" itemLabel="02" />
                                            <f:selectItem itemValue="3" itemLabel="03" />
                                            <f:selectItem itemValue="4" itemLabel="04" />
                                            <f:selectItem itemValue="5" itemLabel="05" />
                                            <f:selectItem itemValue="6" itemLabel="06" />
                                            <f:selectItem itemValue="7" itemLabel="07" />
                                            <f:selectItem itemValue="8" itemLabel="08" />
                                            <f:selectItem itemValue="9" itemLabel="09" />
                                            <f:selectItem itemValue="10" itemLabel="10" />
                                            <f:selectItem itemValue="11" itemLabel="11" />
                                            <f:selectItem itemValue="12" itemLabel="12" />
                                            <f:selectItem itemValue="13" itemLabel="13" />
                                            <f:selectItem itemValue="14" itemLabel="14" />
                                            <f:selectItem itemValue="15" itemLabel="15" />
                                            <f:selectItem itemValue="16" itemLabel="16" />
                                            <f:selectItem itemValue="17" itemLabel="17" />
                                            <f:selectItem itemValue="18" itemLabel="18" />
                                            <f:selectItem itemValue="19" itemLabel="19" />
                                            <f:selectItem itemValue="20" itemLabel="20" />
                                            <f:selectItem itemValue="21" itemLabel="21" />
                                            <f:selectItem itemValue="22" itemLabel="22" />
                                            <f:selectItem itemValue="23" itemLabel="23" />
                                        </p:selectOneMenu>
                                    </td>
                                    <td valign="top">

                                    </td>
                                    <td valign="top">
                                        <h:outputText value="hh" />
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />



                        <h:outputLabel />
                        <p:selectBooleanCheckbox itemLabel="#{msg.show_table}" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.showTable}" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.submitAction}" update="frm1" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="View Current" action="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.showCurrent}" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="#{msg.show_percent}"
                                             action="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.showPercentChangeListener}"
                                            update="frm1" />
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                    </h:panelGrid>


                    <br/><br/>

                    <div>

                    </div>
                    <br/>
                    <div>
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderResult}"
                                      value="#{msg.bank} : " />
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderResult}"
                                      value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.selectedBankName}" />
                        <br/>
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderResult}"
                                      value="#{msg.date} : " />
                        <h:outputText rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.render}" styleClass="bold" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.selectedEndDate}" >
                            <f:convertDateTime pattern="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.defaultCalendarDateFormat}" />
                        </h:outputText>
                        <br/>
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderResult}"
                                      value="#{msg.transaction} : " />
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderResult}"
                                      value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.selectedTrxName}" />
                        <br/>
                        <ui:remove>
                            <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderResult}"
                                          value="#{msg.transaction_indicator} : " />
                            <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderResult}"
                                          value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.selectedTransactionIndicatorName}" />
                        </ui:remove>
                    </div>

                    <br/><br/>


                    <table>
                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_only}"
                                              rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanAcqOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanAcqOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanAcqOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_only}"
                                              rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanIssOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanIssOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanIssOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                            <tr>
                                <td>
                                    <h:outputText value="#{msg.bnf_only}"
                                                  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderBnfOnly == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanBnfOnly.data}"
                                             axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanBnfOnly.axis}"
                                             point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanBnfOnly.point}"
                                             rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderBnfOnly == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>

                                <td>
                                    <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                                </td>

                                <td>
                                    <h:outputText value="#{msg.acq_iss}"
                                                  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqIss == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanAcqIss.data}"
                                             axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanAcqIss.axis}"
                                             point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanAcqIss.point}"
                                             rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqIss == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h:outputText value="#{msg.acq_bnf}"
                                                  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqBnf == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanAcqBnf.data}"
                                             axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanAcqBnf.axis}"
                                             point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanAcqBnf.point}"
                                             rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqBnf == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>

                                <td>
                                    <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                                </td>

                                <td>
                                    <h:outputText value="#{msg.iss_bnf}"
                                                  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssBnf == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanIssBnf.data}"
                                             axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanIssBnf.axis}"
                                             point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.c3ChartBeanIssBnf.point}"
                                             rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssBnf == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>
                            </tr>
                    </table>










                    <br/><br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.list}"
                                 style="width:220%" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.showTable}" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="4" headerText="#{msg.no}" />
                                <p:column rowspan="4" headerText="#{msg.period}" />
                                <p:column colspan="2" headerText="#{msg.minute}" />
                                <p:column colspan="36" headerText="#{msg.frequency}" />
                            </p:row>
                            <p:row>
                                <p:column rowspan="3" headerText="#{msg.from}" />
                                <p:column rowspan="3" headerText="#{msg.to}" />
                                <p:column colspan="6" headerText="#{msg.acq_only}" />
                                <p:column colspan="6" headerText="#{msg.iss_only}" />
                                <p:column colspan="6" headerText="#{msg.bnf_only}" />
                                <p:column colspan="6" headerText="#{msg.acq_iss}" />
                                <p:column colspan="6" headerText="#{msg.acq_bnf}" />
                                <p:column colspan="6" headerText="#{msg.iss_bnf}" />
                            </p:row>
                            <p:row>
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.period}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timefr}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeto}" />
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_app}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_app_prev}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc_prev}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df_prev}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>


                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>


                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>




                </div>




            </h:form>
        </p:panel>

        <!-- 180717 Modify by AAH-->
        <ui:remove>
        <p:ajaxStatus onstart="PF('pleaseWaitDialog').hide();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/ajax-loader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>
        </ui:remove>

    </ui:define>
</ui:composition>
