<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <p:panel header="Edit User Setting" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">

                    <p:dataTable style="width:80%;" value="#{editSettingUserManagedBean.listSystemProperty}" var="item" rowIndexVar="idx">
                        <p:column style="width:10px;">
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            #{idx+1}
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.setting}
                            </f:facet>
                            <h:outputText value="#{item.systemName}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.value}
                            </f:facet>
                            <h:panelGroup>
                                <p:inputText value="#{item.systemValue}" size="60" maxlength="255" rendered="#{not item.systemName.contains('color')}" />

                                <p:inputText value="#{item.tempValue}" size="60" maxlength="255" rendered="#{item.systemName.contains('color')}" />
                                <p:commandButton value="#{msg.button_copy} To Picker" action="#{editSettingUserManagedBean.copyColorToPicker(item)}"
                                                 rendered="#{item.systemName.contains('color')}" update=":frm1" />

                                <h:graphicImage value="/images/spacer.gif" width="40" height="1" />

                                <p:colorPicker rendered="#{item.systemName.contains('color_')}" value="#{item.systemValue}" />
                                <p:commandButton value="#{msg.button_copy} To Text" action="#{editSettingUserManagedBean.updateColor(item)}"
                                                 update=":frm1" rendered="#{item.systemName.contains('color')}" />
                            </h:panelGroup>
                        </p:column>
                    </p:dataTable>

                    <br/>
                    <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editSettingUserManagedBean.saveAction}" update=":frm1" />


                </div>




            </h:form>
        </p:panel>



    </ui:define>
</ui:composition>
