<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <p:panel header="#{msg.edit_setting}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">

                    <p:dataTable style="width:70%;" value="#{editSettingManagedBean.listSystemProperty}" var="item" rowIndexVar="idx">
                        <p:column style="width:10px;">
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            #{idx+1}
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.setting}
                            </f:facet>
                            <h:outputText value="#{item.systemName}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.value}
                            </f:facet>
                            <h:panelGroup>
                                <p:inputText value="#{item.systemValue}" size="80" maxlength="255"
                                         rendered="#{item.systemName ne 'alert_compare_type'}" />
                                <p:selectOneMenu value="#{item.systemValue}" effect="none"
                                                 rendered="#{item.systemName eq 'alert_compare_type'}" >
                                    <f:selectItem itemLabel="From Hour 00:00" itemValue="FROM00" />
                                    <f:selectItem itemLabel="From Current Hour" itemValue="FROM_HOUR" />
                                </p:selectOneMenu>
                                <br/>
                                <h:outputText value="#{item.description}" />
                            </h:panelGroup>
                        </p:column>
                    </p:dataTable>

                    <br/><br/><br/>
                    <h:outputText value="Email Template M1 and M2"  style="font-weight: bold;" /><br/>
                    <p:dataTable style="width:100%;" value="#{editSettingManagedBean.listSettingEmail}" var="item" rowIndexVar="idx">
                        <p:column style="width:10px;vertical-align: top;">
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            #{idx+1}
                        </p:column>

                        <p:column style="vertical-align: top;">
                            <f:facet name="header">
                                #{msg.setting}
                            </f:facet>
                            <h:outputText value="#{item.systemName}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.value}
                            </f:facet>
                            <p:inputText value="#{item.systemValue}" size="80" rendered="#{item.systemName ne 'email_alert_message'}" />
                            <p:inputTextarea value="#{item.systemValue}" rows="8" cols="78" rendered="#{item.systemName eq 'email_alert_message'}" />


                        </p:column>

                    </p:dataTable>

                    <br/>
                    <h:outputText value="Email Template M3 and M3"  style="font-weight: bold;" /><br/>
                    <p:dataTable style="width:100%;" value="#{editSettingManagedBean.listSettingEmailM3M4}" var="item" rowIndexVar="idx">
                        <p:column style="width:10px;vertical-align: top;">
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            #{idx+1}
                        </p:column>

                        <p:column style="vertical-align: top;">
                            <f:facet name="header">
                                #{msg.setting}
                            </f:facet>
                            <h:outputText value="#{item.systemName}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.value}
                            </f:facet>
                            <p:inputText value="#{item.systemValue}" size="80" rendered="#{item.systemName ne 'email_alert_message_m3m4'}" />
                            <p:inputTextarea value="#{item.systemValue}" rows="8" cols="78" rendered="#{item.systemName eq 'email_alert_message_m3m4'}" />


                        </p:column>

                    </p:dataTable>

                    <br/>
                    <h:outputText value="Note: multiple email destination, separate with delimiter comma ( , )" /><br/>
                    <h:outputText value="Keyword email:" /><br/>
                    <h:outputText value="%bank% : bank name" /><br/>
                    <h:outputText value="%trx% : transaction" /><br/>
                    <h:outputText value="%trxindic% : transaction indicator" /><br/>
                    <h:outputText value="%m% : compare method" /><br/>
                    <h:outputText value="%mdescription% : compare method description" /><br/>
                    <h:outputText value="%date% : date" /><br/>
                    <h:outputText value="%currval% : current value" /><br/>
                    <h:outputText value="%prevval% : previous value" /><br/>
                    <h:outputText value="%threshold% : threshold" /><br/>
                    <h:outputText value="%ratio% : ratio" /><br/>
                    <h:outputText value="%coltype% : column type" /><br/>
                    <h:outputText value="%timeframe% : time frame" /><br/>
                    <h:outputText value="%datecurr% : date (current)" /><br/>
                    <h:outputText value="%timefr% : time from (current)" /><br/>
                    <h:outputText value="%timeto% : time to (current)" /><br/>
                    <h:outputText value="%dateprev% : date (previous)" /><br/>
                    <h:outputText value="%timefrprev% : time from (previous)" /><br/>
                    <h:outputText value="%timetoprev% : time to (previous)" /><br/>


                    <br/><br/><br/>
                    <h:outputText value="Color" style="font-weight: bold;" />
                    <p:dataTable style="width:65%;" value="#{editSettingManagedBean.listSystemPropertyColor}" var="item" rowIndexVar="idx">
                        <p:column style="width:10px;">
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            #{idx+1}
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.setting}
                            </f:facet>
                            <h:outputText value="#{item.systemName}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.value}
                            </f:facet>
                            <h:panelGroup>
                                <p:inputText value="#{item.tempValue}" size="25" maxlength="255" />
                                <p:commandButton value="#{msg.button_copy} To Picker" action="#{editSettingManagedBean.copyColorToPicker(item)}" update=":frm1" />

                                <h:graphicImage value="/images/spacer.gif" width="40" height="1" />

                                <p:colorPicker rendered="#{item.systemName.contains('color_')}" value="#{item.systemValue}" />
                                <p:commandButton value="#{msg.button_copy} To Text" action="#{editSettingManagedBean.updateColor(item)}" update=":frm1" />
                            </h:panelGroup>
                        </p:column>
                    </p:dataTable>

                    <br/>
                    <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editSettingManagedBean.saveAction}" update=":frm1" />


                </div>




            </h:form>
        </p:panel>



    </ui:define>
</ui:composition>
