<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{msg.list_mcc}" styleClass="panelContent" >
            <h:form id="frm1" >

                <div class="divPanelForm">

                    <div class="tabCommandArea">
                        <h:outputLink styleClass="toolbarMenuLink" value="addMCC.do" >
                            <h:outputText value="#{msg.button_add}"/>
                        </h:outputLink>
                    </div>

                    <ui:remove>
                    <br/>
                    <h:panelGrid columns="2" >
                        <h:outputText value="#{msg.list_mcc}" />
                        <p:selectOneMenu value="#{listMCCManagedBean.selectedMCC}" effect="none" filter="true" filterPlaceholder="Search" filterMatchMode="contains">
                            <f:selectItem itemLabel="" itemValue="-1" />
                            <f:selectItems value="#{listMCCManagedBean.listMCC}" var="o" itemLabel="#{o.mcc}" itemValue="#{o.mcc}" />
                        </p:selectOneMenu>

                        <h:outputText value="" />
                        <p:commandButton value="#{msg.button_submit}" action="#{listMCCManagedBean.searchAction}" update="frm1" />
                    </h:panelGrid>
                    </ui:remove>

                    <br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listMCCManagedBean.listMCC}" paginator="true" rows="15" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:50%" >
                        <p:column style="width:10px" >
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column sortBy="#{item.mcc}" filterBy="${item.mcc}">
                            <f:facet name="header">
                                #{msg.list_mcc}
                            </f:facet>
                            <h:outputText value="#{item.mcc}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.description}
                            </f:facet>
                            <h:outputText value="#{item.description}" />
                        </p:column>

                        <p:column style="width:65px">
                            <f:facet name="header">
                            </f:facet>
                            <h:outputLink value="editMCC.do">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="uid" value="#{item.mcc}" />
                            </h:outputLink>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandLink onclick="PF('confirmation').show()" >
                                <h:graphicImage value="/images/delete.png" title="#{msg.button_disable}" width="16" height="16" />
                                <f:setPropertyActionListener target="#{listMCCManagedBean.selectedDeleteItem}" value="#{item.mcc}" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>

                </div>

            </h:form>
        </p:panel>

        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1:idTable"
                                 actionListener="#{listMCCManagedBean.deleteMccActionListener}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>
</ui:composition>