<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="#{msg.edit_sequential_parameter}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="3" cellspacing="0">

                                    <h:outputLabel value="Transaction"/>
                                    <h:outputText style="font-weight: bold;" escape="false" value="#{editSequentialParameterManagedBean.listSequentialParam.get(0).trx}" size="20" maxlength="20" required="true" />

                                    <h:outputLabel value="Freq Approve 1 Day"/>
                                    <p:inputNumber value="#{editSequentialParameterManagedBean.listSequentialParam.get(0).mintrxapp1d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Approve 1 Day"/>
                                    <p:inputNumber value="#{editSequentialParameterManagedBean.listSequentialParam.get(0).minamtapp1d}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Total 1 Day"/>
                                    <p:inputNumber value="#{editSequentialParameterManagedBean.listSequentialParam.get(0).mintrxtot1d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Total 1 Day"/>
                                    <p:inputNumber value="#{editSequentialParameterManagedBean.listSequentialParam.get(0).minamttot1d}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editSequentialParameterManagedBean.editAction}" update="frm1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listSequentialParameter.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
