<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{sequentialAnomalyInquiryManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td>
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="#{msg.date}" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:calendar value="#{sequentialAnomalyInquiryManagedBean.startDate}" styleClass="commonText" showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true" pattern="#{sequentialAnomalyInquiryManagedBean.defaultCalendarDateFormat}"/>
                                                </td>
                                                <td>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                    <h:outputText value=" To "/>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                </td>
                                                <td valign="top">
                                                    <p:calendar value="#{sequentialAnomalyInquiryManagedBean.endDate}" styleClass="commonText" showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true" pattern="#{sequentialAnomalyInquiryManagedBean.defaultCalendarDateFormat}"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Transaction" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:selectOneMenu value="#{sequentialAnomalyInquiryManagedBean.transaction}" effect="none">
                                                        <f:selectItems value="#{sequentialAnomalyInquiryManagedBean.listTrxId}" var="p" itemLabel="#{p.trxname}" itemValue="#{p.trxid}" />
                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_submit}" actionListener="#{sequentialAnomalyInquiryManagedBean.submitAction}" update=":frm1" onsuccess="PF('dataTableWidgetVar').filter()" onclick="refresh()" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                            <td>
                                <p:remoteCommand name="refresh" ajax="false" update=":frm1" action="#{sequentialAnomalyInquiryManagedBean.errorMsg}"/>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>
                        </tr>
                    </table>

                    <p:dataTable id="idTable" widgetVar="dataTableWidgetVar" var="item" rowIndexVar="idx" value="#{sequentialAnomalyInquiryManagedBean.list}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="both"
                                 style="width:100%; font-size:11px;">

                        <p:columnGroup type="header">
                            <p:row style="font-size:12px;">
                                <p:column rowspan="2" headerText="#{msg.no}" />
                                <p:column rowspan="2" headerText="Date" sortBy="#{item.period}" />
                                <p:column rowspan="2" headerText="Issuer Bank" sortBy="#{item.issuerbank}" />
                                <p:column rowspan="2" headerText="PAN" sortBy="#{item.pan}" filterBy="${item.pan}" value="#{item.pan}" />
                                <p:column rowspan="2" headerText="Sender" sortBy="#{item.pengirim}" />
                                <p:column colspan="2" headerText="Frequency" />
                                <p:column colspan="2" headerText="Amount" />
                            </p:row>
                            <p:row style="font-size:12px;">
                                <p:column headerText="#{msg.approve}" sortBy="#{item.freqapp}" />
                                <p:column headerText="#{msg.total}" sortBy="#{item.freqtot}" />
                                <p:column headerText="#{msg.approve}" sortBy="#{item.totalamtapp}" />
                                <p:column headerText="#{msg.total}" sortBy="#{item.totalamttot}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column field="#{item.period}">
                            <h:outputText value="#{item.perioddisplay}" >
                            </h:outputText>
                        </p:column>

                        <p:column field="#{item.issuerbank}">
                            <h:outputText value="#{item.issuerbank}" >
                            </h:outputText>
                        </p:column>

                        <p:column field="#{item.pan}">
                            <h:outputLink styleClass="tablelink" target="_blank" value="#{item.trantype eq 'Payment' ? '../pan/detailPanAnomalyInquiryPayment.do?' : '../pan/detailPanAnomalyInquiry.do?'}">
                                <f:param  name="pPeriod" value="#{sequentialAnomalyInquiryManagedBean.paramDecode(item.period)}" />
                                <f:param  name="pTimeFr" value="#{sequentialAnomalyInquiryManagedBean.paramDecode('00:00')}" />
                                <f:param  name="pTimeTo" value="#{sequentialAnomalyInquiryManagedBean.paramDecode('24:00')}" />
                                <f:param  name="pPan" value="#{sequentialAnomalyInquiryManagedBean.paramDecode(item.pan)}" />
                                <f:param  name="pPengirim" value="#{sequentialAnomalyInquiryManagedBean.paramDecode(item.pengirim.trim())}" />
                                <f:param  name="pIssuerBank" value="#{sequentialAnomalyInquiryManagedBean.paramDecode(item.issuerbank)}" />
                                <f:param  name="pStatus" value="#{sequentialAnomalyInquiryManagedBean.paramDecode('')}" />
                                <f:param  name="pTranType" value="#{sequentialAnomalyInquiryManagedBean.paramDecode(item.trantype)}" />

                                <c:set var = "bin" value="#{item.pan.substring(0,6)}"/>
                                <c:set var = "filler" value="#{item.pan.substring(6,item.pan.length()-4)}"/>
                                <c:set var = "fillerAsterisks" value="${fn:replace(filler, '[0-9]', '*')}"/>
                                <c:set var = "suffix" value="#{item.pan.substring(item.pan.length()-4,item.pan.length())}"/>
                                <h:outputText value="#{bin.concat(fillerAsterisks).concat(suffix)}">
                                </h:outputText>
                            </h:outputLink>
                        </p:column>

                        <p:column field="#{item.pengirim}">
                            <h:outputText value="#{item.pengirim}" >
                            </h:outputText>
                        </p:column>

                        <p:column field="#{item.freqapp}">
                            <div align="right" >
                                <h:outputText value="#{item.freqapp}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqtot}">
                            <div align="right" >
                                <h:outputText value="#{item.freqtot}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.totalamtapp}">
                            <div align="right">
                                <h:outputText value="#{item.totalamtapp}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.totalamttot}">
                            <div align="right">
                                <h:outputText value="#{item.totalamttot}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>

                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>


