<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <p:panel header="#{mapRoleToDashboardManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">
                    <h:panelGrid columns="2" >
                        <h:outputText value="#{msg.menu_role_name}" />
                        <p:selectOneMenu value="#{mapRoleToDashboardManagedBean.selectedRoleId}" effect="none" >
                            <f:selectItem itemValue="-1" itemLabel="" />
                            <f:selectItems value="#{mapRoleToDashboardManagedBean.listRole}" var="o" itemLabel="#{o.menuRoleName}" itemValue="#{o.menuRoleTypeId}" />
                        </p:selectOneMenu>

                        <h:outputText value="" />
                        <p:commandButton value="#{msg.button_submit}" action="#{mapRoleToDashboardManagedBean.searchAction}" update="frm1" />
                    </h:panelGrid>


                    <p:separator />
                    <br/>

                    <h:outputText value="#{msg.menu_role_name} : " />
                    <h:outputText value="#{mapRoleToDashboardManagedBean.selectedRoleName}" />

                    <p:dataTable value="#{mapRoleToDashboardManagedBean.listDashboard}" var="item" rowIndexVar="idx" paginator="true" rows="10" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width: 70%;" >

                        <p:column style="width: 10px;">
                            <f:facet name="header">
                                <h:outputText value="#{msg.no}" />
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column sortBy="#{item.menuname}">
                            <f:facet name="header">
                                <h:outputText value="#{msg.dashboard}" />
                            </f:facet>
                            <h:outputText value="#{item.menuname}" />
                            <br/>
                            <h:outputText value="#{item.description}" />
                        </p:column>

                        <p:column style="width: 10px;">
                            <f:facet name="header">
                                <h:outputText value="" />
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.selected}" />
                        </p:column>

                    </p:dataTable>

                    <br/>

                    <p:commandButton value="#{msg.button_save}" action="#{mapRoleToDashboardManagedBean.saveAction}" update="frm1" />

                </div>

            </h:form>
        </p:panel>


    </ui:define>
</ui:composition>
