<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <p:panel header="#{msg.dashboard} - #{userDashboardHistoryPercentManagedBean.mktUserDashboard.menuName}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <h:inputHidden value="#{userDashboardHistoryPercentManagedBean.id}" />

                <div class="divPanelForm">






                    <div>

                        <ui:remove>
                            <p:commandButton value="View History"
                                             action="#{userDashboardHistoryPercentManagedBean.showHistoryAction}" />
                        </ui:remove>


                        <h:panelGrid columns="2">
                            <h:outputText value="Transaction : " />
                            <h:panelGroup>
                                <p:selectBooleanCheckbox id="chkprev0" value="#{userDashboardHistoryPercentManagedBean.activePercentPrev[0]}" itemLabel="% Approval Prev" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                <p:selectBooleanCheckbox id="chkprev1" value="#{userDashboardHistoryPercentManagedBean.activePercentPrev[1]}" itemLabel="% Decline Free Prev" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                <p:selectBooleanCheckbox id="chkprev2" value="#{userDashboardHistoryPercentManagedBean.activePercentPrev[2]}" itemLabel="% Decline Charge Prev" />

                            </h:panelGroup>

                            <h:outputText value="#{msg.date}" />
                            <h:panelGroup>
                                <table>
                                    <tr>
                                        <td valign="top">
                                            <p:calendar value="#{userDashboardHistoryPercentManagedBean.selectedEndDate}" styleClass="commonText"
                                                        showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"

                                                        pattern="#{userDashboardHistoryPercentManagedBean.defaultCalendarDateFormat}" />
                                            <h:outputText value=" (Curr) " />
                                        </td>
                                        <td>
                                            <h:graphicImage value="/images/spacer.gif" width="1" height="1" />
                                            <h:outputText value=" vs " />
                                            <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                                        </td>
                                        <td valign="top">
                                            <p:calendar value="#{userDashboardHistoryPercentManagedBean.selectedPrevDate}" styleClass="commonText"
                                                        showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"

                                                        pattern="#{userDashboardHistoryPercentManagedBean.defaultCalendarDateFormat}" />
                                            <h:outputText value=" (Prev) " />
                                        </td>
                                    </tr>
                                </table>
                            </h:panelGroup>


                            <h:outputText value="Time From" />
                            <h:panelGroup>
                                <table>
                                    <tr>
                                        <td valign="top">
                                            <p:selectOneMenu id="idStartHour"
                                                             value="#{userDashboardHistoryPercentManagedBean.selectedStartHour}" effect="none" >
                                                <f:selectItem itemValue="0" itemLabel="00" />
                                                <f:selectItem itemValue="1" itemLabel="01" />
                                                <f:selectItem itemValue="2" itemLabel="02" />
                                                <f:selectItem itemValue="3" itemLabel="03" />
                                                <f:selectItem itemValue="4" itemLabel="04" />
                                                <f:selectItem itemValue="5" itemLabel="05" />
                                                <f:selectItem itemValue="6" itemLabel="06" />
                                                <f:selectItem itemValue="7" itemLabel="07" />
                                                <f:selectItem itemValue="8" itemLabel="08" />
                                                <f:selectItem itemValue="9" itemLabel="09" />
                                                <f:selectItem itemValue="10" itemLabel="10" />
                                                <f:selectItem itemValue="11" itemLabel="11" />
                                                <f:selectItem itemValue="12" itemLabel="12" />
                                                <f:selectItem itemValue="13" itemLabel="13" />
                                                <f:selectItem itemValue="14" itemLabel="14" />
                                                <f:selectItem itemValue="15" itemLabel="15" />
                                                <f:selectItem itemValue="16" itemLabel="16" />
                                                <f:selectItem itemValue="17" itemLabel="17" />
                                                <f:selectItem itemValue="18" itemLabel="18" />
                                                <f:selectItem itemValue="19" itemLabel="19" />
                                                <f:selectItem itemValue="20" itemLabel="20" />
                                                <f:selectItem itemValue="21" itemLabel="21" />
                                                <f:selectItem itemValue="22" itemLabel="22" />
                                                <f:selectItem itemValue="23" itemLabel="23" />
                                            </p:selectOneMenu>
                                        </td>
                                        <td valign="top">

                                        </td>
                                        <td valign="top">

                                        </td>
                                    </tr>
                                </table>
                            </h:panelGroup>


                            <h:outputText value="Time To" />
                            <h:panelGroup>
                                <table>
                                    <tr>

                                        <td valign="top">
                                            <p:selectOneMenu id="idEndHour"
                                                             value="#{userDashboardHistoryPercentManagedBean.selectedEndHour}" effect="none" >
                                                <f:selectItem itemValue="0" itemLabel="00" />
                                                <f:selectItem itemValue="1" itemLabel="01" />
                                                <f:selectItem itemValue="2" itemLabel="02" />
                                                <f:selectItem itemValue="3" itemLabel="03" />
                                                <f:selectItem itemValue="4" itemLabel="04" />
                                                <f:selectItem itemValue="5" itemLabel="05" />
                                                <f:selectItem itemValue="6" itemLabel="06" />
                                                <f:selectItem itemValue="7" itemLabel="07" />
                                                <f:selectItem itemValue="8" itemLabel="08" />
                                                <f:selectItem itemValue="9" itemLabel="09" />
                                                <f:selectItem itemValue="10" itemLabel="10" />
                                                <f:selectItem itemValue="11" itemLabel="11" />
                                                <f:selectItem itemValue="12" itemLabel="12" />
                                                <f:selectItem itemValue="13" itemLabel="13" />
                                                <f:selectItem itemValue="14" itemLabel="14" />
                                                <f:selectItem itemValue="15" itemLabel="15" />
                                                <f:selectItem itemValue="16" itemLabel="16" />
                                                <f:selectItem itemValue="17" itemLabel="17" />
                                                <f:selectItem itemValue="18" itemLabel="18" />
                                                <f:selectItem itemValue="19" itemLabel="19" />
                                                <f:selectItem itemValue="20" itemLabel="20" />
                                                <f:selectItem itemValue="21" itemLabel="21" />
                                                <f:selectItem itemValue="22" itemLabel="22" />
                                                <f:selectItem itemValue="23" itemLabel="23" />
                                            </p:selectOneMenu>
                                        </td>
                                        <td valign="top">

                                        </td>
                                        <td valign="top">
                                            <h:outputText value="" />
                                        </td>
                                    </tr>
                                </table>
                            </h:panelGroup>

                            <h:outputText value="" />
                            <h:panelGroup>
                                <p:commandButton value="Submit" action="#{userDashboardHistoryPercentManagedBean.showPrevDataAction}" update="frm1" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                <p:commandButton id="idBtnTotalPercent" value="#{userDashboardHistoryPercentManagedBean.showPercentButtonText}"
                                                 action="#{userDashboardHistoryPercentManagedBean.showPercentChangeListener}"
                                                 update="frm1" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                <p:commandButton value="View Current"
                                                 action="#{userDashboardHistoryPercentManagedBean.showCurrentAction}" />
                            </h:panelGroup>

                        </h:panelGrid>
                    </div>
                    <br/>
                    
                    
                    <ui:remove>
                    <p:dataGrid id="idDataGrid" value="#{userDashboardHistoryPercentManagedBean.listC3Chart}" var="item" columns="2" >

                        <h:panelGroup>
                            <h:outputText value="#{item.title}" styleClass="bold" /><br/>
                            <h:outputText value=" Percent(%)" />
                            <c3:line data="#{item.data}" axis="#{item.axis}" point="#{item.point}"
                                     style="width: 600px; height: 400px;" >
                                <p:ajax event="click" listener="#{userDashboardHistoryPercentManagedBean.itemClick}" />
                            </c3:line>
                            <br/><br/>
                        </h:panelGroup>


                    </p:dataGrid>
                    </ui:remove>



                    <table>
                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryPercentManagedBean.chartBeanArray[0].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[0]}" />
                                    <c3:line data="#{userDashboardHistoryPercentManagedBean.chartBeanArray[0].data}"
                                             axis="#{userDashboardHistoryPercentManagedBean.chartBeanArray[0].axis}"
                                             point="#{userDashboardHistoryPercentManagedBean.chartBeanArray[0].point}"
                                             rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[0]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryPercentManagedBean.chartBeanArray[1].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[1]}" />
                                    <c3:line data="#{userDashboardHistoryPercentManagedBean.chartBeanArray[1].data}"
                                             axis="#{userDashboardHistoryPercentManagedBean.chartBeanArray[1].axis}"
                                             point="#{userDashboardHistoryPercentManagedBean.chartBeanArray[1].point}"
                                             rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[1]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryPercentManagedBean.chartBeanArray[2].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[2]}" />
                                    <c3:line data="#{userDashboardHistoryPercentManagedBean.chartBeanArray[2].data}"
                                             axis="#{userDashboardHistoryPercentManagedBean.chartBeanArray[2].axis}"
                                             point="#{userDashboardHistoryPercentManagedBean.chartBeanArray[2].point}"
                                             rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[2]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryPercentManagedBean.chartBeanArray[3].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[3]}" />
                                    <c3:line data="#{userDashboardHistoryPercentManagedBean.chartBeanArray[3].data}"
                                             axis="#{userDashboardHistoryPercentManagedBean.chartBeanArray[3].axis}"
                                             point="#{userDashboardHistoryPercentManagedBean.chartBeanArray[3].point}"
                                             rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[3]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryPercentManagedBean.chartBeanArray[4].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[4]}" />
                                    <c3:line data="#{userDashboardHistoryPercentManagedBean.chartBeanArray[4].data}"
                                             axis="#{userDashboardHistoryPercentManagedBean.chartBeanArray[4].axis}"
                                             point="#{userDashboardHistoryPercentManagedBean.chartBeanArray[4].point}"
                                             rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[4]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryPercentManagedBean.chartBeanArray[5].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[5]}" />
                                    <c3:line data="#{userDashboardHistoryPercentManagedBean.chartBeanArray[5].data}"
                                             axis="#{userDashboardHistoryPercentManagedBean.chartBeanArray[5].axis}"
                                             point="#{userDashboardHistoryPercentManagedBean.chartBeanArray[5].point}"
                                             rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[5]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryPercentManagedBean.chartBeanArray[6].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[6]}" />
                                    <c3:line data="#{userDashboardHistoryPercentManagedBean.chartBeanArray[6].data}"
                                             axis="#{userDashboardHistoryPercentManagedBean.chartBeanArray[6].axis}"
                                             point="#{userDashboardHistoryPercentManagedBean.chartBeanArray[6].point}"
                                             rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[6]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryPercentManagedBean.chartBeanArray[7].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[7]}" />
                                    <c3:line data="#{userDashboardHistoryPercentManagedBean.chartBeanArray[7].data}"
                                             axis="#{userDashboardHistoryPercentManagedBean.chartBeanArray[7].axis}"
                                             point="#{userDashboardHistoryPercentManagedBean.chartBeanArray[7].point}"
                                             rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[7]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryPercentManagedBean.chartBeanArray[8].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[8]}" />
                                    <c3:line data="#{userDashboardHistoryPercentManagedBean.chartBeanArray[8].data}"
                                             axis="#{userDashboardHistoryPercentManagedBean.chartBeanArray[8].axis}"
                                             point="#{userDashboardHistoryPercentManagedBean.chartBeanArray[8].point}"
                                             rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[8]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryPercentManagedBean.chartBeanArray[9].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[9]}" />
                                    <c3:line data="#{userDashboardHistoryPercentManagedBean.chartBeanArray[9].data}"
                                             axis="#{userDashboardHistoryPercentManagedBean.chartBeanArray[9].axis}"
                                             point="#{userDashboardHistoryPercentManagedBean.chartBeanArray[9].point}"
                                             rendered="#{userDashboardHistoryPercentManagedBean.renderChartArray[9]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>
                    </table>



                </div>

            </h:form>
        </p:panel>

        <!-- 180717 Modify by AAH-->
        <ui:remove>
            <p:ajaxStatus onstart="PF('pleaseWaitDialog').hide();" oncomplete="PF('pleaseWaitDialog').hide();" />
            <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
                <table border="0">
                    <tr>
                        <td>
                            <h:graphicImage value="/images/ajax-loader.gif" />
                        </td>
                        <td>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        </td>
                        <td valign="middle">
                            <h:outputText value="Please wait ...." />
                        </td>
                    </tr>
                </table>
            </p:dialog>
        </ui:remove>

    </ui:define>
</ui:composition>
