.centerbox {
    width: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 20px;
    resize: none;
    overflow: auto;
}

.backgrnd {
    background-image: url("/eis/images/delete.png");
}

.charttitle {
    font-weight: bold;
    font-size: 14px;
}

.favoriteoff {
    color: gray;
}

.favoriteon {
    color: red;
}