body {
    font: Arial;
    font-size: 12px;
}

.ui-widget {
    font-size: 12px;
    font: Arial;
}

.commonText {
    font-size: 12px;
    font-family:Arial;
}

.bold {
    font-weight: bold;;
}

.alignright {
    text-align: right;
}

.ui-widget-header {
    border: none;
}

.ui-datatable .ui-datatable-header {
    color: black;
    background: #fcfdfd;
}

.ui-paginator {
    background: #fcfdfd;
}

.ui-toolbar {
    background: #fcfdfd;
}

.ui-tabs {
    
}

.ui-tabs-nav {
    background: #fcfdfd;
}


.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}

.ui-datepicker {
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background:#ffffff;
    -moz-box-shadow:inset 0 0px 0px #ffffff;
    -webkit-box-shadow:inset 0 0px 0px #ffffff;
    box-shadow:inset 0 0px 0px #ffffff;
    color:#2E6E9E;
}

.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus {
    -moz-box-shadow:0px 0px 0px #ffffff, inset 0 0px 0px #ffffff;
    -webkit-box-shadow:0px 0px 0px #ffffff, inset 0 0px 0px #ffffff;
    box-shadow:0px 0px 0px #ffffff, inset 0 0px 0px #ffffff;
}

.ui-corner-all {
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
}

.ui-corner-top {
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
}

.ui-growl {
    left: 40%;
    top: 10px;
    z-index: 9999;
}


.ui-datatable-odd {
    background: none repeat scroll 0 0 #d4e1fe;
}

/* override older pf */
.ui-datatable table, .ui-datatable-resizable table {
    table-layout: auto !important;
}

.ui-datatable-scrollable table {
    table-layout: fixed !important;
}
/* override older pf */

/*
.layout-noborder .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.ui-layout-center, .ui-layout-pane, .ui-layout-pane-center {
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.ui-layout-resizer, .ui-layout-resizer-north, .ui-layout-resizer-open, .ui-layout-resizer-north-open {
    display: none;
    visibility: hidden;
}
*/


.nogap {
        border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.nestedUnit {
	border:0px none !important;
}

li.menudashboard ul.ui-menu-child {
  overflow-y: auto;      
  max-height: 400px;      
}

ul.ui-menu-child {
    width: 220px !important;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: black !important;
}