<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<head>
    <title>..::  ::..</title>
    <h:outputStylesheet library="css" name="style.css" />
</head>

<body>
    <div>
        <div><!-- Header --></div>

        <div id="content">
            <div style="background-color:#fcfdfd;">
                <div style="width:100%; height:100px; background-color:#ffffff;" >
                    <!--
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td width="70%" valign="top" >
                                <div style="padding-left:10px;padding-top:10px;color:white;font-size:24px;font-weight:bold;font-family:arial;">App</div>
                                <div style="padding-left:10px;padding-top:10px;color:white;font-size:24px;font-weight:bold;font-family:arial;"></div>
                            </td>
                            <td width="30%" valign="middle">
                                <div style="padding-top:10px;padding-right:10px;" align="right">
                                    <img src="images/location_icon.jpg" width="80" height="80" />
                                </div>
                            </td>
                        </tr>
                    </table>
                    -->
                </div>
                <img src="/images/spacer.gif" width="1" height="185" /><br/>
                <div style="margin-left:500px; width: 220px; height:140px;">
                    <div class="commonText">
                        <b>
                            <div style="font-size: 22px">
                        Session expired<br/>
                        Click here to <h:link outcome="/login.do" >re-login</h:link>
                            </div>
                        </b>
                    </div>
                </div>
                <br/>
                <img src="/images/spacer.gif" width="1" height="185" /><br/>
                <div style="width:100%; height:60px; background-color:#ffffff;" >
                </div>
                
            </div>
        </div>

        <div><!-- Footer --></div>
    </div>
</body>
</html>



