<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">
        <p:panel header="#{msg.list_sequential_parameter}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="false" life="3000" />

                <div class="divPanelForm">
                    <h:graphicImage value="/images/spacer.gif" width="5" height="20" />
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listSequentialParameterManagedBean.listSequentialParam}" paginator="true" rows="" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:50%" >

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="2" headerText="#{msg.no}" />
                                <p:column rowspan="2" headerText="Transaction" />
                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Total" />
                                <p:column rowspan="2" headerText="" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.trx}" />
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.mintrxapp1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minamtapp1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.mintrxtot1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minamttot1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column style="width:20px">
                            <h:outputLink value="editSequentialParameter.do">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="wlTrx" value="#{item.trx}" />
                            </h:outputLink>
                        </p:column>
                    </p:dataTable>
                </div>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
