<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="common/template/private_template_welcome.xhtml">


    <ui:define name="content">
    
        <h:form>
            <p:panel style="margin-top:200px; margin-left:500px; width: 235px; height:40px;">
                <h:panelGrid id="grid" columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2">
                    <h:graphicImage value="/images/notvalid.png" width="24" height="24" />
                    <h:outputText styleClass="commonText, bold" value="Anda Tidak Mempunyai Akses" />
                </h:panelGrid>
            </p:panel>
        </h:form>

    </ui:define>

</ui:composition>
