<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="common/template/private_template.xhtml">


    <ui:define name="content">
        <h:form>

        </h:form>

        <p:inputText rendered="false" />

    </ui:define>
</ui:composition>
