<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{transactionIndicatorMonitoringHourHistoryManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />



                <div class="divPanelForm">
                    <h:inputHidden value="{transactionIndicatorMonitoringHourHistoryManagedBean.history}" />

                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="#{msg.bank}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoringHourHistoryManagedBean.selectedBankId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{transactionIndicatorMonitoringHourHistoryManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>

                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoringHourHistoryManagedBean.selectedTrxId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItem itemValue="ALL" itemLabel="All Transaction" />
                            <f:selectItems value="#{transactionIndicatorMonitoringHourHistoryManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                            <p:ajax event="change" listener="#{transactionIndicatorMonitoringHourHistoryManagedBean.trxIdChangeListener}" update="idTransIndic" />
                        </p:selectOneMenu>



                        <h:outputText value="#{msg.start_date}" />
                        <h:panelGroup>
                            <table>
                                <tr>
                                    <td valign="top">
                                        <p:calendar id="idStartDate" value="#{transactionIndicatorMonitoringHourHistoryManagedBean.selectedStartDate}" styleClass="commonText"

                                                    showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"

                                                    pattern="#{transactionIndicatorMonitoringHourHistoryManagedBean.defaultCalendarDateFormat}" />
                                    </td>
                                    <td valign="top">
                                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                                        <p:selectOneMenu id="idStartHour"

                                                         value="#{transactionIndicatorMonitoringHourHistoryManagedBean.selectedStartHour}" effect="none" >
                                            <f:selectItem itemValue="0" itemLabel="00" />
                                            <f:selectItem itemValue="1" itemLabel="01" />
                                            <f:selectItem itemValue="2" itemLabel="02" />
                                            <f:selectItem itemValue="3" itemLabel="03" />
                                            <f:selectItem itemValue="4" itemLabel="04" />
                                            <f:selectItem itemValue="5" itemLabel="05" />
                                            <f:selectItem itemValue="6" itemLabel="06" />
                                            <f:selectItem itemValue="7" itemLabel="07" />
                                            <f:selectItem itemValue="8" itemLabel="08" />
                                            <f:selectItem itemValue="9" itemLabel="09" />
                                            <f:selectItem itemValue="10" itemLabel="10" />
                                            <f:selectItem itemValue="11" itemLabel="11" />
                                            <f:selectItem itemValue="12" itemLabel="12" />
                                            <f:selectItem itemValue="13" itemLabel="13" />
                                            <f:selectItem itemValue="14" itemLabel="14" />
                                            <f:selectItem itemValue="15" itemLabel="15" />
                                            <f:selectItem itemValue="16" itemLabel="16" />
                                            <f:selectItem itemValue="17" itemLabel="17" />
                                            <f:selectItem itemValue="18" itemLabel="18" />
                                            <f:selectItem itemValue="19" itemLabel="19" />
                                            <f:selectItem itemValue="20" itemLabel="20" />
                                            <f:selectItem itemValue="21" itemLabel="21" />
                                            <f:selectItem itemValue="22" itemLabel="22" />
                                            <f:selectItem itemValue="23" itemLabel="23" />
                                        </p:selectOneMenu>
                                    </td>
                                    <td valign="top">
                                        <h:outputText value="HH" />
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>

                        <h:outputText value="#{msg.end_date}" />
                        <h:panelGroup>
                            <table>
                                <tr>
                                    <td valign="top">
                                        <p:calendar id="idEndDate" value="#{transactionIndicatorMonitoringHourHistoryManagedBean.selectedEndDate}" styleClass="commonText"

                                                    showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"

                                                    pattern="#{transactionIndicatorMonitoringHourHistoryManagedBean.defaultCalendarDateFormat}" />
                                    </td>
                                    <td valign="top">
                                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                                        <p:selectOneMenu id="idEndHour"

                                                         value="#{transactionIndicatorMonitoringHourHistoryManagedBean.selectedEndHour}" effect="none" >
                                            <f:selectItem itemValue="0" itemLabel="00" />
                                            <f:selectItem itemValue="1" itemLabel="01" />
                                            <f:selectItem itemValue="2" itemLabel="02" />
                                            <f:selectItem itemValue="3" itemLabel="03" />
                                            <f:selectItem itemValue="4" itemLabel="04" />
                                            <f:selectItem itemValue="5" itemLabel="05" />
                                            <f:selectItem itemValue="6" itemLabel="06" />
                                            <f:selectItem itemValue="7" itemLabel="07" />
                                            <f:selectItem itemValue="8" itemLabel="08" />
                                            <f:selectItem itemValue="9" itemLabel="09" />
                                            <f:selectItem itemValue="10" itemLabel="10" />
                                            <f:selectItem itemValue="11" itemLabel="11" />
                                            <f:selectItem itemValue="12" itemLabel="12" />
                                            <f:selectItem itemValue="13" itemLabel="13" />
                                            <f:selectItem itemValue="14" itemLabel="14" />
                                            <f:selectItem itemValue="15" itemLabel="15" />
                                            <f:selectItem itemValue="16" itemLabel="16" />
                                            <f:selectItem itemValue="17" itemLabel="17" />
                                            <f:selectItem itemValue="18" itemLabel="18" />
                                            <f:selectItem itemValue="19" itemLabel="19" />
                                            <f:selectItem itemValue="20" itemLabel="20" />
                                            <f:selectItem itemValue="21" itemLabel="21" />
                                            <f:selectItem itemValue="22" itemLabel="22" />
                                            <f:selectItem itemValue="23" itemLabel="23" />
                                        </p:selectOneMenu>
                                    </td>
                                    <td valign="top">
                                        <h:outputText value="HH" />
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>



                        <h:panelGroup>
                            <h:outputText value="#{msg.transaction_indicator}" rendered="false" />
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:selectManyCheckbox id="idTransIndic" rendered="false" value="#{transactionIndicatorMonitoringHourHistoryManagedBean.selectedTransactionIndicatorId}" >
                                <f:selectItems value="#{transactionIndicatorMonitoringHourHistoryManagedBean.listTrxIdIndicator}" var="o" itemLabel="#{o.trxnameindicator}" itemValue="#{o.trxidindicator}" />
                            </p:selectManyCheckbox>
                        </h:panelGroup>

                        <h:outputLabel />
                        <p:selectBooleanCheckbox itemLabel="#{msg.show_table}" value="#{transactionIndicatorMonitoringHourHistoryManagedBean.showTable}" />

                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{transactionIndicatorMonitoringHourHistoryManagedBean.submitAction}" update="frm1" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="View Current" action="#{transactionIndicatorMonitoringHourHistoryManagedBean.showCurrent}" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton id="idBtnTotalPercent" value="#{transactionIndicatorMonitoringHourHistoryManagedBean.showPercentButtonText}"
                                             action="#{transactionIndicatorMonitoringHourHistoryManagedBean.showPercentChangeListener}"
                                             update=":frm1" />
                        </h:panelGroup>

                    </h:panelGrid>


                    <br/><br/>

                    <div>

                        <p:selectBooleanCheckbox value="#{transactionIndicatorMonitoringHourHistoryManagedBean.showPercent}" style="visibility: hidden;" />
                    </div>
                    <br/>
                    <div>
                        <h:outputText styleClass="bold" value="#{msg.bank} : " />
                        <h:outputText styleClass="bold" value="#{transactionIndicatorMonitoringHourHistoryManagedBean.selectedBankName}" />
                        <br/>
                        <h:outputText styleClass="bold" value="#{msg.date} : " />
                        <h:outputText rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.render}" styleClass="bold" value="#{transactionIndicatorMonitoringHourHistoryManagedBean.selectedEndDate}" >
                            <f:convertDateTime pattern="#{transactionIndicatorMonitoringHourHistoryManagedBean.defaultCalendarDateFormat}" />
                        </h:outputText>
                        <br/>
                        <h:outputText styleClass="bold" value="#{msg.transaction} : " />
                        <h:outputText styleClass="bold" value="#{transactionIndicatorMonitoringHourHistoryManagedBean.selectedTrxName}" />
                        <br/>
                        <ui:remove>
                            <h:outputText styleClass="bold" value="#{msg.transaction_indicator} : " />
                            <h:outputText styleClass="bold" value="#{transactionIndicatorMonitoringHourHistoryManagedBean.selectedTransactionIndicatorName}" />
                        </ui:remove>
                    </div>


                    <br/><br/>

                    <table>
                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_only}"
                                                        rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqOnly == 'true'}"
                                                        styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanAcqOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanAcqOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanAcqOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_only}"
                                              rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderIssOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanIssOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanIssOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanIssOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderIssOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:outputText value="#{msg.bnf_only}"
                                              rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderBnfOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanBnfOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanBnfOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanBnfOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderBnfOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.acq_iss}"
                                              rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqIss == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanAcqIss.data}"
                                         axis="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanAcqIss.axis}"
                                         point="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanAcqIss.point}"
                                         rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqIss == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_bnf}"
                                              rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqBnf == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanAcqBnf.data}"
                                         axis="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanAcqBnf.axis}"
                                         point="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanAcqBnf.point}"
                                         rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqBnf == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_bnf}"
                                              rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderIssBnf == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanIssBnf.data}"
                                         axis="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanIssBnf.axis}"
                                         point="#{transactionIndicatorMonitoringHourHistoryManagedBean.c3ChartBeanIssBnf.point}"
                                         rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderIssBnf == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>
                    </table>

                    <br/><br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{transactionIndicatorMonitoringHourHistoryManagedBean.list}"
                                 style="width:60%" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.showTable}" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="2" headerText="#{msg.no}" />
                                <p:column rowspan="2" headerText="#{msg.period}" />
                                <p:column rowspan="2" headerText="#{msg.from}" />
                                <p:column rowspan="2" headerText="#{msg.to}" />
                                <p:column colspan="3" headerText="#{msg.acq_only}" />
                                <p:column colspan="3" headerText="#{msg.iss_only}" />
                                <p:column colspan="3" headerText="#{msg.bnf_only}" />
                                <p:column colspan="3" headerText="#{msg.acq_iss}" />
                                <p:column colspan="3" headerText="#{msg.acq_bnf}" />
                                <p:column colspan="3" headerText="#{msg.iss_bnf}" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.period}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.hourfr}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.hourto}" />
                        </p:column>

                        <p:column >
                            <div align="right">
                            <h:outputText value="#{item.freq_acq_app}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqOnly}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                            <h:outputText value="#{item.freq_iss_app}"  rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderIssOnly}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc}"  rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df}"  rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                            <h:outputText value="#{item.freq_bnf_app}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderBnfOnly}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                            <h:outputText value="#{item.freq_acqIss_app}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqIss}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                            <h:outputText value="#{item.freq_acqBnf_app}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqBnf}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                            <h:outputText value="#{item.freq_issBnf_app}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderIssBnf}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df}" rendered="#{transactionIndicatorMonitoringHourHistoryManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>




                </div>




            </h:form>
        </p:panel>

        <!-- 180717 Modify by AAH-->
        <ui:remove>
        <p:ajaxStatus onstart="PF('pleaseWaitDialog').hide();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/ajax-loader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>
        </ui:remove>

    </ui:define>
</ui:composition>
