<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{transactionIndicatorMonitoring30MinPercentManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />
                <p:poll
                        interval="#{transactionIndicatorMonitoring30MinPercentManagedBean.graphRefreshInterval}"
                        listener="#{transactionIndicatorMonitoring30MinPercentManagedBean.onPoolListener}"
                        update="@this, frm1" />


                <div class="divPanelForm">

                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="#{msg.bank}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoring30MinPercentManagedBean.selectedBankId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{transactionIndicatorMonitoring30MinPercentManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>

                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoring30MinPercentManagedBean.selectedTrxId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItem itemValue="ALL" itemLabel="All Transaction" />
                            <f:selectItems value="#{transactionIndicatorMonitoring30MinPercentManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                            <p:ajax event="change" listener="#{transactionIndicatorMonitoring30MinPercentManagedBean.trxIdChangeListener}" update="idTransIndic" />
                        </p:selectOneMenu>






                        <h:panelGroup>
                            <h:outputText value="#{msg.transaction_indicator}" rendered="false" />
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:selectManyCheckbox id="idTransIndic" rendered="false" value="#{transactionIndicatorMonitoring30MinPercentManagedBean.selectedTransactionIndicatorId}" >
                                <f:selectItems value="#{transactionIndicatorMonitoring30MinPercentManagedBean.listTrxIdIndicator}" var="o" itemLabel="#{o.trxnameindicator}" itemValue="#{o.trxidindicator}" />
                            </p:selectManyCheckbox>
                        </h:panelGroup>

                        <h:outputLabel />
                        <p:selectBooleanCheckbox itemLabel="#{msg.show_table}" value="#{transactionIndicatorMonitoring30MinPercentManagedBean.showTable}" />

                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{transactionIndicatorMonitoring30MinPercentManagedBean.submitAction}" update="frm1" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="View History" action="#{transactionIndicatorMonitoring30MinPercentManagedBean.showHistory}" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton id="idBtnTotalPercent" value="#{transactionIndicatorMonitoring30MinPercentManagedBean.showPercentButtonText}"
                                             action="#{transactionIndicatorMonitoring30MinPercentManagedBean.showPercentChangeListener}"
                                             update="frm1" />
                        </h:panelGroup>

                    </h:panelGrid>


                    <br/><br/>


                    <div>
                    </div>
                    <div>
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderResult}"
                                      value="#{msg.bank} : " />
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderResult}"
                                      value="#{transactionIndicatorMonitoring30MinPercentManagedBean.selectedBankName}" />
                        <br/>
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderResult}"
                                      value="#{msg.date} : " />
                        <h:outputText rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.render}" styleClass="bold" value="#{transactionIndicatorMonitoring30MinPercentManagedBean.dateNow}" >
                            <f:convertDateTime pattern="#{transactionIndicatorMonitoring30MinPercentManagedBean.defaultCalendarDateFormat}" />
                        </h:outputText>
                        <br/>
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderResult}"
                                      value="#{msg.transaction} : " />
                        <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderResult}"
                                      value="#{transactionIndicatorMonitoring30MinPercentManagedBean.selectedTrxName}" />
                        <br/>
                        <ui:remove>
                            <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderResult}"
                                          value="#{msg.transaction_indicator} : " />
                            <h:outputText styleClass="bold" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderResult}"
                                          value="#{transactionIndicatorMonitoring30MinPercentManagedBean.selectedTransactionIndicatorName}" />
                        </ui:remove>
                    </div>

                    <br/><br/>


                    <table>
                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_only}"
                                              rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqOnly == 'true'}"
                                              styleClass="bold" /><br/>
                                <h:outputText value=" Percent(%)" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqOnly == 'true'}" />
                                <c3:line data="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanAcqOnly.data}"
                                         axis="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanAcqOnly.axis}"
                                         point="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanAcqOnly.point}"
                                         rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_only}"
                                              rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssOnly == 'true'}"
                                              styleClass="bold" /><br/>
                                <h:outputText value=" Percent(%)" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssOnly == 'true'}" />
                                <c3:line data="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanIssOnly.data}"
                                         axis="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanIssOnly.axis}"
                                         point="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanIssOnly.point}"
                                         rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:outputText value="#{msg.bnf_only}"
                                              rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderBnfOnly == 'true'}"
                                              styleClass="bold" /><br/>
                                <h:outputText value=" Percent(%)" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderBnfOnly == 'true'}" />
                                <c3:line data="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanBnfOnly.data}"
                                         axis="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanBnfOnly.axis}"
                                         point="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanBnfOnly.point}"
                                         rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderBnfOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.acq_iss}"
                                              rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqIss == 'true'}"
                                              styleClass="bold" /><br/>
                                <h:outputText value=" Percent(%)" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqIss == 'true'}" />
                                <c3:line data="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanAcqIss.data}"
                                         axis="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanAcqIss.axis}"
                                         point="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanAcqIss.point}"
                                         rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqIss == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_bnf}"
                                              rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqBnf == 'true'}"
                                              styleClass="bold" /><br/>
                                <h:outputText value=" Percent(%)" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqBnf == 'true'}" />
                                <c3:line data="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanAcqBnf.data}"
                                         axis="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanAcqBnf.axis}"
                                         point="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanAcqBnf.point}"
                                         rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqBnf == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_bnf}"
                                              rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssBnf == 'true'}"
                                              styleClass="bold" /><br/>
                                <h:outputText value=" Percent(%)" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssBnf == 'true'}" />
                                <c3:line data="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanIssBnf.data}"
                                         axis="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanIssBnf.axis}"
                                         point="#{transactionIndicatorMonitoring30MinPercentManagedBean.c3ChartBeanIssBnf.point}"
                                         rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssBnf == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>
                    </table>










                    <br/><br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{transactionIndicatorMonitoring30MinPercentManagedBean.list}"
                                 style="width:130%" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.showTable}" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="3" headerText="#{msg.no}" />
                                <p:column rowspan="3" headerText="#{msg.period}" />
                                <p:column colspan="2" headerText="#{msg.minute}" />
                                <p:column colspan="18" headerText="#{msg.frequency}" />
                            </p:row>
                            <p:row>
                                <p:column rowspan="2" headerText="#{msg.from}" />
                                <p:column rowspan="2" headerText="#{msg.to}" />
                                <p:column colspan="3" headerText="#{msg.acq_only}" />
                                <p:column colspan="3" headerText="#{msg.iss_only}" />
                                <p:column colspan="3" headerText="#{msg.bnf_only}" />
                                <p:column colspan="3" headerText="#{msg.acq_iss}" />
                                <p:column colspan="3" headerText="#{msg.acq_bnf}" />
                                <p:column colspan="3" headerText="#{msg.iss_bnf}" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.period}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timefr}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeto}" />
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_app}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_app}"  rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc}"  rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df}"  rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_app}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_app}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_app}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_app}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df}" rendered="#{transactionIndicatorMonitoring30MinPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>




                </div>




            </h:form>
        </p:panel>

        <!-- 180717 Modify by AAH-->
        <ui:remove>
            <p:ajaxStatus onstart="PF('pleaseWaitDialog').hide();" oncomplete="PF('pleaseWaitDialog').hide();" />
            <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
                <table border="0">
                    <tr>
                        <td>
                            <h:graphicImage value="/images/ajax-loader.gif" />
                        </td>
                        <td>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        </td>
                        <td valign="middle">
                            <h:outputText value="Please wait ...." />
                        </td>
                    </tr>
                </table>
            </p:dialog>
        </ui:remove>

    </ui:define>
</ui:composition>
