<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">

                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="5" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="#{msg.bank}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.selectedBankId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <h:outputText value="Previous Transaction : " />
                        <h:panelGroup>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev1" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.activePrev[0]}" itemLabel="% Approve" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev2" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.activePrev[1]}" itemLabel="% Decline Charge" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev3" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.activePrev[2]}" itemLabel="% Decline Free" />
                            <h:graphicImage value="/images/spacer.gif" width="40" height="1" />

                        </h:panelGroup>

                        <ui:remove>
                        <h:outputText value="Show Current : " />
                        <h:panelGroup>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkcurr0" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.activeCurr[0]}" itemLabel="Total" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkcurr1" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.activeCurr[1]}" itemLabel="App" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkcurr2" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.activeCurr[2]}" itemLabel="Dc" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkcurr3" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.activeCurr[3]}" itemLabel="Df" />
                            <h:graphicImage value="/images/spacer.gif" width="40" height="1" />
                            <p:selectBooleanCheckbox value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.checkAllCurr}" itemLabel="Check/Uncheck All" >
                                <p:ajax event="change" listener="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.checkAllCurrListener}"
                                        update="chkcurr0, chkcurr1, chkcurr2, chkcurr3" />
                            </p:selectBooleanCheckbox>
                        </h:panelGroup>
                        </ui:remove>

                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.selectedTrxId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItem itemValue="ALL" itemLabel="All Transaction" />
                            <f:selectItems value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                            <p:ajax event="change" listener="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.trxIdChangeListener}" update="idTransIndic" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />


                        <h:outputText value="#{msg.date}" />
                        <h:panelGroup>
                            <table width="100">
                                <tr>
                                    <td valign="top">
                                        <p:calendar value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.selectedTodayDate}" styleClass="commonText"
                                                    showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                    maxdate="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.maxDate}"
                                                    pattern="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.defaultCalendarDateFormat}" />
                                        <h:outputText value=" (Curr) " />
                                    </td>
                                    <td>
                                        <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                                        <h:outputText value="  vs  " />
                                        <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                                    </td>
                                    <td valign="top">
                                        <p:calendar value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.selectedPrevDate}" styleClass="commonText"
                                                    showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                    maxdate="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.maxDate}"
                                                    pattern="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.defaultCalendarDateFormat}" />
                                        <h:outputText value=" (Prev) " />
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputText value="Time From" />
                        <h:panelGroup>
                            <table>
                                <tr>
                                    <td valign="top">
                                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                                        <p:selectOneMenu id="idStartHour"
                                                         value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.selectedStartHour}" effect="none" >
                                            <f:selectItem itemValue="0" itemLabel="00" />
                                            <f:selectItem itemValue="1" itemLabel="01" />
                                            <f:selectItem itemValue="2" itemLabel="02" />
                                            <f:selectItem itemValue="3" itemLabel="03" />
                                            <f:selectItem itemValue="4" itemLabel="04" />
                                            <f:selectItem itemValue="5" itemLabel="05" />
                                            <f:selectItem itemValue="6" itemLabel="06" />
                                            <f:selectItem itemValue="7" itemLabel="07" />
                                            <f:selectItem itemValue="8" itemLabel="08" />
                                            <f:selectItem itemValue="9" itemLabel="09" />
                                            <f:selectItem itemValue="10" itemLabel="10" />
                                            <f:selectItem itemValue="11" itemLabel="11" />
                                            <f:selectItem itemValue="12" itemLabel="12" />
                                            <f:selectItem itemValue="13" itemLabel="13" />
                                            <f:selectItem itemValue="14" itemLabel="14" />
                                            <f:selectItem itemValue="15" itemLabel="15" />
                                            <f:selectItem itemValue="16" itemLabel="16" />
                                            <f:selectItem itemValue="17" itemLabel="17" />
                                            <f:selectItem itemValue="18" itemLabel="18" />
                                            <f:selectItem itemValue="19" itemLabel="19" />
                                            <f:selectItem itemValue="20" itemLabel="20" />
                                            <f:selectItem itemValue="21" itemLabel="21" />
                                            <f:selectItem itemValue="22" itemLabel="22" />
                                            <f:selectItem itemValue="23" itemLabel="23" />
                                        </p:selectOneMenu>
                                    </td>
                                    <td valign="top">
                                        <h:outputText value="hh" />
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputText value="Time To" />
                        <h:panelGroup>
                            <table>
                                <tr>

                                    <td valign="top">
                                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                                        <p:selectOneMenu id="idEndHour"
                                                         value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.selectedEndHour}" effect="none" >
                                            <f:selectItem itemValue="0" itemLabel="00" />
                                            <f:selectItem itemValue="1" itemLabel="01" />
                                            <f:selectItem itemValue="2" itemLabel="02" />
                                            <f:selectItem itemValue="3" itemLabel="03" />
                                            <f:selectItem itemValue="4" itemLabel="04" />
                                            <f:selectItem itemValue="5" itemLabel="05" />
                                            <f:selectItem itemValue="6" itemLabel="06" />
                                            <f:selectItem itemValue="7" itemLabel="07" />
                                            <f:selectItem itemValue="8" itemLabel="08" />
                                            <f:selectItem itemValue="9" itemLabel="09" />
                                            <f:selectItem itemValue="10" itemLabel="10" />
                                            <f:selectItem itemValue="11" itemLabel="11" />
                                            <f:selectItem itemValue="12" itemLabel="12" />
                                            <f:selectItem itemValue="13" itemLabel="13" />
                                            <f:selectItem itemValue="14" itemLabel="14" />
                                            <f:selectItem itemValue="15" itemLabel="15" />
                                            <f:selectItem itemValue="16" itemLabel="16" />
                                            <f:selectItem itemValue="17" itemLabel="17" />
                                            <f:selectItem itemValue="18" itemLabel="18" />
                                            <f:selectItem itemValue="19" itemLabel="19" />
                                            <f:selectItem itemValue="20" itemLabel="20" />
                                            <f:selectItem itemValue="21" itemLabel="21" />
                                            <f:selectItem itemValue="22" itemLabel="22" />
                                            <f:selectItem itemValue="23" itemLabel="23" />
                                        </p:selectOneMenu>
                                    </td>
                                    <td valign="top">
                                        <h:outputText value="hh" />
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />


                        <h:panelGroup>
                            <h:outputText value="#{msg.transaction_indicator}" rendered="false" />
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:selectManyCheckbox id="idTransIndic" rendered="false" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.selectedTransactionIndicatorId}" >
                                <f:selectItems value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.listTrxIdIndicator}" var="o" itemLabel="#{o.trxnameindicator}" itemValue="#{o.trxidindicator}" />
                            </p:selectManyCheckbox>
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputLabel />
                        <p:selectBooleanCheckbox itemLabel="#{msg.show_table}" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.showTable}" />
                        <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.submitAction}" update="frm1" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="View Current" action="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.showCurrent}" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="#{msg.show_total}" action="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.showPercentChangeListener}" update="frm1" />
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                    </h:panelGrid>


                    <br/><br/>

                    <div>

                    </div>
                    <br/>
                    <div>
                        <h:outputText styleClass="bold" value="#{msg.bank} : "
                                      rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderResult}" />
                        <h:outputText styleClass="bold" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.selectedBankName}"
                                      rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderResult}" />
                        <br/>
                        <h:outputText styleClass="bold" value="#{msg.date} : "
                                      rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderResult}" />
                        <h:outputText rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderResult}" styleClass="bold"
                                      value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.selectedEndDate}" >
                            <f:convertDateTime pattern="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.defaultCalendarDateFormat}" />
                        </h:outputText>
                        <br/>
                        <h:outputText styleClass="bold" value="#{msg.transaction} : " rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderResult}" />
                        <h:outputText styleClass="bold" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.selectedTrxName}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderResult}" />
                        <br/>
                        <ui:remove>
                            <h:outputText styleClass="bold" value="#{msg.transaction_indicator} : " />
                            <h:outputText styleClass="bold" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.selectedTransactionIndicatorName}" />
                        </ui:remove>
                    </div>


                    <br/><br/>

                    <table>
                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_only}"
                                                        rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqOnly == 'true'}"
                                                        styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanAcqOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanAcqOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanAcqOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_only}"
                                              rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanIssOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanIssOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanIssOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:outputText value="#{msg.bnf_only}"
                                              rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderBnfOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanBnfOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanBnfOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanBnfOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderBnfOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.acq_iss}"
                                              rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqIss == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanAcqIss.data}"
                                         axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanAcqIss.axis}"
                                         point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanAcqIss.point}"
                                         rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqIss == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_bnf}"
                                              rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqBnf == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanAcqBnf.data}"
                                         axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanAcqBnf.axis}"
                                         point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanAcqBnf.point}"
                                         rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqBnf == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_bnf}"
                                              rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssBnf == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanIssBnf.data}"
                                         axis="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanIssBnf.axis}"
                                         point="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.c3ChartBeanIssBnf.point}"
                                         rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssBnf == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>
                    </table>

                    <br/><br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.list}"
                                 style="width:220%" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.showTable}" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="3" headerText="#{msg.no}" />
                                <p:column rowspan="3" headerText="#{msg.period}" />
                                <p:column rowspan="3" headerText="#{msg.from}" />
                                <p:column rowspan="3" headerText="#{msg.to}" />
                                <p:column colspan="6" headerText="#{msg.acq_only}" />
                                <p:column colspan="6" headerText="#{msg.iss_only}" />
                                <p:column colspan="6" headerText="#{msg.bnf_only}" />
                                <p:column colspan="6" headerText="#{msg.acq_iss}" />
                                <p:column colspan="6" headerText="#{msg.acq_bnf}" />
                                <p:column colspan="6" headerText="#{msg.iss_bnf}" />
                            </p:row>
                            <p:row>
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.period}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.hourfr}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.hourto}" />
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_app}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_app_prev}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc_prev}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df_prev}"  rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_app}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_app_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df_prev}" rendered="#{transactionIndicatorMonitoringHourShowPrevDayHistoryPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>




                </div>




            </h:form>
        </p:panel>


        <!-- 180717 Modify by AAH-->
        <ui:remove>
        <p:ajaxStatus onstart="PF('pleaseWaitDialog').hide();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/ajax-loader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>
        </ui:remove>

    </ui:define>
</ui:composition>
