<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{transactionIndicatorMonitoringHourManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />
                <p:poll
                        interval="#{transactionIndicatorMonitoringHourManagedBean.graphRefreshInterval}"
                        listener="#{transactionIndicatorMonitoringHourManagedBean.onPoolListener}"
                        update="@this, frm1" />


                <div class="divPanelForm">

                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="#{msg.bank}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoringHourManagedBean.selectedBankId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{transactionIndicatorMonitoringHourManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>

                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{transactionIndicatorMonitoringHourManagedBean.selectedTrxId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItem itemValue="ALL" itemLabel="All Transaction" />
                            <f:selectItems value="#{transactionIndicatorMonitoringHourManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                            <p:ajax event="change" listener="#{transactionIndicatorMonitoringHourManagedBean.trxIdChangeListener}" update="idTransIndic" />
                        </p:selectOneMenu>




                        <h:panelGroup>
                            <h:outputText value="#{msg.transaction_indicator}" rendered="false" />
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:selectManyCheckbox id="idTransIndic" rendered="false" value="#{transactionIndicatorMonitoringHourManagedBean.selectedTransactionIndicatorId}" >
                                <f:selectItems value="#{transactionIndicatorMonitoringHourManagedBean.listTrxIdIndicator}" var="o" itemLabel="#{o.trxnameindicator}" itemValue="#{o.trxidindicator}" />
                            </p:selectManyCheckbox>
                        </h:panelGroup>

                        <h:outputLabel />
                        <p:selectBooleanCheckbox itemLabel="#{msg.show_table}" value="#{transactionIndicatorMonitoringHourManagedBean.showTable}" />

                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{transactionIndicatorMonitoringHourManagedBean.submitAction}" update="frm1" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="View History" action="#{transactionIndicatorMonitoringHourManagedBean.showHistory}" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton id="idBtnTotalPercent" value="#{transactionIndicatorMonitoringHourManagedBean.showPercentButtonText}"
                                             action="#{transactionIndicatorMonitoringHourManagedBean.showPercentChangeListener}"
                                             update="frm1" />
                        </h:panelGroup>

                    </h:panelGrid>


                    <br/><br/>

                    <div>

                    </div>
                    <br/>
                    <div>
                        <h:outputText styleClass="bold" value="#{msg.bank} : "
                                      rendered="#{transactionIndicatorMonitoringHourManagedBean.renderResult}" />
                        <h:outputText styleClass="bold" value="#{transactionIndicatorMonitoringHourManagedBean.selectedBankName}"
                                      rendered="#{transactionIndicatorMonitoringHourManagedBean.renderResult}" />
                        <br/>
                        <h:outputText styleClass="bold" value="#{msg.date} : "
                                      rendered="#{transactionIndicatorMonitoringHourManagedBean.renderResult}" />
                        <h:outputText rendered="#{transactionIndicatorMonitoringHourManagedBean.renderResult}" styleClass="bold"
                                      value="#{transactionIndicatorMonitoringHourManagedBean.dateNow}" >
                            <f:convertDateTime pattern="#{transactionIndicatorMonitoringHourManagedBean.defaultCalendarDateFormat}" />
                        </h:outputText>
                        <br/>
                        <h:outputText styleClass="bold" value="#{msg.transaction} : " rendered="#{transactionIndicatorMonitoringHourManagedBean.renderResult}" />
                        <h:outputText styleClass="bold" value="#{transactionIndicatorMonitoringHourManagedBean.selectedTrxName}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderResult}" />
                        <br/>
                        <ui:remove>
                            <h:outputText styleClass="bold" value="#{msg.transaction_indicator} : " />
                            <h:outputText styleClass="bold" value="#{transactionIndicatorMonitoringHourManagedBean.selectedTransactionIndicatorName}" />
                        </ui:remove>
                    </div>


                    <br/><br/>

                    <table>
                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_only}"
                                                        rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqOnly == 'true'}"
                                                        styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanAcqOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanAcqOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanAcqOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_only}"
                                              rendered="#{transactionIndicatorMonitoringHourManagedBean.renderIssOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanIssOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanIssOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanIssOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourManagedBean.renderIssOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:outputText value="#{msg.bnf_only}"
                                              rendered="#{transactionIndicatorMonitoringHourManagedBean.renderBnfOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanBnfOnly.data}"
                                         axis="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanBnfOnly.axis}"
                                         point="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanBnfOnly.point}"
                                         rendered="#{transactionIndicatorMonitoringHourManagedBean.renderBnfOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.acq_iss}"
                                              rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqIss == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanAcqIss.data}"
                                         axis="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanAcqIss.axis}"
                                         point="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanAcqIss.point}"
                                         rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqIss == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_bnf}"
                                              rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqBnf == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanAcqBnf.data}"
                                         axis="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanAcqBnf.axis}"
                                         point="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanAcqBnf.point}"
                                         rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqBnf == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_bnf}"
                                              rendered="#{transactionIndicatorMonitoringHourManagedBean.renderIssBnf == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanIssBnf.data}"
                                         axis="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanIssBnf.axis}"
                                         point="#{transactionIndicatorMonitoringHourManagedBean.c3ChartBeanIssBnf.point}"
                                         rendered="#{transactionIndicatorMonitoringHourManagedBean.renderIssBnf == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>
                    </table>

                    <br/><br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{transactionIndicatorMonitoringHourManagedBean.list}"
                                 style="width:120%" rendered="#{transactionIndicatorMonitoringHourManagedBean.showTable}" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="2" headerText="#{msg.no}" />
                                <p:column rowspan="2" headerText="#{msg.period}" />
                                <p:column rowspan="2" headerText="#{msg.from}" />
                                <p:column rowspan="2" headerText="#{msg.to}" />
                                <p:column colspan="3" headerText="#{msg.acq_only}" />
                                <p:column colspan="3" headerText="#{msg.iss_only}" />
                                <p:column colspan="3" headerText="#{msg.bnf_only}" />
                                <p:column colspan="3" headerText="#{msg.acq_iss}" />
                                <p:column colspan="3" headerText="#{msg.acq_bnf}" />
                                <p:column colspan="3" headerText="#{msg.iss_bnf}" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.period}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timefr}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeto}" />
                        </p:column>

                        <p:column >
                            <div align="right">
                            <h:outputText value="#{item.freq_acq_app}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqOnly}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                            <h:outputText value="#{item.freq_iss_app}"  rendered="#{transactionIndicatorMonitoringHourManagedBean.renderIssOnly}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc}"  rendered="#{transactionIndicatorMonitoringHourManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df}"  rendered="#{transactionIndicatorMonitoringHourManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                            <h:outputText value="#{item.freq_bnf_app}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderBnfOnly}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                            <h:outputText value="#{item.freq_acqIss_app}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqIss}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                            <h:outputText value="#{item.freq_acqBnf_app}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqBnf}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                            <h:outputText value="#{item.freq_issBnf_app}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderIssBnf}" >
                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df}" rendered="#{transactionIndicatorMonitoringHourManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>




                </div>




            </h:form>
        </p:panel>


        <!-- 180717 Modify by AAH-->
        <ui:remove>
        <p:ajaxStatus onstart="PF('pleaseWaitDialog').hide();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/ajax-loader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>
        </ui:remove>

    </ui:define>
</ui:composition>
