<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{listBankMonitoringManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <div>
                        <h:panelGrid columns="2" >
                            <h:outputText value="#{msg.bank}" />
                            <p:selectOneMenu value="#{listBankMonitoringManagedBean.selectedBankId}" effect="none">
                                <f:selectItem itemValue="" itemLabel="" />
                                <f:selectItems value="#{listBankMonitoringManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                            </p:selectOneMenu>

                            <h:outputText value="" />
                            <p:commandButton value="#{msg.button_add}" action="#{listBankMonitoringManagedBean.addAction}" update="frm1" />
                        </h:panelGrid>
                    </div>

                    <br/><br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listBankMonitoringManagedBean.list}"
                                 style="width:50%" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="#{msg.no}" />
                                <p:column headerText="#{msg.bank}" />
                                <p:column headerText="" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.eisBank.bankName}" />
                        </p:column>

                        <p:column style="width: 20px;" >
                            <p:commandLink onclick="PF('confirmation').show()" update=":frm1" title="#{msg.delete}" >
                                <i class="fa fa-trash fa-2x" />
                                <f:setPropertyActionListener target="#{listBankMonitoringManagedBean.selectedBankMonitoring}" value="#{item}" />
                            </p:commandLink>
                        </p:column>


                    </p:dataTable>

                    <br/><br/>

                </div>




            </h:form>
        </p:panel>


        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1"
                                 actionListener="#{listBankMonitoringManagedBean.deleteAction}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>


    </ui:define>
</ui:composition>
