<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>..::  ::..</title>
    <h:outputStylesheet library="css" name="style.css" />
</h:head>

<h:body>
    <f:view>
        <h:form id="frm1">
            <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

            <p:panel header="#{msg.change_password}" style="margin-top:200px; margin-left:500px; width: 280px; height:170px;">
                <h:panelGrid id="grid" columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2">
                    <h:outputText styleClass="commonText" value="#{msg.old_password}" />
                    <p:password value="#{loginManagedBean.oldPassword}" maxlength="20"  />

                    <h:outputText styleClass="commonText" value="#{msg.new_password}" />
                    <p:password value="#{loginManagedBean.newPassword}" maxlength="20"  />
                    
                    <h:outputText styleClass="commonText" value="#{msg.re_new_password}" />
                    <p:password value="#{loginManagedBean.reNewPassword}" maxlength="20"  />

                    <h:outputText value="" />
                    <p:commandButton value="#{msg.button_save}" action="#{loginManagedBean.forceChangePassAction}" update="frm1"/>
                    
                </h:panelGrid>
            </p:panel>

        </h:form>
    </f:view>
</h:body>
</html>



        




