<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <h:form id="frm1" >
            <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

            <div class="divPanelForm">
                <p:calendar value="#{testOneManagedBean.selectedDate}" />
                <p:commandButton value="Submit" action="#{testOneManagedBean.submitAction}" update=":frm1" />


                <br/>
                <div>

                    <p:panel style="width:450px;" styleClass="noborder">
                    <p:dataGrid value="#{testOneManagedBean.listDate}" var="item" columns="7">
                        <h:panelGroup>
                            <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                            <br/>
                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"  />
                            </p:panel>
                        </h:panelGroup>
                    </p:dataGrid>
                    </p:panel>
                </div>
            </div>

        </h:form>






    </ui:define>
</ui:composition>
