<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<ui:composition template="../common/template/private_template.xhtml">
    <ui:define name="content">
               

<p:panel header="Message" styleClass="panelContent" >
<h:form>


<h:outputText value="#{messageManagedBean.msg}" /> 


</h:form>
</p:panel>

                
  
  

    </ui:define>
</ui:composition>
</html>