<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="Detail Pan Anomaly Inquiry" styleClass="panelContent">
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td>
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText styleClass="bold" value="Issuer Bank : " />
                                    <h:outputText value="#{detailPanAnomalyInquiryManagedBean.pIssuerBank}" />

                                    <h:outputText styleClass="bold" value="PAN : " />
                                    <c:set var = "bin" value="#{(detailPanAnomalyInquiryManagedBean.pPan.trim()).substring(0,6)}"/>
                                    <c:set var = "filler" value="#{(detailPanAnomalyInquiryManagedBean.pPan.trim()).substring(6,(detailPanAnomalyInquiryManagedBean.pPan.trim()).length()-4)}"/>
                                    <c:set var = "fillerAsterisks" value="${fn:replace(filler, '[0-9]', '*')}"/>
                                    <c:set var = "suffix" value="#{(detailPanAnomalyInquiryManagedBean.pPan.trim()).substring((detailPanAnomalyInquiryManagedBean.pPan.trim()).length()-4,(detailPanAnomalyInquiryManagedBean.pPan.trim()).length())}"/>
                                    <h:outputText value="#{bin.concat(fillerAsterisks).concat(suffix)}" />

                                    <ui:remove>
                                    <h:outputText value="#{detailPanAnomalyInquiryManagedBean.pPan}" />
                                    </ui:remove>

                                    <h:outputText rendered="#{detailPanAnomalyInquiryManagedBean.sender}" styleClass="bold" value="Sender : " />
                                    <h:outputText rendered="#{detailPanAnomalyInquiryManagedBean.sender}" value="#{detailPanAnomalyInquiryManagedBean.pPengirim}" />

                                    <h:outputText styleClass="bold" value="Transaction Type : " />
                                    <h:outputText value="#{detailPanAnomalyInquiryManagedBean.pTranType}" />

                                    <h:outputLabel />
                                    <p:commandButton value="View Detail" action="#{detailPanAnomalyInquiryManagedBean.submitAction}" onbegin="PF('pleaseWaitDialog').show()" oncomplete="PF('pleaseWaitDialog').hide()" update="frm1" />

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>

                    <p:separator />

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{detailPanAnomalyInquiryManagedBean.list}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="both"
                                 style="width:100%; font-size:11px;">

                        <p:columnGroup type="header">
                            <p:row style="font-size:10px;">
                                <p:column rowspan="3" headerText="#{msg.no}" />
                                <p:column rowspan="3" headerText="Date" sortBy="#{item.period}" />
                                <p:column rowspan="3" headerText="Time" sortBy="#{item.trxTime}" />

                                <!-- Added by AAH 200122
                                <p:column colspan="3" headerText="Acquirer" />
                                -->

                                <!-- Modify by AAH 201015-->
                                <p:column rowspan="3" headerText="Acquirer Bank" sortBy="#{item.bankacq}" />
                                <p:column rowspan="3" headerText="Term Owner Name" sortBy="#{item.terminal}" />
                                <p:column rowspan="3" headerText="Term-ID" sortBy="#{item.termId}" />

                                <p:column rendered="#{detailPanAnomalyInquiryManagedBean.beneficiary}" colspan="3" headerText="Beneficiary" />

                                <!-- Added by AAH 200130  -->
                                <p:column colspan="4" headerText="Details" />

                                <ui:remove>
                                <p:column colspan="4" headerText="Frequency" />
                                </ui:remove>

                                <!--Modify by aaw 22/07/2021, amount dan total amount rendered jika tran code selain 30-->
                                <p:column rowspan="3" headerText="Amount" sortBy="#{item.amount}" rendered="#{!detailPanAnomalyInquiryManagedBean.balanceInquiry}" />
                                <!--End-->
                            </p:row>
                            <p:row style="font-size:9px;">

                                <p:column rendered="#{detailPanAnomalyInquiryManagedBean.beneficiary}" headerText="Bank" sortBy="#{item.bankBene}" />
                                <p:column rendered="#{detailPanAnomalyInquiryManagedBean.beneficiary}" headerText="Receiver" sortBy="#{item.nameBene}" />
                                <p:column rendered="#{detailPanAnomalyInquiryManagedBean.beneficiary}" headerText="To Account" sortBy="#{item.toAccount}" />

                                <p:column headerText="Msg Type" sortBy="#{item.msgtype}" />
                                <p:column headerText="POS Entry Mode" sortBy="#{item.posentrymode}" />
                                <p:column headerText="Response Code" sortBy="#{item.rc}" />
                                <!--Fixing by aaw 21/07/2021, fixing sortby-->
                                <p:column headerText="Description" sortBy="#{item.description}" />
                                <!--ENd-->

                                <ui:remove>
                                <p:column rowspan="2" headerText="#{msg.approve}" sortBy="#{item.app}" />
                                <p:column colspan="2" headerText="#{msg.decline}" />
                                <p:column rowspan="2" headerText="Reversal" sortBy="#{item.rvsl}" />
                                </ui:remove>
                            </p:row>

                            <ui:remove>
                            <p:row style="font-size:12px;">
                                <p:column headerText="Charge" sortBy="#{item.dc}" />
                                <p:column headerText="Free" sortBy="#{item.dcFree}" />
                            </p:row>
                            </ui:remove>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <div align="center">
                            <h:outputText value="#{item.period}" />
                            </div>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.trxTime}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.bankacq}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.terminal}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.termId}" />
                        </p:column>

                        <p:column rendered="#{detailPanAnomalyInquiryManagedBean.beneficiary}">
                            <h:outputText rendered="#{detailPanAnomalyInquiryManagedBean.beneficiary}" value="#{item.bankBene}" />
                        </p:column>

                        <p:column rendered="#{detailPanAnomalyInquiryManagedBean.beneficiary}">
                            <h:outputText rendered="#{detailPanAnomalyInquiryManagedBean.beneficiary}" value="#{item.nameBene}" />
                        </p:column>

                        <p:column rendered="#{detailPanAnomalyInquiryManagedBean.beneficiary}">
                            <h:outputText rendered="#{detailPanAnomalyInquiryManagedBean.beneficiary}" value="#{item.toAccount}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.msgtype}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.posentrymode}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.rc}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.description}" />
                        </p:column>

                        <ui:remove>
                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.app}" />
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.dc}" />
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.dcFree}" />
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.rvsl}" />
                            </div>
                        </p:column>
                        </ui:remove>

                        <!--Modify by aaw 22/07/2021, amount dan total amount rendered jika tran code selain 30-->
                        <p:column rendered="#{!detailPanAnomalyInquiryManagedBean.balanceInquiry}">
                            <div align="right">
                                <h:outputText value="#{item.amount}" rendered="#{!detailPanAnomalyInquiryManagedBean.balanceInquiry}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:columnGroup type="footer" style="font-size:12px;" rendered="#{!detailPanAnomalyInquiryManagedBean.balanceInquiry}">
                            <p:row>
                                <p:column colspan="#{detailPanAnomalyInquiryManagedBean.colspan}" footerText="Total" rendered="#{!detailPanAnomalyInquiryManagedBean.balanceInquiry}"/>
                                <p:column style="text-align:right" footerText="#{detailPanAnomalyInquiryManagedBean.valueAmtTotal}" rendered="#{!detailPanAnomalyInquiryManagedBean.balanceInquiry}"/>
                            </p:row>
                        </p:columnGroup>
                        <!--End-->
                    </p:dataTable>
                    <br/><br/>

                </div>

            </h:form>
        </p:panel>

        <p:ajaxStatus onstart="PF('pleaseWaitDialog').show();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/preloader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>

    </ui:define>
</ui:composition>
