<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="Edit PAN Anomaly Aggregate Per Bank Parameter" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="false" life="3000" />

                <div class="divPanelForm">
                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="3" cellspacing="0">
                        <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{editPanAnomalyAggregatePerBankManagedBean.listParamBank}" paginator="true" rows="" paginatorPosition="top"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     paginatorAlwaysVisible="false" style="width:100%" >
                            <p:columnGroup type="header">
                                <p:row>
                                    <p:column rowspan="4" headerText="#{msg.no}" />
                                    <p:column rowspan="4" headerText="Transaction" />
                                    <p:column colspan="8" headerText="Threshold Aggregate 1 Hour" />
                                    <p:column colspan="8" headerText="Threshold Aggregate 3 Hours" />
                                    <p:column colspan="8" headerText="Threshold Aggregate 6 Hours" />
                                    <p:column colspan="8" headerText="Threshold Aggregate 1 Day" />
                                    <p:column colspan="8" headerText="Threshold Aggregate 3 Days" />
                                </p:row>
                                <p:row>
                                    <p:column colspan="2" headerText="Approve" />
                                    <p:column colspan="2" headerText="Decline Charge" />
                                    <p:column colspan="2" headerText="Decline Free" />
                                    <p:column colspan="2" headerText="Reversal" />

                                    <p:column colspan="2" headerText="Approve" />
                                    <p:column colspan="2" headerText="Decline Charge" />
                                    <p:column colspan="2" headerText="Decline Free" />
                                    <p:column colspan="2" headerText="Reversal" />

                                    <p:column colspan="2" headerText="Approve" />
                                    <p:column colspan="2" headerText="Decline Charge" />
                                    <p:column colspan="2" headerText="Decline Free" />
                                    <p:column colspan="2" headerText="Reversal" />

                                    <p:column colspan="2" headerText="Approve" />
                                    <p:column colspan="2" headerText="Decline Charge" />
                                    <p:column colspan="2" headerText="Decline Free" />
                                    <p:column colspan="2" headerText="Reversal" />

                                    <p:column colspan="2" headerText="Approve" />
                                    <p:column colspan="2" headerText="Decline Charge" />
                                    <p:column colspan="2" headerText="Decline Free" />
                                    <p:column colspan="2" headerText="Reversal" />
                                </p:row>
                                <p:row>
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                </p:row>
                            </p:columnGroup>

                            <p:column>
                                <h:outputText value="#{idx+1}"/>
                            </p:column>

                            <p:column>
                                <h:outputText value="#{item.trx}"  size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxApp1h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtApp1h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true"  minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxDc1h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtDc1h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxDcFree1h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtDcFree1h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxRvsl1h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtRvsl1h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxApp3h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtApp3h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxDc3h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtDc3h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxDcFree3h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtDcFree3h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxRvsl3h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtRvsl3h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxApp6h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtApp6h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxDc6h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtDc6h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxDcFree6h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtDcFree6h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxRvsl6h}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtRvsl6h}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxApp1d}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtApp1d}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxDc1d}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtDc1d}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxDcFree1d}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtDcFree1d}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxRvsl1d}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtRvsl1d}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxApp3d}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtApp3d}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxDc3d}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtDc3d}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxDcFree3d}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtDcFree3d}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.trxRvsl3d}" size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.amtRvsl3d}" size="20" maxlength="20" padControl="false">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                        </p:dataTable>
                        <h:outputLabel />
                        <h:panelGroup>
                            <div align="left">
                                <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editPanAnomalyAggregatePerBankManagedBean.saveAction}" update="frm1" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listPanAnomalyAggregatePerBankParameter.do?faces-redirect=true" immediate="true" />
                            </div>
                        </h:panelGroup>
                    </h:panelGrid>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
