<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="Edit PAN Anomaly Aggregate Parameter" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="3" cellspacing="0">
                                    <h:outputLabel value="Transaction"/>
                                    <h:outputText style="font-weight: bold;" escape="false" value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trx}" size="20" maxlength="20" required="true" />

                                    <h:outputLabel value="Freq Approve 1 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxApp1h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Approve 1 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtApp1h}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Decline Charge 1 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxDc1h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Decline Charge 1 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtDc1h}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Decline Free 1 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxDcFree1h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Decline Free 1 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtDcFree1h}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Reversal 1 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxRvsl1h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Reversal 1 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtRvsl1h}" size="20" maxlength="20" padControl="false "  />

                                    <ui:remove>
                                    <h:outputLabel value="Total Amount 1 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtTot1h}" size="20" maxlength="20" padControl="false "  />
                                    </ui:remove>

                                    <h:outputLabel value="Freq Approve 3 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxApp3h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Approve 3 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtApp3h}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Decline Charge 3 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxDc3h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Decline Charge 3 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtDc3h}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Decline Free 3 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxDcFree3h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Decline Free 3 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtDcFree3h}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Reversal 3 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxRvsl3h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Reversal 3 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtRvsl3h}" size="20" maxlength="20" padControl="false "  />

                                    <ui:remove>
                                    <h:outputLabel value="Total Amount 3 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtTot3h}" size="20" maxlength="20" padControl="false "  />
                                    </ui:remove>

                                    <h:outputLabel value="Freq Approve 6 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxApp6h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Approve 6 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtApp6h}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Decline Charge 6 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxDc6h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Decline Charge 6 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtDc6h}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Decline Free 6 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxDcFree6h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Decline Free 6 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtDcFree6h}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Reversal 6 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxRvsl6h}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Reversal 6 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtRvsl6h}" size="20" maxlength="20" padControl="false "  />

                                    <ui:remove>
                                    <h:outputLabel value="Total Amount 6 Hour"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtTot6h}" size="20" maxlength="20" padControl="false "  />
                                    </ui:remove>

                                    <h:outputLabel value="Freq Approve 1 Day"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxApp1d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Approve 1 Day"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtApp1d}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Decline Charge 1 Day"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxDc1d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Decline Charge 1 Day"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtDc1d}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Decline Free 1 Day"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxDcFree1d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Decline Free 1 Day"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtDcFree1d}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Reversal 1 Day"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxRvsl1d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Reversal 1 Day"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtRvsl1d}" size="20" maxlength="20" padControl="false "  />

                                    <ui:remove>
                                        <h:outputLabel value="Total Amount 1 Day"/>
                                        <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtTot1d}" size="20" maxlength="20" padControl="false "  />
                                    </ui:remove>

                                    <h:outputLabel value="Freq Approve 3 Days"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxApp3d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Approve 3 Days"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtApp3d}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Decline Charge 3 Days"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxDc3d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Decline Charge 3 Days"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtDc3d}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Decline Free 3 Days"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxDcFree3d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Decline Free 3 Days"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtDcFree3d}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Reversal 3 Days"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).trxRvsl3d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Reversal 3 Days"/>
                                    <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtRvsl3d}" size="20" maxlength="20" padControl="false "  />

                                    <ui:remove>
                                        <h:outputLabel value="Total Amount 3 Days"/>
                                        <p:inputNumber value="#{editPanAnomalyAggregateParameterManagedBean.panAnomalyParam.get(0).amtTot3d}" size="20" maxlength="20" padControl="false "  />
                                    </ui:remove>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editPanAnomalyAggregateParameterManagedBean.editAction}" update="frm1" />
                                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listPanAnomalyAggregateParameter.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
