<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">
        <p:panel header="PAN Anomaly Bank Beneficiary" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="false" life="3000" />

                <div class="divPanelForm">
                    <h:graphicImage value="/images/spacer.gif" width="5" height="20" />
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listPanAnomalyAggregateParameterBankBeneficiaryManagedBean.listPanAnomalyParamBankBeneficiary}" paginator="true" rows="" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:100%" >

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="4" headerText="#{msg.no}" />
                                <p:column rowspan="4" headerText="Transaction" />
                                <p:column colspan="8" headerText="Threshold Aggregate 1 Hour" />
                                <p:column colspan="8" headerText="Threshold Aggregate 3 Hours" />
                                <p:column colspan="8" headerText="Threshold Aggregate 6 Hours" />
                                <p:column colspan="8" headerText="Threshold Aggregate 1 Day" />
                                <p:column colspan="8" headerText="Threshold Aggregate 3 Days" />
                                <p:column rowspan="4" headerText="" />
                            </p:row>
                            <p:row>
                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />
                                <p:column colspan="2" headerText="Reversal" />
                                <ui:remove>
                                    <p:column rowspan="2" headerText="Total Amount" />
                                </ui:remove>
                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />
                                <p:column colspan="2" headerText="Reversal" />
                                <ui:remove>
                                    <p:column rowspan="2" headerText="Total Amount" />
                                </ui:remove>
                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />
                                <p:column colspan="2" headerText="Reversal" />
                                <ui:remove>
                                    <p:column rowspan="2" headerText="Total Amount" />
                                </ui:remove>
                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />
                                <p:column colspan="2" headerText="Reversal" />
                                <ui:remove>
                                    <p:column rowspan="2" headerText="Total Amount" />
                                </ui:remove>
                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />
                                <p:column colspan="2" headerText="Reversal" />
                                <ui:remove>
                                    <p:column rowspan="2" headerText="Total Amount" />
                                </ui:remove>
                            </p:row>
                            <p:row>
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.trx}" />
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxApp1h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtApp1h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxDc1h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtDc1h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxDcFree1h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtDcFree1h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxRvsl1h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtRvsl1h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <ui:remove>
                            <p:column>
                                <div align="right">
                                    <h:outputText value="#{item.amtTot1h}">
                                        <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                    </h:outputText>
                                </div>
                            </p:column>
                        </ui:remove>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxApp3h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtApp3h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxDc3h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtDc3h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxDcFree3h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtDcFree3h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxRvsl3h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtRvsl3h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <ui:remove>
                            <p:column>
                                <div align="right">
                                    <h:outputText value="#{item.amtTot3h}">
                                        <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                    </h:outputText>
                                </div>
                            </p:column>
                        </ui:remove>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxApp6h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtApp6h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxDc6h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtDc6h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxDcFree6h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtDcFree6h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxRvsl6h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtRvsl6h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <ui:remove>
                            <p:column>
                                <div align="right">
                                    <h:outputText value="#{item.amtTot6h}">
                                        <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                    </h:outputText>
                                </div>
                            </p:column>
                        </ui:remove>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxApp1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtApp1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxDc1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtDc1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxDcFree1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtDcFree1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxRvsl1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtRvsl1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <ui:remove>
                            <p:column>
                                <div align="right">
                                    <h:outputText value="#{item.amtTot1d}">
                                        <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                    </h:outputText>
                                </div>
                            </p:column>
                        </ui:remove>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxApp3d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtApp3d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxDc3d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtDc3d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxDcFree3d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtDcFree3d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.trxRvsl3d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.amtRvsl3d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <ui:remove>
                            <p:column>
                                <div align="right">
                                    <h:outputText value="#{item.amtTot3d}">
                                        <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                    </h:outputText>
                                </div>
                            </p:column>
                        </ui:remove>

                        <p:column style="width:20px">
                            <h:outputLink value="editPanAnomalyAggregateParameterBankBeneficiary.do">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="wlTrx" value="#{item.trx}" />
                            </h:outputLink>
                        </p:column>
                    </p:dataTable>
                </div>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
