<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{panAnomalyBankBeneficiaryInquiryManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td>
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="#{msg.date}" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:calendar value="#{panAnomalyBankBeneficiaryInquiryManagedBean.startDate}" styleClass="commonText" showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true" pattern="#{panAnomalyBankBeneficiaryInquiryManagedBean.defaultCalendarDateFormat}"/>
                                                </td>
                                                <td>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                    <h:outputText value=" To "/>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                </td>
                                                <td valign="top">
                                                    <p:calendar value="#{panAnomalyBankBeneficiaryInquiryManagedBean.endDate}" styleClass="commonText" showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true" pattern="#{panAnomalyBankBeneficiaryInquiryManagedBean.defaultCalendarDateFormat}"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Time"/>
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:calendar value="#{panAnomalyBankBeneficiaryInquiryManagedBean.startTime}" pattern="HH:mm" timeOnly="true" stepMinute="10" readonlyInput="true"/>
                                                </td>
                                                <td>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                    <h:outputText value=" To "/>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                </td>
                                                <td valign="top">
                                                    <p:calendar value="#{panAnomalyBankBeneficiaryInquiryManagedBean.endTime}" pattern="HH:mm" timeOnly="true" stepMinute="10" readonlyInput="true" />
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Transaction"/>
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:selectOneMenu value="#{panAnomalyBankBeneficiaryInquiryManagedBean.transaction}" effect="none">
                                                        <f:selectItems value="#{panAnomalyBankBeneficiaryInquiryManagedBean.listTrxId}" var="p" itemLabel="#{p.trxname}" itemValue="#{p.trxid}"/>
                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Period" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <!-- start modify by erichie -->
                                                    <p:selectOneMenu value="#{panAnomalyBankBeneficiaryInquiryManagedBean.period}" effect="none">
                                                        <f:selectItem itemValue="1H" itemLabel="1 Hour" />
                                                        <f:selectItem itemValue="3H" itemLabel="3 Hours" />
                                                        <f:selectItem itemValue="6H" itemLabel="6 Hours" />
                                                        <f:selectItem itemValue="1D" itemLabel="1 Day" />
                                                        <f:selectItem itemValue="3D" itemLabel="3 Day" />
                                                    </p:selectOneMenu>
                                                    <!-- end modify by erichie -->
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <!--Add aaw 24/05/21-->
                                    <h:outputLabel />
                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:selectBooleanCheckbox rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.role}" itemLabel="Show All Transaction" value="#{panAnomalyBankBeneficiaryInquiryManagedBean.whitelist}" />
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>
                                    <!--End add-->

                                    <h:panelGroup>
                                        <!--Modify by aaw 16/07/2021-->
                                        <p:commandButton value="#{msg.button_submit}" actionListener="#{panAnomalyBankBeneficiaryInquiryManagedBean.submitAction}" update=":frm1" onsuccess="PF('dataTableWidgetVar').filter()" onclick="refresh()" oncomplete="refresh()"/>
                                        <!--End-->
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>
                        </tr>
                    </table>

                    <!-- start add by aaw 21/05/21 -->
                    <p:separator />
                    <div align="left" >
                        <!--Modify by aaw 16/07/2021-->
                        <p:commandButton rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.role}" value="Add To Beneficiary Special Treatment" actionListener="#{panAnomalyBankBeneficiaryInquiryManagedBean.saveItemAction}" update=":frm1" onsuccess="PF('dataTableWidgetVar').filter()" oncomplete="popupMsg()"/>
                        <p:remoteCommand name="refresh" ajax="false" update=":frm1" action="#{panAnomalyBankBeneficiaryInquiryManagedBean.errorMsg}"/>
                        <p:remoteCommand name="popupMsg" ajax="false" update=":frm1" action="#{panAnomalyBankBeneficiaryInquiryManagedBean.popupMsg}"/>
                        <!--End-->
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </div>
                    <!-- end add by aaw -->

                    <p:dataTable id="idTable" widgetVar="dataTableWidgetVar" var="item" rowIndexVar="idx" value="#{panAnomalyBankBeneficiaryInquiryManagedBean.listPanAnomalyDataModel}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="both"
                                 selection="#{panAnomalyBankBeneficiaryInquiryManagedBean.selectedItems}"
                                 disabledSelection="#{item.chkColor == 'TRUE'}"
                                 style="width:100%; font-size:11px;" rowSelectMode="checkbox"
                                 rowStyleClass="#{item.chkColor eq 'TRUE' ? 'ui-state-highlight' : 'true'}">

                        <p:columnGroup type="header">
                            <p:row style="font-size:12px;">
                                <!-- start add by aaw 21/05/21 -->
                                <p:column rowspan="3" headerText="" rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.role}"/>
                                <!-- end modify by aaw -->
                                <p:column rowspan="3" headerText="#{msg.no}" />
                                <p:column rowspan="3" headerText="Date" rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.disable3D}" sortBy="#{item.period}" />
                                <p:column colspan="2" headerText="Date" rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.enable3D}" />
                                <p:column colspan="2" headerText="Time" rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.disable}"/>
                                <!-- start modify by erichie -->
                                <!--<p:column rowspan="3" headerText="#{msg.transaction}" sortBy="#{item.tranType}" /> -->
                                <!--Modify by ait 11/05/21, add href link and searchable in header-->
                                <p:column rowspan="3" headerText="To Account" sortBy="#{item.toAcct}" filterBy="${item.toAcct}" filterMatchMode="contains" value="#{item.toAcct}" />
                                <p:column rowspan="3" headerText="Beneficiary Bank" sortBy="#{item.beneficiaryBank}" filterBy="${item.beneficiaryBank}" filterMatchMode="contains" />
                                <p:column rowspan="3" headerText="Beneficiary Name" sortBy="#{item.beneficiarynameTrim}" filterBy="${item.beneficiarynameTrim}" filterMatchMode="contains" />
                                <!--End modify-->
                                <!-- end modify by erichie -->
                                <p:column colspan="4" headerText="Frequency" />
                                <p:column colspan="4" headerText="Amount" />
                                <p:column rowspan="3" headerText="Total Amount" sortBy="#{item.amt}" />
                            </p:row>
                            <p:row style="font-size:12px;">
                                <p:column rowspan="2" headerText="#{msg.from}" rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.enable3D}" sortBy="#{item.period}" />
                                <p:column rowspan="2" headerText="#{msg.to}" rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.enable3D}" sortBy="#{item.periodDisplay}" />
                                <p:column rowspan="2" headerText="#{msg.from}" rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.disable}" sortBy="#{item.timeFr}" />
                                <p:column rowspan="2" headerText="#{msg.to}" rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.disable}" sortBy="#{item.timeTo}" />
                                <p:column rowspan="2" headerText="#{msg.approve}" sortBy="#{item.freqApp}" />
                                <p:column colspan="2" headerText="#{msg.decline}" />
                                <p:column rowspan="2" headerText="Reversal" sortBy="#{item.freqRvsl}" />
                                <p:column rowspan="2" headerText="#{msg.approve}" sortBy="#{item.amtApp}" />
                                <p:column colspan="2" headerText="#{msg.decline}" />
                                <p:column rowspan="2" headerText="Reversal" sortBy="#{item.amtRvsl}"/>
                            </p:row>
                            <p:row style="font-size:12px;">
                                <p:column headerText="Charge" sortBy="#{item.freqDc}" />
                                <p:column headerText="Free" sortBy="#{item.freqDcFree}" />
                                <p:column headerText="Charge" sortBy="#{item.amtDc}" />
                                <p:column headerText="Free" sortBy="#{item.amtDcFree}" />
                            </p:row>
                        </p:columnGroup>

                        <!-- start add by aaw 21/05/21 -->
                        <p:column rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.role}" selectionMode="multiple" style="width:18px">
                        </p:column>
                        <!-- end add by aaw -->

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.disable3D}" field="#{item.period}" style="width:70px">
                            <h:outputText rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.disable3D}" value="#{item.periodDisplay}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.enable3D}" field="#{item.timeFr}" style="width:70px">
                            <h:outputText rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.enable3D}" value="#{item.period}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.enable3D}" field="#{item.timeTo}" style="width:70px">
                            <h:outputText rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.enable3D}" value="#{item.periodDisplay}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.disable}" field="#{item.timeFr}" style="width:18px">
                            <h:outputText rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.disable}" value="#{item.timeFr}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.disable}" field="#{item.timeTo}">
                            <h:outputText rendered="#{panAnomalyBankBeneficiaryInquiryManagedBean.disable}" value="#{item.timeTo}" >
                            </h:outputText>
                        </p:column>

                        <!-- start modify by erichie -->
                        <!--<p:column field="#{item.tranType}">-->
                        <!--<h:outputText value="#{item.tranType}" />-->
                        <!--</p:column>-->

                        <!-- Modify and Add By AIT 05 May 21, Add href link and new column -->
                        <p:column field="#{item.toAcct}">
                            <!--<h:outputText value="#{item.toAcct}" />-->
                            <h:outputLink styleClass="tablelink" target="_blank" value="../pan/detailBeneficiaryAnomalyInquiry.do?" >
                                <f:param  name="pPeriod" value="#{panAnomalyInquiryManagedBean.paramDecode(item.period)}" />
                                <f:param  name="pTimeFr" value="#{panAnomalyInquiryManagedBean.paramDecode(item.timeFr)}" />
                                <f:param  name="pTimeTo" value="#{panAnomalyInquiryManagedBean.paramDecode(item.timeTo)}" />
                                <f:param  name="pReceiver" value="#{panAnomalyInquiryManagedBean.paramDecode(item.beneficiaryName.trim())}" />
                                <f:param  name="pIssuerBank" value="#{panAnomalyInquiryManagedBean.paramDecode(item.issuerBank)}" />
                                <f:param  name="pStatus" value="#{panAnomalyInquiryManagedBean.paramDecode(item.status)}" />
                                <f:param  name="pPeriodFrom" value="#{panAnomalyInquiryManagedBean.paramDecode(item.periodFrom)}" />
                                <f:param  name="pPeriodTo" value="#{panAnomalyInquiryManagedBean.paramDecode(item.periodTo)}" />
                                <f:param  name="pPeriodType" value="#{panAnomalyInquiryManagedBean.paramDecode(panAnomalyBankBeneficiaryInquiryManagedBean.period)}" />
                                <c:set var = "bin" value="#{(item.toAcct.trim()).substring(0,6)}"/>
                                <c:set var = "filler" value="#{(item.toAcct.trim()).substring(6,(item.toAcct.trim()).length()-4)}"/>
                                <c:set var = "fillerAsterisks" value="${fn:replace(filler, '[0-9]', '*')}"/>
                                <c:set var = "suffix" value="#{(item.toAcct.trim()).substring((item.toAcct.trim()).length()-4,(item.toAcct.trim()).length())}"/>
                                <f:param  name="pToAcct" value="#{panAnomalyInquiryManagedBean.paramDecode(item.toAcct.trim())}" />
                               <!-- <h:outputText value="#{item.toAcct}" />-->
                                <h:outputText value="#{bin.concat(fillerAsterisks).concat(suffix)}" />

                                <f:param  name="pBeneficiaryBank" value="#{panAnomalyInquiryManagedBean.paramDecode(item.beneficiaryBank)}" />
                            </h:outputLink>
                        </p:column>

                        <!-- End AIT -->
                        <!-- end modify by erichie -->

                        <!--<p:column field="#{item.pan}">-->
                        <!--<h:outputLink styleClass="tablelink" target="_blank" value="../pan/detailPanAnomalyInquiry.do?" >-->
                        <!--&lt;!&ndash; 190926 Modify by AAH : Decode param &ndash;&gt;-->
                        <!--<f:param  name="pPeriod" value="#{panAnomalyBankBeneficiaryInquiryManagedBean.paramDecode(item.period)}" />-->
                        <!--<f:param  name="pTimeFr" value="#{panAnomalyBankBeneficiaryInquiryManagedBean.paramDecode(item.timeFr)}" />-->
                        <!--<f:param  name="pTimeTo" value="#{panAnomalyBankBeneficiaryInquiryManagedBean.paramDecode(item.timeTo)}" />-->
                        <!--<f:param  name="pPan" value="#{panAnomalyBankBeneficiaryInquiryManagedBean.paramDecode(item.pan)}" />-->
                        <!--<f:param  name="pPengirim" value="#{panAnomalyBankBeneficiaryInquiryManagedBean.paramDecode(item.pengirim.trim())}" />-->
                        <!--<f:param  name="pIssuerBank" value="#{panAnomalyBankBeneficiaryInquiryManagedBean.paramDecode(item.issuerBank)}" />-->
                        <!--<f:param  name="pTranType" value="#{panAnomalyBankBeneficiaryInquiryManagedBean.paramDecode(item.tranType)}" />-->
                        <!--&lt;!&ndash;<h:outputText value="#{item.pan.substring(0,6).concat(item.pan.replace(item.pan.substring(7,item.pan.length()),'*')).concat(item.pan.substring(item.pan.length()-3,item.pan.length()))}" />&ndash;&gt;-->
                        <!--&lt;!&ndash; start modify by dsheldon &ndash;&gt;-->
                        <!--<c:set var = "bin" value="#{item.pan.substring(0,6)}"/>-->
                        <!--<c:set var = "filler" value="#{item.pan.substring(6,item.pan.length()-4)}"/>-->
                        <!--<c:set var = "fillerAsterisks" value="${fn:replace(filler, '[0-9]', '*')}"/>-->
                        <!--<c:set var = "suffix" value="#{item.pan.substring(item.pan.length()-4,item.pan.length())}"/>-->
                        <!--&lt;!&ndash;<h:outputText value="#{item.pan.substring(0,6).concat(item.pan.substring(6,item.pan.length()-4).replace('/./g','*')).concat(item.pan.substring(item.pan.length()-4,item.pan.length()))}" />&ndash;&gt;-->
                        <!--<h:outputText value="#{bin.concat(fillerAsterisks).concat(suffix)}" />-->
                        <!--&lt;!&ndash; end modify by dsheldon &ndash;&gt;-->
                        <!--</h:outputLink>-->
                        <!--</p:column>-->

                        <!-- start modify by erichie -->
                        <p:column field="#{item.beneficiaryBank}">
                            <h:outputText value="#{item.beneficiaryBank}" />
                        </p:column>

                        <p:column field="#{item.beneficiaryName}">
                            <h:outputText value="#{item.beneficiaryName}" />
                        </p:column>
                        <!-- end modify by erichie t-->

                        <p:column field="#{item.freqApp}">
                            <div align="right" >
                                <h:outputText value="#{item.freqApp}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqDc}">
                            <div align="right" >
                                <h:outputText value="#{item.freqDc}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqDcFree}">
                            <div align="right" >
                                <h:outputText value="#{item.freqDcFree}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqRvsl}">
                            <div align="right" >
                                <h:outputText value="#{item.freqRvsl}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.amtApp}">
                            <div align="right">
                                <h:outputText value="#{item.amtApp}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amtDc}">
                            <div align="right">
                                <h:outputText value="#{item.amtDc}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amtDcFree}">
                            <div align="right">
                                <h:outputText value="#{item.amtDcFree}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amtRvsl}">
                            <div align="right">
                                <h:outputText value="#{item.amtRvsl}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amt}">
                            <div align="right">
                                <h:outputText value="#{item.amt}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>

                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>


