<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../common/template/private_template.xhtml">

    <ui:define name="content">
               


<p:panel header="#{msg.add_user_bank_title}" styleClass="panelContent" >
<h:form id="frm1" >

<p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />
                        
<div class="divPanelForm">

    <table>
        <tr>
            <td valign="top">
                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                    <h:outputLabel>#{msg.user_id}</h:outputLabel>
                    <p:inputText value="#{addUserBankManagedBean.userLogin.userLoginId}" size="40" maxlength="20" required="false" />
                    
                    <h:outputLabel>#{msg.name}</h:outputLabel>
                    <p:inputText value="#{addUserBankManagedBean.userLogin.userName}" size="40" maxlength="100" required="false" />
            
                    <h:outputLabel>#{msg.password}</h:outputLabel>
                    <p:password value="#{addUserBankManagedBean.userLogin.currentPassword}" size="40" maxlength="20" required="false" />

                    <h:outputLabel>#{msg.role_type_id}</h:outputLabel>
                    <p:selectOneMenu value="#{addUserBankManagedBean.userLogin.roleTypeId}" effect="none" >
                        <f:selectItem itemLabel="" itemValue="-1" />
                        <f:selectItems value="#{addUserBankManagedBean.listRole}" var="o" itemLabel="#{o.menuRoleName}" itemValue="#{o.menuRoleTypeId}" />
                    </p:selectOneMenu>

                    <h:outputLabel>#{msg.inst}</h:outputLabel>
                    <p:selectOneMenu value="#{addUserBankManagedBean.userLogin.bankId}" effect="none" filter="true" filterPlaceholder="Search" filterMatchMode="contains">
                        <f:selectItem itemLabel="" itemValue="" />
                        <f:selectItems value="#{addUserBankManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                    </p:selectOneMenu>

                    <h:outputLabel />
                    <h:panelGroup>
                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{addUserBankManagedBean.addUserAction}" update=":frm1" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listUserBank.do?faces-redirect=true" immediate="true" />
                    </h:panelGroup>
                </h:panelGrid>
            </td>
            

        </tr>
    </table>
 

 
 
</div>

</h:form>
</p:panel>


    </ui:define>
</ui:composition>
