<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../common/template/private_template.xhtml">

    <ui:define name="content">
               


<p:panel header="#{msg.add_user_title}" styleClass="panelContent" >
<h:form id="frm1" >

<p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />
                        
<div class="divPanelForm">

    <table>
        <tr>
            <td valign="top">
                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                    <h:outputLabel>#{msg.user_id}</h:outputLabel>
                    <p:inputText value="#{addUserManagedBean.userLogin.userLoginId}" size="40" maxlength="20" required="false" />
                    
                    <h:outputLabel>#{msg.name}</h:outputLabel>
                    <p:inputText value="#{addUserManagedBean.userLogin.userName}" size="40" maxlength="100" required="false" />



                    <h:outputLabel>#{msg.role_type_id}</h:outputLabel>
                    <p:selectOneMenu value="#{addUserManagedBean.userLogin.roleTypeId}" effect="none" >
                        <f:selectItems value="#{addUserManagedBean.listRole}" var="o" itemLabel="#{o.menuRoleName}" itemValue="#{o.menuRoleTypeId}" />
                    </p:selectOneMenu>

                    <ui:remove>
                    <h:outputLabel>#{msg.mobile}</h:outputLabel>
                    <p:inputText value="#{addUserManagedBean.userLogin.mobile}" size="40" maxlength="255" required="false" />
                    </ui:remove>

                    <h:outputLabel>#{msg.email}</h:outputLabel>
                    <p:inputText value="#{addUserManagedBean.userLogin.email}" size="40" maxlength="255" required="false" />

                    <h:outputLabel>#{msg.validation_type}</h:outputLabel>
                    <p:selectOneMenu value="#{addUserManagedBean.userLogin.validationType}">
                        <f:selectItem itemLabel="DOMAIN" itemValue="LDAP" />
                        <f:selectItem itemLabel="INTERNAL" itemValue="INTERNAL" />
                        <p:ajax event="change" listener="#{addUserManagedBean.validationChangeListener}" update="idPass, idPassLabel" />
                    </p:selectOneMenu>

                    <h:panelGroup>
                        <h:outputLabel id="idPassLabel" style="#{addUserManagedBean.passwordCss}" value="#{msg.password}"/>
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:password id="idPass" value="#{addUserManagedBean.userLogin.currentPassword}" size="40" maxlength="20"
                                    style="#{addUserManagedBean.passwordCss}"
                                    required="false" redisplay="true" >
                        </p:password>
                    </h:panelGroup>

                    <h:outputLabel />
                    <h:panelGroup>
                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{addUserManagedBean.addUserAction}" update=":frm1" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listUser.do?faces-redirect=true" immediate="true" />
                    </h:panelGroup>
                </h:panelGrid>
            </td>
            

        </tr>
    </table>
 

 
 
</div>

</h:form>
</p:panel>


    </ui:define>
</ui:composition>
