<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../common/template/private_template.xhtml">

    <ui:define name="content">


<p:panel header="#{msg.change_password}" styleClass="panelContent" >
    <h:form id="frm1" >
        <p:growl id="growl" showDetail="true" sticky="true" life="2000" />
        <h:panelGrid id="grid" columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2">
            <h:outputText styleClass="commonText" value="#{msg.old_password}" />
            <p:password value="#{loginManagedBean.oldPassword}" maxlength="20" />

            <h:outputText styleClass="commonText" value="#{msg.new_password}" />
            <p:password value="#{loginManagedBean.newPassword}" maxlength="20" />

            <h:outputText styleClass="commonText" value="#{msg.re_new_password}" />
            <p:password value="#{loginManagedBean.reNewPassword}" maxlength="20" />

            <h:outputText value="" />
            <h:panelGroup>
                <p:commandButton value="#{msg.button_save}" action="#{loginManagedBean.changePassAction}" update="frm1"/>
            </h:panelGroup>
        </h:panelGrid>

    </h:form>
</p:panel>


    </ui:define>
</ui:composition>
