<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../common/template/private_template.xhtml">

    <ui:define name="content">


  
               

<p:panel header="#{msg.list_user_title}" styleClass="panelContent" >
<h:form id="frm1" >


                        
<div class="divPanelForm">

    <div class="tabCommandArea">
        <h:outputLink styleClass="toolbarMenuLink" value="addUser.do" >
            <h:outputText value="#{msg.button_add}"/>
        </h:outputLink>
    </div>

    <br/>
    <h:panelGrid columns="2" >
        <h:outputText value="#{msg.menu_role_type}" />
        <p:selectOneMenu value="#{listUserManagedBean.selectedRole}" effect="none" >
            <f:selectItem itemLabel="" itemValue="-1" />
            <f:selectItems value="#{listUserManagedBean.listMenuRoleType}" var="o" itemLabel="#{o.menuRoleName}" itemValue="#{o.menuRoleTypeId}" />
        </p:selectOneMenu>

        <h:outputText value="" />
        <p:commandButton value="#{msg.button_submit}" action="#{listUserManagedBean.searchAction}" update="frm1" />
    </h:panelGrid>

    <br/>

    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listUserManagedBean.listUserLogin}" paginator="true" rows="10" paginatorPosition="top"
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                 paginatorAlwaysVisible="false" style="width:100%" >
        <p:column style="width:10px" >  
            <f:facet name="header">  
                #{msg.no}
            </f:facet>
            <h:outputText value="#{idx+1}" />
        </p:column>

        <p:column sortBy="#{item.userLoginId}">
            <f:facet name="header">
                #{msg.user_id}
            </f:facet>
            <h:outputText value="#{item.userLoginId}" />
        </p:column>

        <p:column sortBy="#{item.userName}">
            <f:facet name="header">  
                    #{msg.name}  
            </f:facet>  
            <h:outputText value="#{item.userName}" />
        </p:column>

        <p:column sortBy="#{item.email}">
            <f:facet name="header">
                #{msg.email}
            </f:facet>
            <h:outputText value="#{item.email}" />
        </p:column>

        <p:column sortBy="#{item.menuRoleType.menuRoleName}">
            <f:facet name="header">
                #{msg.role_type_id}
            </f:facet>
            <h:outputText value="#{item.menuRoleType.menuRoleName}" />
        </p:column>

        <p:column>
            <f:facet name="header">
                #{msg.validation_type}
            </f:facet>
            <h:outputText value="#{item.validationType}" rendered="#{item.validationType == 'INTERNAL'}" />
            <h:outputText value="DOMAIN" rendered="#{item.validationType == 'LDAP'}" />
        </p:column>

        <ui:remove>
        <p:column>
            <f:facet name="header">
                #{msg.mobile}
            </f:facet>
            <h:outputText value="#{item.mobile}" />
        </p:column>
        </ui:remove>

        <p:column style="width:65px">  
            <f:facet name="header">    
            </f:facet>  
            <h:outputLink value="editUser.do">
                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                <f:param name="uid" value="#{item.userLoginId}" />
            </h:outputLink>
            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
            <p:commandLink onclick="PF('confirmation').show()" rendered="#{not (item.roleTypeId == 99)}">
                <h:graphicImage value="/images/delete.png" title="#{msg.button_disable}" width="16" height="16" />
                <f:setPropertyActionListener target="#{listUserManagedBean.selectedDeleteItem}" value="#{item}" />
            </p:commandLink>
        </p:column>
    </p:dataTable>
 
</div>


</h:form>
</p:panel>

<p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
    <h:form>
        <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1:idTable"
            actionListener="#{listUserManagedBean.deleteUserActionListener}" />
        <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
    </h:form>
</p:confirmDialog>                 
  
  

    </ui:define>
</ui:composition>
