<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="Add Biller Special Treatment" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputLabel>Institution Code</h:outputLabel>

                                    <p:selectOneMenu value="#{addWhitelistBillerManagedBean.billerId}" effect="none" filter="true" filterMatchMode="contains">
                                        <f:selectItem itemValue="" itemLabel="" />
                                        <f:selectItems value="#{addWhitelistBillerManagedBean.listBiller}" var="o" itemLabel="#{o.billerId} - #{o.billerName}" itemValue="#{o.billerId}" />
                                    </p:selectOneMenu>

                                    <ui:remove>
                                    <p:inputText autocomplete="off" value="#{addWhitelistBillerManagedBean.billerDummy.instCd}" size="30" maxlength="40" onkeyup="this.value=this.value.replace(/[^\d-]/,'')" />
                                    </ui:remove>

                                    <h:outputLabel>Customer No</h:outputLabel>
                                    <p:inputText autocomplete="off" value="#{addWhitelistBillerManagedBean.billerDummy.custNo}" size="50" maxlength="70" />

                                    <h:outputLabel>Customer Name</h:outputLabel>
                                    <p:inputText autocomplete="off" value="#{addWhitelistBillerManagedBean.billerDummy.custName}" size="70" maxlength="70" />

                                    <h:outputLabel>Frequency Approve</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBillerManagedBean.billerDummy.freqApp}" size="30" maxlength="8" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Frequency Decline Charge</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBillerManagedBean.billerDummy.freqDc}" size="30" maxlength="8" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Frequency Decline Free</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBillerManagedBean.billerDummy.freqDcFree}" size="30" maxlength="8" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Approve</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBillerManagedBean.billerDummy.totalAmtApp}" size="30" maxlength="20" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Decline Charge</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBillerManagedBean.billerDummy.totalAmtDc}" size="30" maxlength="20" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Decline Free</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBillerManagedBean.billerDummy.totalAmtDcFree}" size="30" maxlength="20" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <ui:remove>
                                    <h:outputLabel>Amount Total</h:outputLabel>
                                    <p:inputNumber value="#{addWhitelistBillerManagedBean.billerDummy.totalAmt}" size="30" maxlength="20" emptyValue="0" padControl="false "  />
                                    </ui:remove>

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Active" value="#{addWhitelistBillerManagedBean.billerDummy.active}" />

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{addWhitelistBillerManagedBean.saveAction}" update="frm1" />
                                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listWhitelistBiller.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
