<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">
        <p:panel header="Biller Anomaly Aggregate Per Institusi Parameter" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="false" life="3000" />

                <div class="divPanelForm">
                    <h:panelGroup>
                        <h:outputText value="Institution Code"/>
                        <table>
                            <tr>
                                <td valign="top">
                                    <p:selectOneMenu value="#{billerAnomalyInstitutionParameterManagedBean.selectedBillerId}" effect="none" filter="true" filterMatchMode="contains">
                                        <f:selectItem itemValue="" itemLabel="" />
                                        <f:selectItems value="#{billerAnomalyInstitutionParameterManagedBean.listBiller}" var="o" itemLabel="#{o.billerId} - #{o.billerName}" itemValue="#{o.billerId}" />
                                    </p:selectOneMenu>
                                </td>

                            </tr>
                            <tr>
                                <td valign="top">
                                    <p:commandButton value="#{msg.button_submit}" id="submitAction" action="#{billerAnomalyInstitutionParameterManagedBean.submitAction}" update="frm1" onclick="PF('pleaseWaitDialog').show();" oncomplete="PF('pleaseWaitDialog').hide();"/>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <p:commandButton value="#{msg.button_add}" id="submitBillerId"  action="#{billerAnomalyInstitutionParameterManagedBean.submitBillerId}" update="frm1"/>
                                </td>
                                <td valign="top">
                                    <p:commandButton value="#{msg.button_update}" id="submitUpdate" action="#{billerAnomalyInstitutionParameterManagedBean.submitUpdate}" update="frm1"/>
                                </td>
                                <td valign="top">
                                    <p:commandButton value="#{msg.button_delete}" id="submitDelete" onclick="PF('confirmation').show()"/>
                                </td>
                            </tr>
                        </table>
                    </h:panelGroup>
                    <h:graphicImage value="/images/spacer.gif" width="5" height="20" />
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{billerAnomalyInstitutionParameterManagedBean.listBillerAnomalyParam}" paginator="true" rows="" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:100%" >

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="4" headerText="#{msg.no}" />
                                <p:column rowspan="4" headerText="Transaction" />
                                <p:column colspan="6" headerText="Threshold Aggregate 1 Hour" />
                                <p:column colspan="6" headerText="Threshold Aggregate 3 Hours" />
                                <p:column colspan="6" headerText="Threshold Aggregate 6 Hours" />
                                <p:column colspan="6" headerText="Threshold Aggregate 1 Day" />
                                <p:column colspan="6" headerText="Threshold Aggregate 3 Days" />
                            </p:row>
                            <p:row>
                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />

                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />

                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />

                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />

                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />

                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />

                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />

                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />

                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.esqTrxid.trxName}" />
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxApp1h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtApp1h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDc1h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDc1h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDcFree1h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDcFree1h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxApp3h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtApp3h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDc3h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDc3h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDcFree3h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDcFree3h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxApp6h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtApp6h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDc6h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDc6h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDcFree6h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDcFree6h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxApp1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtApp1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDc1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDc1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDcFree1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDcFree1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxApp3d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtApp3d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDc3d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDc3d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDcFree3d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDcFree3d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>
                    </p:dataTable>
                </div>
            </h:form>
        </p:panel>

        <p:ajaxStatus onstart="PF('pleaseWaitDialog').show();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/preloader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>

        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="Are you sure to delete? All data will be deleted" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1" onsuccess="location.reload();"
                                 actionListener="#{billerAnomalyInstitutionParameterManagedBean.submitDelete}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>
</ui:composition>
