<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel rendered="#{editWhitelistBillerManagedBean.isValid eq false}">
            Data Not Found !
        </p:panel>
        <p:panel header="Edit Biller Special Treatment" styleClass="panelContent" rendered="#{editWhitelistBillerManagedBean.isValid eq true}">
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="3" cellspacing="0">
                                    <h:outputLabel>Institution Code</h:outputLabel>
                                    <h:outputText style="font-weight: bold;" escape="false" value="#{editWhitelistBillerManagedBean.whitelistBiller.instCd}" size="30" maxlength="30" required="true" />

                                    <h:outputLabel>Customer No</h:outputLabel>
                                    <h:outputText style="font-weight: bold;" escape="false" value="#{editWhitelistBillerManagedBean.whitelistBiller.custNo}" size="50" maxlength="50" required="true"/>

                                    <h:outputLabel>Customer Name</h:outputLabel>
                                    <h:outputText style="font-weight: bold;" escape="false" value="#{editWhitelistBillerManagedBean.whitelistBiller.custName}" size="70" maxlength="70" required="true"/>

                                    <h:outputLabel>Frequency Approve</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistBillerManagedBean.whitelistBiller.freqApp}" size="30" maxlength="8" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Frequency Decline Charge</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistBillerManagedBean.whitelistBiller.freqDc}" size="30" maxlength="8" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}"  />

                                    <h:outputLabel>Frequency Decline Free</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistBillerManagedBean.whitelistBiller.freqDcFree}" size="30" maxlength="8" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Approve</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistBillerManagedBean.whitelistBiller.totalAmtApp}" size="30" maxlength="20" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Decline Charge</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistBillerManagedBean.whitelistBiller.totalAmtDc}" size="30" maxlength="20" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Decline Free</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{editWhitelistBillerManagedBean.whitelistBiller.totalAmtDcFree}" size="30" maxlength="20" padControl="false" minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <ui:remove>
                                    <h:outputLabel>Amount Total</h:outputLabel>
                                    <p:inputNumber value="#{editWhitelistBillerManagedBean.whitelistBiller.totalAmt}" size="30" maxlength="20" padControl="false" emptyValue="0" />
                                    </ui:remove>

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Active" value="#{editWhitelistBillerManagedBean.whitelistBiller.active}" />

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editWhitelistBillerManagedBean.editAction}" update="frm1" />
                                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listWhitelistBiller.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
