<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="Edit Biller Anomaly Aggregate Institution Parameter" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="false" life="3000" />

                <h:outputLabel value="Institution : "/>
                <h:outputText style="font-weight: bold;" escape="false" value="#{editBillerAnomalyInstitutionManagedBean.pBillerId} - #{editBillerAnomalyInstitutionManagedBean.pBillerName}" size="" maxlength="" required="true" />

                <div class="divPanelForm">
                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="3" cellspacing="0">
                        <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{editBillerAnomalyInstitutionManagedBean.listParamBiller}" paginator="true" rows="" paginatorPosition="top"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     paginatorAlwaysVisible="false" style="width:100%" >
                            <p:columnGroup type="header">
                                <p:row>
                                    <p:column rowspan="4" headerText="#{msg.no}" />
                                    <p:column rowspan="4" headerText="Transaction" />
                                    <p:column colspan="6" headerText="Threshold Aggregate 1 Hour" />
                                    <p:column colspan="6" headerText="Threshold Aggregate 3 Hours" />
                                    <p:column colspan="6" headerText="Threshold Aggregate 6 Hours" />
                                    <p:column colspan="6" headerText="Threshold Aggregate 1 Day" />
                                    <p:column colspan="6" headerText="Threshold Aggregate 3 Days" />
                                </p:row>
                                <p:row>
                                    <p:column colspan="2" headerText="Approve" />
                                    <p:column colspan="2" headerText="Decline Charge" />
                                    <p:column colspan="2" headerText="Decline Free" />

                                    <p:column colspan="2" headerText="Approve" />
                                    <p:column colspan="2" headerText="Decline Charge" />
                                    <p:column colspan="2" headerText="Decline Free" />

                                    <p:column colspan="2" headerText="Approve" />
                                    <p:column colspan="2" headerText="Decline Charge" />
                                    <p:column colspan="2" headerText="Decline Free" />

                                    <p:column colspan="2" headerText="Approve" />
                                    <p:column colspan="2" headerText="Decline Charge" />
                                    <p:column colspan="2" headerText="Decline Free" />

                                    <p:column colspan="2" headerText="Approve" />
                                    <p:column colspan="2" headerText="Decline Charge" />
                                    <p:column colspan="2" headerText="Decline Free" />
                                </p:row>
                                <p:row>
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />

                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />

                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />

                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />

                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />
                                    <p:column headerText="Frequency" />
                                    <p:column headerText="Amount" />

                                </p:row>
                            </p:columnGroup>

                            <p:column>
                                <h:outputText value="#{idx+1}"/>
                            </p:column>

                            <p:column style="display: none">
                                <h:outputText value="#{item.instCd = editBillerAnomalyInstitutionManagedBean.pBillerId}"/>
                            </p:column>

                            <p:column>
                                <h:outputText value="#{item.trxNameTransient}"  size="20" maxlength="20" padControl="false"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxApp1h}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtApp1h}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true"  minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxDc1h}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtDc1h}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxDcFree1h}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtDcFree1h}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxApp3h}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtApp3h}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxDc3h}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtDc3h}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxDcFree3h}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtDcFree3h}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxApp6h}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtApp6h}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxDc6h}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtDc6h}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxDcFree6h}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtDcFree6h}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxApp1d}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtApp1d}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxDc1d}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtDc1d}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxDcFree1d}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtDcFree1d}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxApp3d}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtApp3d}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxDc3d}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtDc3d}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minTrxDcFree3d}" size="20" padControl="false" maxlength="8" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off"/>
                            </p:column>

                            <p:column>
                                <p:inputNumber value="#{item.minAmtDcFree3d}" size="20" padControl="false" maxlength="20" minValue="0" required="true" onkeydown="if(event.key==='.'){event.preventDefault();}" autocomplete="off">
                                    <!--<f:convertNumber groupingUsed="true" minFractionDigits="0" />-->
                                </p:inputNumber>
                            </p:column>

                        </p:dataTable>
                        <h:outputLabel />
                        <h:panelGroup>
                            <div align="left">
                                <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editBillerAnomalyInstitutionManagedBean.saveAction}" update="frm1" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="billerAnomalyInstitusiParameter.do?faces-redirect=true" immediate="true" />
                            </div>
                        </h:panelGroup>
                    </h:panelGrid>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
