<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{billerInquiryManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td>
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="#{msg.date}" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:calendar value="#{billerInquiryManagedBean.startDate}" styleClass="commonText" showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true" pattern="#{billerInquiryManagedBean.defaultCalendarDateFormat}"/>
                                                </td>
                                                <td>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                    <h:outputText value=" To "/>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                </td>
                                                <td valign="top">
                                                    <p:calendar value="#{billerInquiryManagedBean.endDate}" styleClass="commonText" showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true" pattern="#{billerInquiryManagedBean.defaultCalendarDateFormat}"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Time"/>
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:calendar value="#{billerInquiryManagedBean.startTime}" pattern="HH:mm" timeOnly="true" stepMinute="10" readonlyInput="true"/>
                                                </td>
                                                <td>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                    <h:outputText value=" To "/>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1"/>
                                                </td>
                                                <td valign="top">
                                                    <p:calendar value="#{billerInquiryManagedBean.endTime}" pattern="HH:mm" timeOnly="true" stepMinute="10" readonlyInput="true" />
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Transaction"/>
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:selectOneMenu value="#{billerInquiryManagedBean.transaction}" effect="none">
                                                        <f:selectItems value="#{billerInquiryManagedBean.listTrxId}" var="p" itemLabel="#{p.trxname}" itemValue="#{p.trxid}"/>
                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Period" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:selectOneMenu value="#{billerInquiryManagedBean.period}" effect="none">
                                                        <f:selectItem itemValue="1H" itemLabel="1 Hour" />
                                                        <f:selectItem itemValue="3H" itemLabel="3 Hours" />
                                                        <f:selectItem itemValue="6H" itemLabel="6 Hours" />
                                                        <f:selectItem itemValue="1D" itemLabel="1 Day" />
                                                        <f:selectItem itemValue="3D" itemLabel="3 Day" />
                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:selectBooleanCheckbox rendered="#{billerInquiryManagedBean.role}" itemLabel="Show All Transaction" value="#{billerInquiryManagedBean.whitelist}" />
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputLabel />
                                    <p/>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_submit}" actionListener="#{billerInquiryManagedBean.submitAction}" update=":frm1" onsuccess="PF('dataTableWidgetVar').filter()" onclick="PF('pleaseWaitDialog').show();" oncomplete="PF('pleaseWaitDialog').hide();refresh()"/>
                                    </h:panelGroup>
                                </h:panelGrid>
                            </td>
                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>
                        </tr>
                    </table>

                    <p:separator />
                    <div align="left" >
                        <p:commandButton rendered="#{billerInquiryManagedBean.role}" value="Add To Biller Special Treatment" actionListener="#{billerInquiryManagedBean.saveItemAction}" update=":frm1" onsuccess="PF('dataTableWidgetVar').filter()" oncomplete="popupMsg()"/>
                        <p:remoteCommand name="refresh" ajax="false" update=":frm1" action="#{billerInquiryManagedBean.errorMsg}"/>
                        <p:remoteCommand name="popupMsg" ajax="false" update=":frm1" action="#{billerInquiryManagedBean.popupMsg}"/>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </div>

                    <p:dataTable id="idTable" widgetVar="dataTableWidgetVar" var="item" rowIndexVar="idx" value="#{billerInquiryManagedBean.listBillerAnomalyDataModel}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="both"
                                 selection="#{billerInquiryManagedBean.selectedItems}"
                                 disabledSelection="#{item.chkColor == 'TRUE'}"
                                 style="width:100%; font-size:11px;" rowSelectMode="checkbox"
                                 rowStyleClass="#{item.chkColor eq 'TRUE' ? 'ui-state-highlight' : 'true'}">

                        <p:columnGroup type="header">
                            <p:row style="font-size:12px;">
                                <p:column rowspan="3" headerText="" rendered="#{billerInquiryManagedBean.role}"/>
                                <p:column rowspan="3" headerText="#{msg.no}" />
                                <p:column rowspan="3" headerText="Date" rendered="#{billerInquiryManagedBean.disable3D}" sortBy="#{item.period}" />
                                <p:column colspan="2" headerText="Date" rendered="#{billerInquiryManagedBean.enable3D}" />
                                <p:column colspan="2" headerText="Time" rendered="#{billerInquiryManagedBean.disable}"/>
                                <p:column rowspan="3" headerText="Institution Code" sortBy="#{item.instCd}" filterBy="${item.instName}" filterMatchMode="contains" value="#{item.instCd}" />
                                <p:column rowspan="3" headerText="Customer No" sortBy="#{item.custNo}" filterBy="${item.custNo}" filterMatchMode="contains" />
                                <p:column rowspan="3" headerText="Customer Name" sortBy="#{item.custName}" filterBy="${item.custName}" filterMatchMode="contains" />
                                <p:column colspan="3" headerText="Frequency" />
                                <p:column colspan="3" headerText="Amount" />
                                <p:column rowspan="3" headerText="Total Amount" sortBy="#{item.totalAmt}" />
                            </p:row>
                            <p:row style="font-size:12px;">
                                <p:column rowspan="2" headerText="#{msg.from}" rendered="#{billerInquiryManagedBean.enable3D}" sortBy="#{item.period}" />
                                <p:column rowspan="2" headerText="#{msg.to}" rendered="#{billerInquiryManagedBean.enable3D}" sortBy="#{item.periodDisplay}" />
                                <p:column rowspan="2" headerText="#{msg.from}" rendered="#{billerInquiryManagedBean.disable}" sortBy="#{item.timeFr}" />
                                <p:column rowspan="2" headerText="#{msg.to}" rendered="#{billerInquiryManagedBean.disable}" sortBy="#{item.timeTo}" />
                                <p:column rowspan="2" headerText="#{msg.approve}" sortBy="#{item.freqApp}" />
                                <p:column colspan="2" headerText="#{msg.decline}" />

                                <p:column rowspan="2" headerText="#{msg.approve}" sortBy="#{item.totalAmtApp}" />
                                <p:column colspan="2" headerText="#{msg.decline}" />
                            </p:row>
                            <p:row style="font-size:12px;">
                                <p:column headerText="Charge" sortBy="#{item.freqDc}" />
                                <p:column headerText="Free" sortBy="#{item.freqDcFree}" />

                                <p:column headerText="Charge" sortBy="#{item.totalAmtDc}" />
                                <p:column headerText="Free" sortBy="#{item.totalAmtDcFree}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column rendered="#{billerInquiryManagedBean.role}" selectionMode="multiple" style="width:18px">
                        </p:column>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column rendered="#{billerInquiryManagedBean.disable3D}" field="#{item.period}" style="width:70px">
                            <h:outputText rendered="#{billerInquiryManagedBean.disable3D}" value="#{item.periodDisplay}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{billerInquiryManagedBean.enable3D}" field="#{item.timeFr}" style="width:70px">
                            <h:outputText rendered="#{billerInquiryManagedBean.enable3D}" value="#{item.period}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{billerInquiryManagedBean.enable3D}" field="#{item.timeTo}" style="width:70px">
                            <h:outputText rendered="#{billerInquiryManagedBean.enable3D}" value="#{item.periodDisplay}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{billerInquiryManagedBean.disable}" field="#{item.timeFr}" style="width:18px">
                            <h:outputText rendered="#{billerInquiryManagedBean.disable}" value="#{item.timeFr}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{billerInquiryManagedBean.disable}" field="#{item.timeTo}">
                            <h:outputText rendered="#{billerInquiryManagedBean.disable}" value="#{item.timeTo}" >
                            </h:outputText>
                        </p:column>

                        <p:column field="#{item.instName}">
                            <h:outputText value="#{item.instName}" />
                        </p:column>

                        <p:column field="#{item.custNo}">
                            <h:outputLink styleClass="tablelink" target="_blank" value="../biller/detailBillerAnomalyInquiry.do?" >
                                <f:param  name="pPeriod" value="#{billerInquiryManagedBean.paramEncode(item.period)}" />
                                <f:param  name="pTimeFr" value="#{billerInquiryManagedBean.paramEncode(item.timeFr)}" />
                                <f:param  name="pTimeTo" value="#{billerInquiryManagedBean.paramEncode(item.timeTo)}" />
                                <f:param  name="pInstCd" value="#{billerInquiryManagedBean.paramEncode(item.instCd.trim())}" />
                                <f:param  name="pCustNo" value="#{billerInquiryManagedBean.paramEncode(item.custNo.trim())}" />
                                <f:param  name="pCustName" value="#{billerInquiryManagedBean.paramEncode(item.custName)}" />
                                <f:param  name="pPeriodFrom" value="#{billerInquiryManagedBean.paramEncode(billerInquiryManagedBean.periodF)}" />
                                <f:param  name="pPeriodTo" value="#{billerInquiryManagedBean.paramEncode(billerInquiryManagedBean.periodT)}" />
                                <f:param  name="pPeriodType" value="#{billerInquiryManagedBean.paramEncode(billerInquiryManagedBean.periodType)}" />
                                <f:param  name="pTranType" value="#{billerInquiryManagedBean.paramEncode(billerInquiryManagedBean.transType)}" />
                                <f:param  name="pTranTypeName" value="#{billerInquiryManagedBean.paramEncode(billerInquiryManagedBean.transTypeName)}" />

                                <c:set var = "bin" value="#{(item.custNo.trim()).substring(0,2)}"/>
                                <c:set var = "filler" value="#{(item.custNo.trim()).substring(2,(item.custNo.trim()).length()-3)}"/>
                                <c:set var = "fillerAsterisks" value="${fn:replace(filler, '[0-9]', '*')}"/>
                                <c:set var = "suffix" value="#{(item.custNo.trim()).substring((item.custNo.trim()).length()-3,(item.custNo.trim()).length())}"/>

                                <h:outputText value="#{bin.concat(fillerAsterisks).concat(suffix)}" />
                            </h:outputLink>
                            <!--<h:outputText value="#{item.custNo}" />-->
                        </p:column>

                        <p:column field="#{item.custName}">
                            <h:outputText value="#{item.custName}" />
                        </p:column>

                        <p:column field="#{item.freqApp}">
                            <div align="right" >
                                <h:outputText value="#{item.freqApp}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqDc}">
                            <div align="right" >
                                <h:outputText value="#{item.freqDc}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqDcFree}">
                            <div align="right" >
                                <h:outputText value="#{item.freqDcFree}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.totalAmtApp}">
                            <div align="right">
                                <h:outputText value="#{item.totalAmtApp}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.totalAmtDc}">
                            <div align="right">
                                <h:outputText value="#{item.totalAmtDc}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.totalAmtDcFree}">
                            <div align="right">
                                <h:outputText value="#{item.totalAmtDcFree}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.totalAmt}">
                            <div align="right">
                                <h:outputText value="#{item.totalAmt}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>
                    </p:dataTable>

                </div>
            </h:form>
        </p:panel>

        <p:ajaxStatus onstart="PF('pleaseWaitDialog').show();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/preloader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>
    </ui:define>
</ui:composition>