<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{trxrekapManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />
                <p:poll interval="#{trxrekapManagedBean.graphRefreshInterval}"
                        listener="#{trxrekapManagedBean.onPoolListener}"
                        update=":frm1" />

                <div class="divPanelForm">

                    <h:panelGrid columns="2">
                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{trxrekapManagedBean.selectedTrxId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{trxrekapManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                            <p:ajax event="change" listener="#{trxrekapManagedBean.transactionChangeListener}" update="idbnf" />
                        </p:selectOneMenu>

                        <h:outputText value="#{msg.acquirer}" />
                        <p:selectOneMenu value="#{trxrekapManagedBean.selectedAcqId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{trxrekapManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>

                        <h:outputText value="#{msg.issuer}" />
                        <p:selectOneMenu value="#{trxrekapManagedBean.selectedIssId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{trxrekapManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>

                        <h:outputText value="#{msg.beneficiary}" />
                        <p:selectOneMenu id="idbnf" value="#{trxrekapManagedBean.selectedBnfId}" effect="none"
                            style="#{trxrekapManagedBean.styleBnf}" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{trxrekapManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>

                        <h:outputText value="" />
                        <p:selectBooleanCheckbox value="#{trxrekapManagedBean.showTable}" itemLabel="#{msg.show_table}" />

                        <h:outputText value="" />
                        <p:commandButton value="#{msg.button_submit}" action="#{trxrekapManagedBean.submitAction}" update="frm1" />

                    </h:panelGrid>


                    <br/><br/>

                    <div>
                        <h:outputText styleClass="bold" value="#{msg.transaction} : " rendered="#{trxrekapManagedBean.render}" />
                        <h:outputText styleClass="bold" value="#{trxrekapManagedBean.selectedTrxName}" rendered="#{trxrekapManagedBean.render}" />
                        <br/>
                        <h:outputText styleClass="bold" value="#{msg.acquirer} : "
                                      rendered="#{trxrekapManagedBean.render}" />
                        <h:outputText styleClass="bold" value="#{trxrekapManagedBean.selectedAcqName}"
                                      rendered="#{trxrekapManagedBean.render}" />
                        <br/>
                        <h:outputText styleClass="bold" value="#{msg.issuer} : "
                                      rendered="#{trxrekapManagedBean.render}" />
                        <h:outputText styleClass="bold" value="#{trxrekapManagedBean.selectedIssName}"
                                      rendered="#{trxrekapManagedBean.render}" />
                        <br/>

                        <h:outputText styleClass="bold" value="#{msg.beneficiary} : "
                                      rendered="#{trxrekapManagedBean.render}" />
                        <h:outputText styleClass="bold" value="#{trxrekapManagedBean.selectedBnfName}"
                                      rendered="#{trxrekapManagedBean.render}" />
                        <br/>

                    </div>

                    <br/>

                    <c3:line id="idchart" data="#{trxrekapManagedBean.c3ChartBean.data}"
                             axis="#{trxrekapManagedBean.c3ChartBean.axis}"
                             point="#{trxrekapManagedBean.c3ChartBean.point}"
                             rendered="#{trxrekapManagedBean.render}"
                             style="width: 600px; height: 400px;" >
                    </c3:line>


                    <br/><br/>


                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{trxrekapManagedBean.list}"
                                 style="width:50%" rendered="#{trxrekapManagedBean.showTable}" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="#{msg.no}" />
                                <p:column headerText="#{msg.period}" />
                                <p:column headerText="#{msg.from}" />
                                <p:column headerText="#{msg.to}" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                            </p:row>

                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.period}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.hourfr}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.hourto}" />
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_app}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_dc}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_df}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>



                    </p:dataTable>


                </div>




            </h:form>
        </p:panel>


        <p:ajaxStatus onstart="PF('pleaseWaitDialog').show();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/ajax-loader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>


    </ui:define>
</ui:composition>
