.noborder {
    border: none;
}

.smallText {
    font-size: 8px;
}

.panelContent {
    border: none;background-color: white;
}

.divPanelToolbar {
    margin-bottom: 5px;
}

.divPanelForm {
    margin-bottom: 5px;
    /*border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-style: solid;
    border-color: black;*/
}

.panelGrid {
    border-bottom: 1px;
    border-bottom-color: black;
}

.panelGridFirstColumn {
    text-align: right;    
    vertical-align: top;
}

.panelGridSecondColumn {
    text-align: left;
    vertical-align: top;
}

.divPanelTable {
    
}


.panelGridLabelFirstColumn {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;    
}

.panelGridLabelSecondColumn {
    padding-left: 10px;
}


a.toolbarMenuLink:link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #2E6E9E;
    padding-left: 6px;
    padding-right: 6px;
    border-color: #6EAEDE;
    border-style: solid;
    border-width: 1px;
    margin: 1px 1px 1px 1px;
}

a.toolbarMenuLink:visited {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #2E6E9E;
    padding-left: 6px;
    padding-right: 6px;
    border-color: #6EAEDE;
    border-style: solid;
    border-width: 1px;
    margin: 1px 1px 1px 1px;
}

a.toolbarMenuLink:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #6EAEDE;
    padding-left: 6px;
    padding-right: 6px;
    border-color: #6EAEDE;
    border-style: solid;
    border-width: 1px;
    margin: 1px 1px 1px 1px;
}

a.toolbarMenuLink:active {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #2E6E9E;
    padding-left: 6px;
    padding-right: 6px;
    border-color: #6EAEDE;
    border-style: solid;
    border-width: 1px;
    margin: 1px 1px 1px 1px;
}

.contextMenuArea {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}

.tabDiv {
}

.tabCommandArea {
    padding-bottom: 10px;
}

.tabContentArea {
}

.tdaligntop td {
    vertical-align: top; 
}

.tableheader {
    font-weight: bold;
}

.tableColumnEditDelete {
    width:65px
}

.alertTextStyle {
    padding-left: 4px;
    color: red;
}

a.largeMenuLink:link, a.largeMenuLink:visited, a.largeMenuLink:hover, a.largeMenuLink:active {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: #2E6E9E;
    padding-left: 16px;
    padding-right: 16px;
    border-color: #6EAEDE;
    border-style: solid;
    border-width: 1px;
    margin: 1px 1px 1px 1px;
}

.sectionTitle {
    font-weight: bold;
    font-size: 14px;
}

.vertAlign {
    vertical-align: top
}


a.tablelink:link,a.tablelink:visited,a.tablelink:hover,a.tablelink:active {
    text-decoration: underline;
}