<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <p:panel header="#{msg.edit_user_dashboard}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">
                    <h:panelGrid columns="2" >
                        <h:outputText value="#{msg.menu_name}" />
                        <p:inputText value="#{editUserDashboardManagedBean.mktUserDashboard.menuName}" size="40" maxlength="100" />

                        <h:outputText value="#{msg.description}" />
                        <p:inputText value="#{editUserDashboardManagedBean.mktUserDashboard.description}" size="80" maxlength="255" />
                    </h:panelGrid>

                    <br/>

                    <p:panel header="Detail">

                        <table width="100%">
                            <tr>
                                <td valign="top" width="35%">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="#{msg.inst}" />
                                        <p:selectOneMenu value="#{editUserDashboardManagedBean.selectedBankId}" effect="none" >
                                            <f:selectItems value="#{editUserDashboardManagedBean.listBank}" var="o"
                                                           itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                                        </p:selectOneMenu>

                                        <h:outputText value="#{msg.transaction}" />
                                        <p:selectOneMenu value="#{editUserDashboardManagedBean.selectedTrxId}"
                                                         effect="none">
                                            <f:selectItem itemLabel="" itemValue="" />
                                            <f:selectItem itemLabel="All Transaction" itemValue="ALL" />
                                            <f:selectItems value="#{editUserDashboardManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                                            <p:ajax event="change" listener="#{editUserDashboardManagedBean.trxIdChangeListener}" update="idTransIndic" />
                                        </p:selectOneMenu>

                                        <h:outputText value="#{msg.transaction_indicator}" />
                                        <p:selectOneMenu id="idTransIndic" value="#{editUserDashboardManagedBean.selectedTransactionIndicatorId}"
                                                         effect="none">
                                            <f:selectItem itemLabel="" itemValue="" />
                                            <f:selectItems value="#{editUserDashboardManagedBean.listTrxIdIndicator}" var="o" itemLabel="#{o.trxnameindicator}" itemValue="#{o.trxidindicator}" />
                                        </p:selectOneMenu>

                                        <h:outputText value="#{msg.monitoring_interval}" />
                                        <p:selectOneMenu value="#{editUserDashboardManagedBean.selectedMonitoringInterval}"
                                                         effect="none">
                                            <f:selectItem itemValue="5M" itemLabel="5 Minutes" />
                                            <f:selectItem itemValue="15M" itemLabel="15 Minutes" />
                                            <f:selectItem itemValue="30M" itemLabel="30 Minutes" />
                                            <f:selectItem itemValue="1H" itemLabel="Hourly" />
                                            <f:selectItem itemValue="1D" itemLabel="Daily" />
                                        </p:selectOneMenu>

                                        <h:outputText value="" />
                                        <p:commandButton value="#{msg.button_add}" action="#{editUserDashboardManagedBean.addAction}" update="frm1" />

                                    </h:panelGrid>
                                </td>

                                <td width="1%">
                                    <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                                </td>

                                <td valign="top" width="64%">
                                    <p:dataTable value="#{editUserDashboardManagedBean.listDetail}" var="item" rowIndexVar="idx"
                                                 style="width: 100%;">
                                        <p:column style="width: 10px;">
                                            <f:facet name="header" >
                                                <h:outputText value="#{msg.no}" />
                                            </f:facet>
                                            <h:outputText value="#{idx+1}" />
                                        </p:column>

                                        <p:column>
                                            <f:facet name="header" >
                                                <h:outputText value="#{msg.bank}" />
                                            </f:facet>
                                            <h:outputText value="#{item.bankName}" />
                                        </p:column>

                                        <p:column style="width: 150px;">
                                            <f:facet name="header" >
                                                <h:outputText value="#{msg.transaction}" />
                                            </f:facet>
                                            <h:outputText value="#{item.transactionName}" />
                                        </p:column>

                                        <p:column style="width: 60px;">
                                            <f:facet name="header" >
                                                <h:outputText value="#{msg.transaction_indicator}" />
                                            </f:facet>
                                            <h:outputText value="#{item.transactionIndicatorName}" />
                                        </p:column>

                                        <p:column style="width: 60px;">
                                            <f:facet name="header" >
                                                <h:outputText value="#{msg.monitoring_interval}" />
                                            </f:facet>
                                            <h:outputText value="#{item.monitoringInterval}" />
                                        </p:column>

                                        <p:column style="width: 20px;">
                                            <f:facet name="header" >
                                                <h:outputText value="" />
                                            </f:facet>
                                            <p:commandLink action="#{editUserDashboardManagedBean.removeItemAction(idx)}" update="frm1" >
                                                <i class="fa fa-trash fa-1_5x" />
                                            </p:commandLink>

                                        </p:column>
                                    </p:dataTable>
                                </td>
                            </tr>
                        </table>

                    </p:panel>

                    <br/>
                    <br/>

                    <div>
                        <p:commandButton value="#{msg.button_save}" action="#{editUserDashboardManagedBean.saveAction}" update="frm1" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <p:commandButton value="#{msg.button_back}" action="listUserDashboard.do?faces-redirect=true" />
                    </div>




                </div>

            </h:form>
        </p:panel>


    </ui:define>
</ui:composition>
