<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <p:panel header="#{listUserDashboardManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">
                    <div class="tabCommandArea">
                        <h:outputLink styleClass="toolbarMenuLink" value="addUserDashboard.do" >
                            <h:outputText value="#{msg.button_add}"/>
                        </h:outputLink>
                    </div>

                    <p:dataTable value="#{listUserDashboardManagedBean.listUserDashboard}" var="item" rowIndexVar="idx" paginator="true" rows="10" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:100%">

                        <p:column style="width: 10px;">
                            <f:facet name="header" >
                                <h:outputText value="#{msg.no}" />
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column sortBy="#{item.menuName}">
                            <f:facet name="header" >
                                <h:outputText value="#{msg.dashboard}" />
                            </f:facet>
                            <h:outputText value="#{item.menuName}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header" >
                                <h:outputText value="#{msg.description}" />
                            </f:facet>
                            <h:outputText value="#{item.description}" />
                        </p:column>

                        <p:column style="width: 50px;">
                            <f:facet name="header" >
                                <h:outputText value="" />
                            </f:facet>
                            <h:outputLink value="editUserDashboard.do" title="#{msg.edit}">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="id" value="#{item.id}" />
                            </h:outputLink>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandLink onclick="PF('confirmation').show()" update="frm1" title="#{msg.delete}" >
                                <h:graphicImage value="/images/delete.png" title="#{msg.button_disable}" width="16" height="16" />
                                <f:setPropertyActionListener target="#{listUserDashboardManagedBean.selectedDeleteItem}" value="#{item}" />
                            </p:commandLink>
                        </p:column>

                    </p:dataTable>




                </div>

            </h:form>
        </p:panel>

        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1"
                                 actionListener="#{listUserDashboardManagedBean.deleteActionListener}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>
</ui:composition>
