<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <p:panel header="#{msg.dashboard} - #{userDashboardPercentManagedBean.mktUserDashboard.menuName}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />
                <p:poll interval="#{userDashboardPercentManagedBean.graphRefreshInterval}" listener="#{userDashboardPercentManagedBean.onPoolAction}"
                        update="frm1" />
                <h:inputHidden value="#{userDashboardPercentManagedBean.id}" />

                <div class="divPanelForm">






                    <div>

                        <ui:remove>
                        <p:commandButton value="View History"
                                         action="#{userDashboardPercentManagedBean.showHistoryAction}" />
                        </ui:remove>


                        <h:panelGrid columns="2">
                            <h:outputText value="Transaction : " />
                            <h:panelGroup>
                                <p:selectBooleanCheckbox id="chkprev0" value="#{userDashboardPercentManagedBean.activePercentPrev[0]}" itemLabel="% Approval Prev" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                <p:selectBooleanCheckbox id="chkprev1" value="#{userDashboardPercentManagedBean.activePercentPrev[1]}" itemLabel="% Decline Free Prev" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                <p:selectBooleanCheckbox id="chkprev2" value="#{userDashboardPercentManagedBean.activePercentPrev[2]}" itemLabel="% Decline Charge Prev" />

                            </h:panelGroup>

                            <h:outputText value="Previous Date" />
                            <h:panelGroup>
                                <p:calendar id="idcalprev" value="#{userDashboardPercentManagedBean.selectedPrevDate}" styleClass="commonText"
                                            showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                            maxdate="#{userDashboardPercentManagedBean.maxDate}"
                                            pattern="#{userDashboardPercentManagedBean.defaultCalendarDateFormat}" />
                                <h:graphicImage value="/images/spacer.gif" width="5" height="1" />

                            </h:panelGroup>

                            <h:outputText value="" />
                            <p:selectBooleanCheckbox itemLabel="#{msg.show_table}" value="#{userDashboardPercentManagedBean.showTable}" />


                            <h:outputText value="" />
                            <h:panelGroup>
                                <p:commandButton value="Submit" action="#{userDashboardPercentManagedBean.showPrevDataAction}" update="frm1" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                <p:commandButton id="idBtnTotalPercent" value="#{userDashboardPercentManagedBean.showPercentButtonText}"
                                                 action="#{userDashboardPercentManagedBean.showPercentChangeListener}"
                                                 update="frm1" />
                                <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                <p:commandButton value="View History"
                                                 action="#{userDashboardPercentManagedBean.showHistoryAction}" />
                            </h:panelGroup>

                        </h:panelGrid>
                    </div>
                    <br/>
                    
                    <ui:remove>
                    <p:dataGrid id="idDataGrid" value="#{userDashboardPercentManagedBean.listC3Chart}" var="item" columns="2" >

                        <h:panelGroup>
                            <h:outputText value="#{item.title}" styleClass="bold" /><br/>
                            <h:outputText value=" Percent(%)" />
                            <c3:line data="#{item.data}" axis="#{item.axis}" point="#{item.point}"
                                     style="width: 600px; height: 400px;" >
                                <p:ajax event="click" listener="#{userDashboardPercentManagedBean.itemClick}" />
                            </c3:line>
                            <br/><br/>
                        </h:panelGroup>


                    </p:dataGrid>
                    </ui:remove>
                    


                    <table>
                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardPercentManagedBean.chartBeanArray[0].title}" styleClass="bold"
                                                  rendered="#{userDashboardPercentManagedBean.renderChartArray[0]}" />
                                    <h:outputText value=" Percent(%)" rendered="#{userDashboardPercentManagedBean.renderChartArray[0]}" />
                                    <c3:line data="#{userDashboardPercentManagedBean.chartBeanArray[0].data}"
                                             axis="#{userDashboardPercentManagedBean.chartBeanArray[0].axis}"
                                             point="#{userDashboardPercentManagedBean.chartBeanArray[0].point}"
                                             rendered="#{userDashboardPercentManagedBean.renderChartArray[0]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardPercentManagedBean.chartBeanArray[1].title}" styleClass="bold"
                                                  rendered="#{userDashboardPercentManagedBean.renderChartArray[1]}" />
                                    <h:outputText value=" Percent(%)" rendered="#{userDashboardPercentManagedBean.renderChartArray[1]}" />
                                    <c3:line data="#{userDashboardPercentManagedBean.chartBeanArray[1].data}"
                                             axis="#{userDashboardPercentManagedBean.chartBeanArray[1].axis}"
                                             point="#{userDashboardPercentManagedBean.chartBeanArray[1].point}"
                                             rendered="#{userDashboardPercentManagedBean.renderChartArray[1]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardPercentManagedBean.chartBeanArray[2].title}" styleClass="bold"
                                                  rendered="#{userDashboardPercentManagedBean.renderChartArray[2]}" />
                                    <h:outputText value=" Percent(%)" rendered="#{userDashboardPercentManagedBean.renderChartArray[2]}" />
                                    <c3:line data="#{userDashboardPercentManagedBean.chartBeanArray[2].data}"
                                             axis="#{userDashboardPercentManagedBean.chartBeanArray[2].axis}"
                                             point="#{userDashboardPercentManagedBean.chartBeanArray[2].point}"
                                             rendered="#{userDashboardPercentManagedBean.renderChartArray[2]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardPercentManagedBean.chartBeanArray[3].title}" styleClass="bold"
                                                  rendered="#{userDashboardPercentManagedBean.renderChartArray[3]}" />
                                    <h:outputText value=" Percent(%)" rendered="#{userDashboardPercentManagedBean.renderChartArray[3]}" />
                                    <c3:line data="#{userDashboardPercentManagedBean.chartBeanArray[3].data}"
                                             axis="#{userDashboardPercentManagedBean.chartBeanArray[3].axis}"
                                             point="#{userDashboardPercentManagedBean.chartBeanArray[3].point}"
                                             rendered="#{userDashboardPercentManagedBean.renderChartArray[3]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardPercentManagedBean.chartBeanArray[4].title}" styleClass="bold"
                                                  rendered="#{userDashboardPercentManagedBean.renderChartArray[4]}" />
                                    <h:outputText value=" Percent(%)" rendered="#{userDashboardPercentManagedBean.renderChartArray[4]}" />
                                    <c3:line data="#{userDashboardPercentManagedBean.chartBeanArray[4].data}"
                                             axis="#{userDashboardPercentManagedBean.chartBeanArray[4].axis}"
                                             point="#{userDashboardPercentManagedBean.chartBeanArray[4].point}"
                                             rendered="#{userDashboardPercentManagedBean.renderChartArray[4]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardPercentManagedBean.chartBeanArray[5].title}" styleClass="bold"
                                                  rendered="#{userDashboardPercentManagedBean.renderChartArray[5]}" />
                                    <h:outputText value=" Percent(%)" rendered="#{userDashboardPercentManagedBean.renderChartArray[5]}" />
                                    <c3:line data="#{userDashboardPercentManagedBean.chartBeanArray[5].data}"
                                             axis="#{userDashboardPercentManagedBean.chartBeanArray[5].axis}"
                                             point="#{userDashboardPercentManagedBean.chartBeanArray[5].point}"
                                             rendered="#{userDashboardPercentManagedBean.renderChartArray[5]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardPercentManagedBean.chartBeanArray[6].title}" styleClass="bold"
                                                  rendered="#{userDashboardPercentManagedBean.renderChartArray[6]}" />
                                    <h:outputText value=" Percent(%)" rendered="#{userDashboardPercentManagedBean.renderChartArray[6]}" />
                                    <c3:line data="#{userDashboardPercentManagedBean.chartBeanArray[6].data}"
                                             axis="#{userDashboardPercentManagedBean.chartBeanArray[6].axis}"
                                             point="#{userDashboardPercentManagedBean.chartBeanArray[6].point}"
                                             rendered="#{userDashboardPercentManagedBean.renderChartArray[6]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardPercentManagedBean.chartBeanArray[7].title}" styleClass="bold"
                                                  rendered="#{userDashboardPercentManagedBean.renderChartArray[7]}" />
                                    <h:outputText value=" Percent(%)" rendered="#{userDashboardPercentManagedBean.renderChartArray[7]}" />
                                    <c3:line data="#{userDashboardPercentManagedBean.chartBeanArray[7].data}"
                                             axis="#{userDashboardPercentManagedBean.chartBeanArray[7].axis}"
                                             point="#{userDashboardPercentManagedBean.chartBeanArray[7].point}"
                                             rendered="#{userDashboardPercentManagedBean.renderChartArray[7]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardPercentManagedBean.chartBeanArray[8].title}" styleClass="bold"
                                                  rendered="#{userDashboardPercentManagedBean.renderChartArray[8]}" />
                                    <h:outputText value=" Percent(%)" rendered="#{userDashboardPercentManagedBean.renderChartArray[8]}" />
                                    <c3:line data="#{userDashboardPercentManagedBean.chartBeanArray[8].data}"
                                             axis="#{userDashboardPercentManagedBean.chartBeanArray[8].axis}"
                                             point="#{userDashboardPercentManagedBean.chartBeanArray[8].point}"
                                             rendered="#{userDashboardPercentManagedBean.renderChartArray[8]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardPercentManagedBean.chartBeanArray[9].title}" styleClass="bold"
                                                  rendered="#{userDashboardPercentManagedBean.renderChartArray[9]}" />
                                    <h:outputText value=" Percent(%)" rendered="#{userDashboardPercentManagedBean.renderChartArray[9]}" />
                                    <c3:line data="#{userDashboardPercentManagedBean.chartBeanArray[9].data}"
                                             axis="#{userDashboardPercentManagedBean.chartBeanArray[9].axis}"
                                             point="#{userDashboardPercentManagedBean.chartBeanArray[9].point}"
                                             rendered="#{userDashboardPercentManagedBean.renderChartArray[9]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>
                    </table>


                    <br/><br/>


                    <h:panelGroup rendered="#{userDashboardPercentManagedBean.showTable}" >
                        <p:dataGrid value="#{userDashboardPercentManagedBean.listTableData}" var="o" columns="1">
                            <h:panelGroup>
                                <h:outputText value="#{o.userDashboardDetailBean.bankname} - #{o.userDashboardDetailBean.transactionname} - #{o.userDashboardDetailBean.transactionindicatorname} - #{o.userDashboardDetailBean.monitoringintervalname}"
                                              styleClass="bold" />
                                <br/>
                                <p:dataTable var="item" rowIndexVar="idx" value="#{o.listData}" >
                                    <p:columnGroup type="header">
                                        <p:row>
                                            <p:column rowspan="4" headerText="#{msg.no}" />
                                            <p:column rowspan="4" headerText="#{msg.period}" />
                                            <p:column colspan="2" headerText="#{msg.minute}" />
                                            <p:column colspan="36" headerText="#{msg.frequency}" />
                                        </p:row>
                                        <p:row>
                                            <p:column rowspan="3" headerText="#{msg.from}" />
                                            <p:column rowspan="3" headerText="#{msg.to}" />
                                            <p:column colspan="6" headerText="#{msg.acq_only}" />
                                            <p:column colspan="6" headerText="#{msg.iss_only}" />
                                            <p:column colspan="6" headerText="#{msg.bnf_only}" />
                                            <p:column colspan="6" headerText="#{msg.acq_iss}" />
                                            <p:column colspan="6" headerText="#{msg.acq_bnf}" />
                                            <p:column colspan="6" headerText="#{msg.iss_bnf}" />
                                        </p:row>
                                        <p:row>
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                        </p:row>
                                        <p:row>
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />

                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />

                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />

                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />

                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />

                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                        </p:row>
                                    </p:columnGroup>

                                    <p:column style="width:10px" >
                                        <h:outputText value="#{idx+1}" />
                                    </p:column>

                                    <p:column >
                                        <h:outputText value="#{item.period}" />
                                    </p:column>

                                    <p:column >
                                        <h:outputText value="#{item.timefr}" />
                                    </p:column>

                                    <p:column >
                                        <h:outputText value="#{item.timeto}" />
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_app}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_dc}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_df}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_app_prev}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_dc_prev}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_df_prev}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>




                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_app}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_dc}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_df}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_app_prev}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_dc_prev}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_df_prev}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>




                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_app}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_dc}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_df}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_app_prev}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_dc_prev}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_df_prev}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>




                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_app}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_dc}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_df}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_app_prev}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_dc_prev}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_df_prev}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>






                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_app}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_dc}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_df}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_app_prev}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_dc_prev}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_df_prev}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>







                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_app}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_dc}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_df}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_app_prev}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_dc_prev}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_df_prev}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                </p:dataTable>

                                <br/><br/>
                            </h:panelGroup>
                        </p:dataGrid>
                    </h:panelGroup>


                </div>

            </h:form>
        </p:panel>

        <!-- 180717 Modify by AAH-->
        <ui:remove>
        <p:ajaxStatus onstart="PF('pleaseWaitDialog').hide();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/ajax-loader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>
        </ui:remove>

    </ui:define>
</ui:composition>
