<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <p:panel header="#{msg.dashboard} - #{userDashboardHistoryManagedBean.mktUserDashboard.menuName}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <h:inputHidden value="#{userDashboardHistoryManagedBean.id}" />

                <div class="divPanelForm">


                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="Transaction : " />
                        <h:panelGroup>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev0" value="#{userDashboardHistoryManagedBean.activePrev[0]}" itemLabel="Total Transaction" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev1" value="#{userDashboardHistoryManagedBean.activePrev[1]}" itemLabel="Approve" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev2" value="#{userDashboardHistoryManagedBean.activePrev[2]}" itemLabel="Decline Charge" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev3" value="#{userDashboardHistoryManagedBean.activePrev[3]}" itemLabel="Decline Free" />
                            <h:graphicImage value="/images/spacer.gif" width="40" height="1" />
                        </h:panelGroup>


                        <h:outputText value="#{msg.date}" />
                        <h:panelGroup>
                            <table>
                                <tr>
                                    <td valign="top">
                                        <p:calendar value="#{userDashboardHistoryManagedBean.selectedEndDate}" styleClass="commonText"
                                                    showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"

                                                    pattern="#{userDashboardHistoryManagedBean.defaultCalendarDateFormat}" />
                                        <h:outputText value=" (Curr) " />
                                    </td>
                                    <td>
                                        <h:graphicImage value="/images/spacer.gif" width="1" height="1" />
                                        <h:outputText value=" vs " />
                                        <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                                    </td>
                                    <td valign="top">
                                        <p:calendar value="#{userDashboardHistoryManagedBean.selectedPrevDate}" styleClass="commonText"
                                                    showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"

                                                    pattern="#{userDashboardHistoryManagedBean.defaultCalendarDateFormat}" />
                                        <h:outputText value=" (Prev) " />
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>


                        <h:outputText value="Time From" />
                        <h:panelGroup>
                            <table>
                                <tr>
                                    <td valign="top">
                                        <p:selectOneMenu id="idStartHour"
                                                         value="#{userDashboardHistoryManagedBean.selectedStartHour}" effect="none" >
                                            <f:selectItem itemValue="0" itemLabel="00" />
                                            <f:selectItem itemValue="1" itemLabel="01" />
                                            <f:selectItem itemValue="2" itemLabel="02" />
                                            <f:selectItem itemValue="3" itemLabel="03" />
                                            <f:selectItem itemValue="4" itemLabel="04" />
                                            <f:selectItem itemValue="5" itemLabel="05" />
                                            <f:selectItem itemValue="6" itemLabel="06" />
                                            <f:selectItem itemValue="7" itemLabel="07" />
                                            <f:selectItem itemValue="8" itemLabel="08" />
                                            <f:selectItem itemValue="9" itemLabel="09" />
                                            <f:selectItem itemValue="10" itemLabel="10" />
                                            <f:selectItem itemValue="11" itemLabel="11" />
                                            <f:selectItem itemValue="12" itemLabel="12" />
                                            <f:selectItem itemValue="13" itemLabel="13" />
                                            <f:selectItem itemValue="14" itemLabel="14" />
                                            <f:selectItem itemValue="15" itemLabel="15" />
                                            <f:selectItem itemValue="16" itemLabel="16" />
                                            <f:selectItem itemValue="17" itemLabel="17" />
                                            <f:selectItem itemValue="18" itemLabel="18" />
                                            <f:selectItem itemValue="19" itemLabel="19" />
                                            <f:selectItem itemValue="20" itemLabel="20" />
                                            <f:selectItem itemValue="21" itemLabel="21" />
                                            <f:selectItem itemValue="22" itemLabel="22" />
                                            <f:selectItem itemValue="23" itemLabel="23" />
                                        </p:selectOneMenu>
                                    </td>
                                    <td valign="top">

                                    </td>
                                    <td valign="top">

                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>


                        <h:outputText value="Time To" />
                        <h:panelGroup>
                            <table>
                                <tr>

                                    <td valign="top">
                                        <p:selectOneMenu id="idEndHour"
                                                         value="#{userDashboardHistoryManagedBean.selectedEndHour}" effect="none" >
                                            <f:selectItem itemValue="0" itemLabel="00" />
                                            <f:selectItem itemValue="1" itemLabel="01" />
                                            <f:selectItem itemValue="2" itemLabel="02" />
                                            <f:selectItem itemValue="3" itemLabel="03" />
                                            <f:selectItem itemValue="4" itemLabel="04" />
                                            <f:selectItem itemValue="5" itemLabel="05" />
                                            <f:selectItem itemValue="6" itemLabel="06" />
                                            <f:selectItem itemValue="7" itemLabel="07" />
                                            <f:selectItem itemValue="8" itemLabel="08" />
                                            <f:selectItem itemValue="9" itemLabel="09" />
                                            <f:selectItem itemValue="10" itemLabel="10" />
                                            <f:selectItem itemValue="11" itemLabel="11" />
                                            <f:selectItem itemValue="12" itemLabel="12" />
                                            <f:selectItem itemValue="13" itemLabel="13" />
                                            <f:selectItem itemValue="14" itemLabel="14" />
                                            <f:selectItem itemValue="15" itemLabel="15" />
                                            <f:selectItem itemValue="16" itemLabel="16" />
                                            <f:selectItem itemValue="17" itemLabel="17" />
                                            <f:selectItem itemValue="18" itemLabel="18" />
                                            <f:selectItem itemValue="19" itemLabel="19" />
                                            <f:selectItem itemValue="20" itemLabel="20" />
                                            <f:selectItem itemValue="21" itemLabel="21" />
                                            <f:selectItem itemValue="22" itemLabel="22" />
                                            <f:selectItem itemValue="23" itemLabel="23" />
                                        </p:selectOneMenu>
                                    </td>
                                    <td valign="top">

                                    </td>
                                    <td valign="top">
                                        <h:outputText value="" />
                                    </td>
                                </tr>
                            </table>
                        </h:panelGroup>

                        <h:outputLabel />
                        <p:selectBooleanCheckbox itemLabel="#{msg.show_table}" value="#{userDashboardHistoryManagedBean.showTable}" />


                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{userDashboardHistoryManagedBean.submitAction}" update="frm1" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="View Current" action="#{userDashboardHistoryManagedBean.showCurrentAction}" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="#{msg.show_percent}" action="#{userDashboardHistoryManagedBean.showPercentChangeListener}" />
                        </h:panelGroup>
                    </h:panelGrid>





                    <p:separator/>



                    <ui:remove>
                    <p:dataGrid id="idDataGrid" value="#{userDashboardHistoryManagedBean.listC3Chart}" var="item" columns="2" >

                        <h:panelGroup>
                            <h:outputText value="#{item.title}" styleClass="bold" />
                            <c3:line data="#{item.data}" axis="#{item.axis}" point="#{item.point}"
                                     style="width: 600px; height: 400px;" >
                                <p:ajax event="click" listener="#{userDashboardHistoryManagedBean.itemClick}" />
                            </c3:line>
                            <br/><br/>
                        </h:panelGroup>


                    </p:dataGrid>
                    </ui:remove>



                    <table>
                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryManagedBean.chartBeanArray[0].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryManagedBean.renderChartArray[0]}" />
                                    <c3:line data="#{userDashboardHistoryManagedBean.chartBeanArray[0].data}"
                                             axis="#{userDashboardHistoryManagedBean.chartBeanArray[0].axis}"
                                             point="#{userDashboardHistoryManagedBean.chartBeanArray[0].point}"
                                             rendered="#{userDashboardHistoryManagedBean.renderChartArray[0]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryManagedBean.chartBeanArray[1].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryManagedBean.renderChartArray[1]}" />
                                    <c3:line data="#{userDashboardHistoryManagedBean.chartBeanArray[1].data}"
                                             axis="#{userDashboardHistoryManagedBean.chartBeanArray[1].axis}"
                                             point="#{userDashboardHistoryManagedBean.chartBeanArray[1].point}"
                                             rendered="#{userDashboardHistoryManagedBean.renderChartArray[1]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryManagedBean.chartBeanArray[2].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryManagedBean.renderChartArray[2]}" />
                                    <c3:line data="#{userDashboardHistoryManagedBean.chartBeanArray[2].data}"
                                             axis="#{userDashboardHistoryManagedBean.chartBeanArray[2].axis}"
                                             point="#{userDashboardHistoryManagedBean.chartBeanArray[2].point}"
                                             rendered="#{userDashboardHistoryManagedBean.renderChartArray[2]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryManagedBean.chartBeanArray[3].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryManagedBean.renderChartArray[3]}" />
                                    <c3:line data="#{userDashboardHistoryManagedBean.chartBeanArray[3].data}"
                                             axis="#{userDashboardHistoryManagedBean.chartBeanArray[3].axis}"
                                             point="#{userDashboardHistoryManagedBean.chartBeanArray[3].point}"
                                             rendered="#{userDashboardHistoryManagedBean.renderChartArray[3]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryManagedBean.chartBeanArray[4].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryManagedBean.renderChartArray[4]}" />
                                    <c3:line data="#{userDashboardHistoryManagedBean.chartBeanArray[4].data}"
                                             axis="#{userDashboardHistoryManagedBean.chartBeanArray[4].axis}"
                                             point="#{userDashboardHistoryManagedBean.chartBeanArray[4].point}"
                                             rendered="#{userDashboardHistoryManagedBean.renderChartArray[4]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryManagedBean.chartBeanArray[5].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryManagedBean.renderChartArray[5]}" />
                                    <c3:line data="#{userDashboardHistoryManagedBean.chartBeanArray[5].data}"
                                             axis="#{userDashboardHistoryManagedBean.chartBeanArray[5].axis}"
                                             point="#{userDashboardHistoryManagedBean.chartBeanArray[5].point}"
                                             rendered="#{userDashboardHistoryManagedBean.renderChartArray[5]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryManagedBean.chartBeanArray[6].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryManagedBean.renderChartArray[6]}" />
                                    <c3:line data="#{userDashboardHistoryManagedBean.chartBeanArray[6].data}"
                                             axis="#{userDashboardHistoryManagedBean.chartBeanArray[6].axis}"
                                             point="#{userDashboardHistoryManagedBean.chartBeanArray[6].point}"
                                             rendered="#{userDashboardHistoryManagedBean.renderChartArray[6]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryManagedBean.chartBeanArray[7].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryManagedBean.renderChartArray[7]}" />
                                    <c3:line data="#{userDashboardHistoryManagedBean.chartBeanArray[7].data}"
                                             axis="#{userDashboardHistoryManagedBean.chartBeanArray[7].axis}"
                                             point="#{userDashboardHistoryManagedBean.chartBeanArray[7].point}"
                                             rendered="#{userDashboardHistoryManagedBean.renderChartArray[7]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryManagedBean.chartBeanArray[8].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryManagedBean.renderChartArray[8]}" />
                                    <c3:line data="#{userDashboardHistoryManagedBean.chartBeanArray[8].data}"
                                             axis="#{userDashboardHistoryManagedBean.chartBeanArray[8].axis}"
                                             point="#{userDashboardHistoryManagedBean.chartBeanArray[8].point}"
                                             rendered="#{userDashboardHistoryManagedBean.renderChartArray[8]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                            <td><h:graphicImage value="/images/spacer.gif" width="10" height="1" /></td>
                            <td>
                                <h:panelGroup>
                                    <h:outputText value="#{userDashboardHistoryManagedBean.chartBeanArray[9].title}" styleClass="bold"
                                                  rendered="#{userDashboardHistoryManagedBean.renderChartArray[9]}" />
                                    <c3:line data="#{userDashboardHistoryManagedBean.chartBeanArray[9].data}"
                                             axis="#{userDashboardHistoryManagedBean.chartBeanArray[9].axis}"
                                             point="#{userDashboardHistoryManagedBean.chartBeanArray[9].point}"
                                             rendered="#{userDashboardHistoryManagedBean.renderChartArray[9]}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/>
                                </h:panelGroup>
                            </td>
                        </tr>
                    </table>
                    


                    <br/><br/>

                    <h:panelGroup rendered="#{userDashboardHistoryManagedBean.showTable}" >
                        <p:dataGrid value="#{userDashboardHistoryManagedBean.listTableData}" var="o" columns="1">
                            <h:panelGroup>
                                <h:outputText value="#{o.userDashboardDetailBean.bankname} - #{o.userDashboardDetailBean.transactionname} - #{o.userDashboardDetailBean.transactionindicatorname} - #{o.userDashboardDetailBean.monitoringintervalname}"
                                              styleClass="bold" />
                                <br/>
                                <p:dataTable var="item" rowIndexVar="idx" value="#{o.listData}" >
                                    <p:columnGroup type="header">
                                        <p:row>
                                            <p:column rowspan="4" headerText="#{msg.no}" />
                                            <p:column rowspan="4" headerText="#{msg.period}" />
                                            <p:column colspan="2" headerText="#{msg.minute}" />
                                            <p:column colspan="36" headerText="#{msg.frequency}" />
                                        </p:row>
                                        <p:row>
                                            <p:column rowspan="3" headerText="#{msg.from}" />
                                            <p:column rowspan="3" headerText="#{msg.to}" />
                                            <p:column colspan="6" headerText="#{msg.acq_only}" />
                                            <p:column colspan="6" headerText="#{msg.iss_only}" />
                                            <p:column colspan="6" headerText="#{msg.bnf_only}" />
                                            <p:column colspan="6" headerText="#{msg.acq_iss}" />
                                            <p:column colspan="6" headerText="#{msg.acq_bnf}" />
                                            <p:column colspan="6" headerText="#{msg.iss_bnf}" />
                                        </p:row>
                                        <p:row>
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                            <p:column colspan="3" headerText="Curr" />
                                            <p:column colspan="3" headerText="Prev" />
                                        </p:row>
                                        <p:row>
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />

                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />

                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />

                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />

                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />

                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                            <p:column headerText="Approve" />
                                            <p:column headerText="Decline Charge" />
                                            <p:column headerText="Decline Free" />
                                        </p:row>
                                    </p:columnGroup>

                                    <p:column style="width:10px" >
                                        <h:outputText value="#{idx+1}" />
                                    </p:column>

                                    <p:column >
                                        <h:outputText value="#{item.period}" />
                                    </p:column>

                                    <p:column >
                                        <h:outputText value="#{item.timefr}" />
                                    </p:column>

                                    <p:column >
                                        <h:outputText value="#{item.timeto}" />
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_app}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_dc}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_df}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_app_prev}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_dc_prev}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acq_df_prev}" rendered="#{o.renderAcqOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>




                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_app}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_dc}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_df}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_app_prev}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_dc_prev}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_iss_df_prev}"  rendered="#{o.renderIssOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>




                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_app}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_dc}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_df}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_app_prev}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_dc_prev}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_bnf_df_prev}" rendered="#{o.renderBnfOnly}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>




                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_app}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_dc}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_df}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_app_prev}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_dc_prev}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqIss_df_prev}" rendered="#{o.renderAcqIss}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>






                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_app}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_dc}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_df}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_app_prev}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_dc_prev}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_acqBnf_df_prev}" rendered="#{o.renderAcqBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>







                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_app}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_dc}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_df}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_app_prev}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_dc_prev}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                    <p:column   >
                                        <div align="right">
                                            <h:outputText value="#{item.freq_issBnf_df_prev}" rendered="#{o.renderIssBnf}" >
                                                <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                            </h:outputText>
                                        </div>
                                    </p:column>

                                </p:dataTable>

                                <br/><br/>
                            </h:panelGroup>
                        </p:dataGrid>
                    </h:panelGroup>
                    
                    
                    <br/><br/>

                </div>

            </h:form>
        </p:panel>

        <!-- 180717 Modify by AAH-->
        <ui:remove>
        <p:ajaxStatus onstart="PF('pleaseWaitDialog').hide();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/ajax-loader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>
        </ui:remove>

    </ui:define>
</ui:composition>
