<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <p:panel header="test c3" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">

                    <div id="chart" style="width: 400px; height: 300px;"></div>
                    <h:outputText value="ooo" />
                    <div id="chart2" style="width: 400px; height: 300px;"></div>

                    <c3:line data="#{testC3ManagedBean.datac3}" style="width: 400px; height: 300px;" axis="#{testC3ManagedBean.axis}"  >
                        <p:ajax event="click" listener="#{testC3ManagedBean.clickTest}" />
                    </c3:line>


                    <br/>
                    <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{testC3ManagedBean.saveAction}" update=":frm1" />


                </div>




            </h:form>
        </p:panel>

        <script>
            var chart = c3.generate({
                bindto: '#chart',
                data: {
                    x: 'z1',
                    xFormat: '%Y-%m-%d %H:%M',
                    columns: [
                        ['z1', '2013-03-01 17:00', '2013-03-01 17:05', '2013-03-01 17:10', '2013-03-01 17:15', '2013-03-01 17:20',
                              '2013-03-01 17:25', '2013-03-01 17:30', '2013-03-01 17:35', '2013-03-01 17:40', '2013-03-01 17:45',
                              '2013-03-01 17:50', '2013-03-01 17:55',
                            '2013-03-01 18:00', '2013-03-01 18:05', '2013-03-01 18:10', '2013-03-01 18:15', '2013-03-01 18:20',
                            '2013-03-01 18:25', '2013-03-01 18:30', '2013-03-01 18:35', '2013-03-01 18:40', '2013-03-01 18:45',
                            '2013-03-01 18:50', '2013-03-01 18:55'
                        ],
                        ['z2', 300, 2000, 1000, 4000, 1500, 2500, 1250, 1600, 1700, 1800, 1600, 1500,
                            300, 2000, 1000, 4000, 1500, 2500, 1250, 1600, 1700, 1800, 1600, 1500],
                        ['z3', 500, 20, 100, 400, 150, 250, 300, 300, 400, 400, 300, 300,
                            500, 200, 100, 400, 150, 250, 300, 300, 400, 400, 300, 300]
                    ],
                    names: {z1:'x', z2:'data1', z3:'data2'},
                    colors:
                        {z2: '#FF0000',
                            z3: '#0000FF'},
                    type: 'line',
                    selection: {
                        enabled: true,
                        multiple: false
                    }
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            //count : 7,
                            fit: true,
                            format: '%d/%m %H:%M',
                            rotate: -45,
                            multiline: false,
                            culling: true
                        },
                        height: 70
                    },
                    y : {
                        tick: {
                            format: d3.format(",")
                            //format: d3.format("%")
                            //format: function (d) { return "$" + d; }
                        }
                    }
                }
            });










            var chart2 = c3.generate({
                bindto: '#chart2',
                data: {
                    columns:
                        [['ZJIxzZDDvrLfWSBK', 28, 38, 16, 170, 40, 160, 83, 190, 59, 21],
                            ['XvnqAQztesSyIHui', 193, 83, 197, 198, 28, 197, 22, 26, 134, 172],
                            ['z1', '2017-05-30 07:08', '2017-05-31 07:08', '2017-06-01 07:08', '2017-06-02 07:08', '2017-06-03 07:08', '2017-06-04 07:08', '2017-06-05 07:08', '2017-06-06 07:08', '2017-06-07 07:08', '2017-06-08 07:08']],
                    names:
                        {ZJIxzZDDvrLfWSBK: 'Data sample 1',
                            XvnqAQztesSyIHui: 'Data sample 2',
                            z1: 'x'},
                    colors:
                        {ZJIxzZDDvrLfWSBK: '#D7F707',
                            XvnqAQztesSyIHui: '#CCCCCC'},
                    type: 'line',
                    selection:
                        {enabled: true,
                            multiple: false},
                    xFormat: '%Y-%m-%d %H:%M',
                    x: 'z1'
                },
                axis: {
                    x:
                        {type: 'timeseries',
                            height: 70,
                            tick:
                                {format: '%d/%m %H:%M',
                                    rotate: -45,
                                    culling: true,
                                    fit: true,
                                    multiline: false}
                        },
                    y: {
                        tick: {
                            format: d3.format(",")
                            //format: d3.format("%")
                            //format: function (d) { return "$" + d; }
                        }
                    }
                }
                }
            );
        </script>


    </ui:define>
</ui:composition>
