<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="Add BIN" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">

                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">

                                    <h:outputText value="#{msg.bin_no} : " />
                                    <p:inputText value="#{addBinManagedBean.binNo}" onkeypress="if( (event.which &lt; 48 || event.which &gt; 57) ) return false;" size="65" maxlength="9" required="false" />

                                    <h:outputText value="#{msg.inst} : " />
                                    <p:selectOneMenu value="#{addBinManagedBean.selectedBankId}" effect="none" filter="true" filterPlaceholder="Search" filterMatchMode="contains">
                                        <f:selectItem itemValue="" itemLabel="" />
                                        <f:selectItems value="#{addBinManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                                    </p:selectOneMenu>

                                    <h:outputText value="BIN Length : " />
                                    <p:inputText value="#{addBinManagedBean.binLength}" onkeypress="if( (event.which &lt; 48 || event.which &gt; 57) ) return false;" size="65" maxlength="2" required="false" />

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{addBinManagedBean.addAction}" update=":frm1" />
                                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listBin.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>
                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>


    </ui:define>
</ui:composition>
