<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{msg.edit_bin_parameter}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">

                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="3" border="0" cellpadding="2" cellspacing="0">

                                    <h:outputLabel>#{msg.bank}</h:outputLabel>
                                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                    <p:selectOneMenu value="#{editBinAnomalyAggregateParameterManagedBean.listBin.bankId}" effect="none" disabled="true">
                                        <f:selectItem itemValue="" itemLabel="" />
                                        <f:selectItems value="#{editBinAnomalyAggregateParameterManagedBean.listBank}" var="o" itemLabel="#{o.bankName}" itemValue="#{o.bankId}" />
                                    </p:selectOneMenu>

                                    <h:outputLabel>#{msg.bin_no}</h:outputLabel>
                                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                    <p:inputText value="#{editBinAnomalyAggregateParameterManagedBean.listBin.bin}" size="40" maxlength="15" required="true" disabled="true" />

                                    <h:outputText value="#{msg.transaction}" />
                                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                    <h:panelGroup>
                                        <h:panelGrid columns="5" >
                                            <p:selectManyMenu value="#{editBinAnomalyAggregateParameterManagedBean.selectedOptionSource}" style="width: 300px; height: 120px;" >
                                                <f:selectItems value="#{editBinAnomalyAggregateParameterManagedBean.listTrxSource}"
                                                               var="o" itemLabel="#{o.esqTrxid.trxName}" itemValue="#{o.esqTrxid.trxId}" />
                                            </p:selectManyMenu>
                                            <h:graphicImage value="/images/spacer.gif" width="10" height="1"/>
                                            <h:panelGroup>
                                                <p:commandButton style="width: 50px;" value="+" action="#{editBinAnomalyAggregateParameterManagedBean.addSelectedTrxAction}" update=":frm1" />
                                                <br/>
                                                <br/>
                                                <p:commandButton style="width: 50px;" value="-" action="#{editBinAnomalyAggregateParameterManagedBean.removeSelectedTrxAction}" update=":frm1" />
                                            </h:panelGroup>
                                            <h:graphicImage value="/images/spacer.gif" width="10" height="1"/>
                                            <p:selectManyMenu value="#{editBinAnomalyAggregateParameterManagedBean.selectedOptionTarget}" style="width: 300px; height: 120px;" >
                                                <f:selectItems value="#{editBinAnomalyAggregateParameterManagedBean.listTrxSelected}"
                                                               var="o" itemLabel="#{o.esqTrxid.trxName}" itemValue="#{o.esqTrxid.trxId}" />
                                            </p:selectManyMenu>
                                        </h:panelGrid>
                                    </h:panelGroup>

                                    <h:outputLabel />
                                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editBinAnomalyAggregateParameterManagedBean.updateAction}" update=":frm1" />
                                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listBinAnomalyAggregateParameter.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>
                                </h:panelGrid>
                            </td>

                        </tr>
                    </table>

                </div>

            </h:form>
        </p:panel>

    </ui:define>
</ui:composition>
