<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="shortcut icon" style="width: 2px!important; height: 2%!important;" type="image/png" href="#{request.contextPath}/images/logo-rintis2.png" />
        <title>Potential Risk Detection System</title>
    </f:facet>

    <f:facet name="last">
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="css" name="solifugi.css" />
        <h:outputStylesheet library="css" name="eis.css" />

        <h:outputStylesheet name="bootstrap/css/bootstrap.css" />
        <h:outputScript name="bootstrap/js/bootstrap.js" />
        <h:outputStylesheet name="fontawesome/css/font-awesome.css" />

        <h:outputStylesheet library="css" name="test.css" />
        <h:outputScript name="js/test.js" />
        <h:outputScript name="js/plot.js" />
        <h:outputScript name="js/jqplot.canvasAxisTickRenderer.js" />
        <h:outputScript name="js/jqplot.dateAxisRenderer.js" />
        <h:outputScript name="js/jqplot.highlighter.js" />


    </f:facet>




</h:head>

<h:body>

<f:view >
<ui:include src="private_header.xhtml"/>
    <div style="margin-top: 110px; margin-left: 10px; margin-right: 10px;">
        <ui:insert name="content" />
    </div>
<ui:include src="private_footer.xhtml"/>
</f:view>

    <ui:remove>
    <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
        <f:facet name="start">
            <p:graphicImage value="/images/preloader.gif" />
        </f:facet>

        <f:facet name="complete">
            <h:outputText value="" />
        </f:facet>
    </p:ajaxStatus>
    </ui:remove>
</h:body>
</html>