<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{bankAlertThresholdManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />


                <div class="divPanelForm">

                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{bankAlertThresholdManagedBean.selectedTrxId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{bankAlertThresholdManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                        </p:selectOneMenu>

                        <h:outputText value="Sort by" />
                        <p:selectOneMenu value="#{bankAlertThresholdManagedBean.selectedOrder}" effect="none" >
                            <f:selectItem itemValue="BIGTRANS" itemLabel="Biggest Transaction" />
                            <f:selectItem itemValue="NAME" itemLabel="Bank Name" />
                        </p:selectOneMenu>

                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{bankAlertThresholdManagedBean.submitAction}" update="frm1" />
                        </h:panelGroup>

                    </h:panelGrid>


                    <br/>
					
					<p:separator />


                    <p:commandButton value="#{msg.button_save}" action="#{bankAlertThresholdManagedBean.saveAction}" update="frm1" />
					<br/><br/>

                    <div>
                        <h:outputText value="Transaction : " />
                        <h:outputText value="#{bankAlertThresholdManagedBean.selectedTransactionName}" />

                        <br/>
                        <h:outputText value="Note : " /><br/> <!--modified by SOM 18102018-->
                        <h:outputText value="M1 : Total last 5 minutes transactions comparing to total 5 minutes transactions 10 minutes ago." /><br/>
                        <h:outputText value="M2 : Total last 5 minutes transactions comparing to total 5 minutes transactions at the same time a day before." /><br/>
                        <h:outputText value="M3 : % decline charge > % approve." /><br/>
                        <h:outputText value="M4 : % decline free > % approve." />
                    </div>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{bankAlertThresholdManagedBean.list}"
                                 style="width:100%" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="3" headerText="#{msg.no}" />
                                <p:column rowspan="3" headerText="#{msg.bank}" />
                                <p:column rowspan="2" headerText="#{msg.active}" />
                                <p:column colspan="2" headerText="Active Time" />
                                <p:column colspan="7" headerText="Compare Method and #{msg.threshold} (%)" />
                            </p:row>
                            <p:row>
                                <p:column rowspan="1" headerText="From" />
                                <p:column rowspan="1" headerText="To" />
                                <p:column colspan="2" headerText="M1" />
                                <p:column colspan="3" headerText="M2" />
                                <p:column rowspan="2" headerText="M3" />
                                <p:column rowspan="2" headerText="M4" />
                            </p:row>
                            <p:row>
                                <p:column>
                                    <f:facet name="header">
                                        <p:selectBooleanCheckbox value="#{bankAlertThresholdManagedBean.activeCheck}" >
                                            <p:ajax event="change" update="idTable" listener="#{bankAlertThresholdManagedBean.checkboxActiveChangeListener}" />
                                        </p:selectBooleanCheckbox>
                                    </f:facet>
                                </p:column>
                                <p:column headerText="hh:mm" />
                                <p:column headerText="hh:mm" />
                                <p:column headerText="" />
                                <p:column headerText="Threshold" />
                                <p:column headerText="" />
                                <p:column headerText="Weekday &lt;-&gt; Weekday" />
                                <p:column headerText="Weekday &lt;-&gt; Holiday" />

                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.bankname}" />
                        </p:column>

                        <p:column>
                            <div align="center">
                            <p:selectBooleanCheckbox value="#{item.activeBool}" />
                            </div>
                        </p:column>

                        <p:column >
                            <p:selectOneMenu value="#{item.starthour}" effect="none" >
                                <f:selectItem itemValue="00" itemLabel="00" />
                                <f:selectItem itemValue="01" itemLabel="01" />
                                <f:selectItem itemValue="02" itemLabel="02" />
                                <f:selectItem itemValue="03" itemLabel="03" />
                                <f:selectItem itemValue="04" itemLabel="04" />
                                <f:selectItem itemValue="05" itemLabel="05" />
                                <f:selectItem itemValue="06" itemLabel="06" />
                                <f:selectItem itemValue="07" itemLabel="07" />
                                <f:selectItem itemValue="08" itemLabel="08" />
                                <f:selectItem itemValue="09" itemLabel="09" />
                                <f:selectItem itemValue="10" itemLabel="10" />
                                <f:selectItem itemValue="11" itemLabel="11" />
                                <f:selectItem itemValue="12" itemLabel="12" />
                                <f:selectItem itemValue="13" itemLabel="13" />
                                <f:selectItem itemValue="14" itemLabel="14" />
                                <f:selectItem itemValue="15" itemLabel="15" />
                                <f:selectItem itemValue="16" itemLabel="16" />
                                <f:selectItem itemValue="17" itemLabel="17" />
                                <f:selectItem itemValue="18" itemLabel="18" />
                                <f:selectItem itemValue="19" itemLabel="19" />
                                <f:selectItem itemValue="20" itemLabel="20" />
                                <f:selectItem itemValue="21" itemLabel="21" />
                                <f:selectItem itemValue="22" itemLabel="22" />
                                <f:selectItem itemValue="23" itemLabel="23" />
                            </p:selectOneMenu>
                            <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                            <p:selectOneMenu value="#{item.startminute}" effect="none" >
                                <f:selectItem itemValue="00" itemLabel="00" />
                                <f:selectItem itemValue="05" itemLabel="05" />
                                <f:selectItem itemValue="10" itemLabel="10" />
                                <f:selectItem itemValue="15" itemLabel="15" />
                                <f:selectItem itemValue="20" itemLabel="20" />
                                <f:selectItem itemValue="25" itemLabel="25" />
                                <f:selectItem itemValue="30" itemLabel="30" />
                                <f:selectItem itemValue="35" itemLabel="35" />
                                <f:selectItem itemValue="40" itemLabel="40" />
                                <f:selectItem itemValue="45" itemLabel="45" />
                                <f:selectItem itemValue="50" itemLabel="50" />
                                <f:selectItem itemValue="55" itemLabel="55" />
                            </p:selectOneMenu>
                        </p:column>

                        <p:column >
                            <p:selectOneMenu value="#{item.endhour}" effect="none" >
                                <f:selectItem itemValue="00" itemLabel="00" />
                                <f:selectItem itemValue="01" itemLabel="01" />
                                <f:selectItem itemValue="02" itemLabel="02" />
                                <f:selectItem itemValue="03" itemLabel="03" />
                                <f:selectItem itemValue="04" itemLabel="04" />
                                <f:selectItem itemValue="05" itemLabel="05" />
                                <f:selectItem itemValue="06" itemLabel="06" />
                                <f:selectItem itemValue="07" itemLabel="07" />
                                <f:selectItem itemValue="08" itemLabel="08" />
                                <f:selectItem itemValue="09" itemLabel="09" />
                                <f:selectItem itemValue="10" itemLabel="10" />
                                <f:selectItem itemValue="11" itemLabel="11" />
                                <f:selectItem itemValue="12" itemLabel="12" />
                                <f:selectItem itemValue="13" itemLabel="13" />
                                <f:selectItem itemValue="14" itemLabel="14" />
                                <f:selectItem itemValue="15" itemLabel="15" />
                                <f:selectItem itemValue="16" itemLabel="16" />
                                <f:selectItem itemValue="17" itemLabel="17" />
                                <f:selectItem itemValue="18" itemLabel="18" />
                                <f:selectItem itemValue="19" itemLabel="19" />
                                <f:selectItem itemValue="20" itemLabel="20" />
                                <f:selectItem itemValue="21" itemLabel="21" />
                                <f:selectItem itemValue="22" itemLabel="22" />
                                <f:selectItem itemValue="23" itemLabel="23" />
                            </p:selectOneMenu>

                            <p:selectOneMenu value="#{item.endminute}" effect="none" >
                                <f:selectItem itemValue="00" itemLabel="00" />
                                <f:selectItem itemValue="05" itemLabel="05" />
                                <f:selectItem itemValue="10" itemLabel="10" />
                                <f:selectItem itemValue="15" itemLabel="15" />
                                <f:selectItem itemValue="20" itemLabel="20" />
                                <f:selectItem itemValue="25" itemLabel="25" />
                                <f:selectItem itemValue="30" itemLabel="30" />
                                <f:selectItem itemValue="35" itemLabel="35" />
                                <f:selectItem itemValue="40" itemLabel="40" />
                                <f:selectItem itemValue="45" itemLabel="45" />
                                <f:selectItem itemValue="50" itemLabel="50" />
                                <f:selectItem itemValue="55" itemLabel="55" />
                            </p:selectOneMenu>
                        </p:column>

                        <p:column>
                            <p:selectBooleanCheckbox value="#{item.comparemethod1}" />
                        </p:column>

                        <p:column>
                            <p:inputText value="#{item.thresholdm1}" size="8" maxlength="8" />
                        </p:column>

                        <p:column>
                            <p:selectBooleanCheckbox value="#{item.comparemethod2}" />
                        </p:column>

                        <p:column>
                            <p:inputText value="#{item.threshold5minwdwd}" size="8" maxlength="8" />
                        </p:column>

                        <p:column  style="width: 90px">
                            <p:inputText value="#{item.threshold5minwdhd}" size="8" maxlength="8" />
                        </p:column>


                        <p:column style="width: 30px">
                            <p:selectBooleanCheckbox value="#{item.comparemethod3}" />
                        </p:column>

                        <p:column style="width: 30px">
                            <p:selectBooleanCheckbox value="#{item.comparemethod4}" />
                        </p:column>

                        <ui:remove>
                        <p:column>
                            <p:selectOneMenu value="#{item.limitintervalminute}" effect="none" >
                                <f:selectItem itemValue="05" itemLabel="05" />
                                <f:selectItem itemValue="10" itemLabel="10" />
                                <f:selectItem itemValue="15" itemLabel="15" />
                                <f:selectItem itemValue="20" itemLabel="20" />
                                <f:selectItem itemValue="25" itemLabel="25" />
                                <f:selectItem itemValue="30" itemLabel="30" />
                                <f:selectItem itemValue="35" itemLabel="35" />
                                <f:selectItem itemValue="40" itemLabel="40" />
                                <f:selectItem itemValue="45" itemLabel="45" />
                                <f:selectItem itemValue="50" itemLabel="50" />
                                <f:selectItem itemValue="55" itemLabel="55" />
                                <f:selectItem itemValue="60" itemLabel="60" />
                                <f:selectItem itemValue="65" itemLabel="65" />
                                <f:selectItem itemValue="70" itemLabel="70" />
                                <f:selectItem itemValue="75" itemLabel="75" />
                                <f:selectItem itemValue="80" itemLabel="80" />
                                <f:selectItem itemValue="85" itemLabel="85" />
                                <f:selectItem itemValue="90" itemLabel="90" />
                                <f:selectItem itemValue="95" itemLabel="95" />
                                <f:selectItem itemValue="100" itemLabel="100" />
                                <f:selectItem itemValue="105" itemLabel="105" />
                                <f:selectItem itemValue="110" itemLabel="110" />
                                <f:selectItem itemValue="115" itemLabel="115" />
                                <f:selectItem itemValue="120" itemLabel="120" />
                            </p:selectOneMenu>
                        </p:column>
                        </ui:remove>

                    </p:dataTable>

                    <br/><br/>


                </div>




            </h:form>
        </p:panel>





    </ui:define>
</ui:composition>
