<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="Alert Anomaly" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />
                <p:poll interval="#{listAlertAnomalyManagedBean.graphRefreshInterval}" listener="#{listAlertAnomalyManagedBean.onPoolListener}" update="frm1" />


                <div class="divPanelForm">


                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listAlertAnomalyManagedBean.list}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="top"
                                 style="width:90%" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="#{msg.no}" />
                                <p:column headerText="#{msg.date}" />
                                <p:column headerText="#{msg.bank}" />
                                <p:column headerText="#{msg.transaction}" />
                                <p:column headerText="#{msg.prev_value}" />
                                <p:column headerText="#{msg.curr_value}" />
                                <ui:remove>
                                <p:column headerText="#{msg.status}" />
                                </ui:remove>
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.alertDate}" >
                                <f:convertDateTime pattern="#{listAlertAnomalyManagedBean.defaultCalendarDateTimeFormat}" />
                            </h:outputText>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.eisBank.bankName}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.esqTrxid.trxName}" />
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.prevValue}" />
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.currValue}" />
                            </div>
                        </p:column>

                        <ui:remove>
                        <p:column style="width: 180px;" >
                            <h:outputText style="color: green;" rendered="#{item.solveStatus == 1}" value="#{msg.normal}" />
                            <h:outputText style="color: red;" rendered="#{item.solveStatus == 2}" value="#{msg.not_normal}" />
                            <h:panelGroup rendered="#{item.solveStatus == 0}" >
                                <p:commandButton value="#{msg.normal}" action="#{listAlertAnomalyManagedBean.normalAction}" update=":frm1" >
                                    <f:setPropertyActionListener target="#{listAlertAnomalyManagedBean.selectedAlertAnomaly}" value="#{item}" />
                                </p:commandButton>
                                <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                                <p:commandButton value="#{msg.not_normal}" action="#{listAlertAnomalyManagedBean.notNormalAction}" update=":frm1" >
                                    <f:setPropertyActionListener target="#{listAlertAnomalyManagedBean.selectedAlertAnomaly}" value="#{item}" />
                                </p:commandButton>
                            </h:panelGroup>
                        </p:column>
                        </ui:remove>


                    </p:dataTable>

                    <br/><br/>

                </div>




            </h:form>
        </p:panel>





    </ui:define>
</ui:composition>
