<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="Alert Anomaly Acknowledge" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />


                <div class="divPanelForm">

                    <table>
                        <tr>
                            <td>

                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="#{msg.inst}" />
                                    <p:selectOneMenu value="#{searchAlertAnomalyManagedBean.selectedBankId}" effect="none" >
                                        <f:selectItem itemValue="" itemLabel="" />
                                        <f:selectItems value="#{searchAlertAnomalyManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                                    </p:selectOneMenu>

                                    <h:outputText value="#{msg.transaction}" />
                                    <p:selectOneMenu value="#{searchAlertAnomalyManagedBean.selectedTransactionId}" effect="none" >
                                        <f:selectItem itemValue="" itemLabel="" />
                                        <f:selectItem itemValue="ALL" itemLabel="All" />
                                        <f:selectItems value="#{searchAlertAnomalyManagedBean.listTransaction}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                                    </p:selectOneMenu>

                                    <h:outputText value="#{msg.start_date}" />
                                    <p:calendar value="#{searchAlertAnomalyManagedBean.startDate}" styleClass="commonText"
                                                showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                pattern="#{searchAlertAnomalyManagedBean.defaultCalendarDateFormat}" />

                                    <h:outputText value="#{msg.end_date}" />
                                    <p:calendar value="#{searchAlertAnomalyManagedBean.endDate}" styleClass="commonText"
                                                showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                pattern="#{searchAlertAnomalyManagedBean.defaultCalendarDateFormat}" />


                                    <ui:remove>
                                    <h:outputText value="#{msg.status}" />
                                    <p:selectOneMenu value="#{searchAlertAnomalyManagedBean.selectedStatusId}" effect="none" >
                                        <f:selectItem itemValue="-1" itemLabel="All" />
                                        <f:selectItem itemValue="0" itemLabel="Not Ack" />
                                        <f:selectItem itemValue="2" itemLabel="Ack" />
                                    </p:selectOneMenu>
                                    </ui:remove>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_submit}" action="#{searchAlertAnomalyManagedBean.submitAction}" update="frm1" />
                                    </h:panelGroup>

                                </h:panelGrid>

                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td valign="top">
                                <h:outputText value="Compare Method : " /><br/> <!--modified by SOM 18102018-->
                                <h:outputText value="M1 : #{searchAlertAnomalyManagedBean.m1Description}" /><br/>
                                <h:outputText value="M2 : #{searchAlertAnomalyManagedBean.m2Description}" /><br/>
                                <h:outputText value="M3 : #{searchAlertAnomalyManagedBean.m3Description}" /><br/>
                                <h:outputText value="M4 : #{searchAlertAnomalyManagedBean.m4Description}" />
                            </td>
                        </tr>
                    </table>

                    <p:separator />





                    <div align="left" >
                        <p:commandButton value="#{msg.ack}" action="#{searchAlertAnomalyManagedBean.removeItemAction}" update=":frm1" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <p:commandButton value="#{msg.ack} All" action="#{searchAlertAnomalyManagedBean.removeAllItemAction}"
                                         rendered="#{searchAlertAnomalyManagedBean.renderAckAll}"
                                         update=":frm1" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <p:commandButton value="#{msg.refresh}" action="#{searchAlertAnomalyManagedBean.refreshAction}"
                                         update=":frm1" />
                    </div>
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{searchAlertAnomalyManagedBean.listAlertAnomalyDataModel}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="top"
                                 selection="#{searchAlertAnomalyManagedBean.selectedItems}"
                                 style="width:100%" rowSelectMode="checkbox">

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="2" headerText="" />
                                <p:column rowspan="2" headerText="#{msg.no}" />
                                <p:column rowspan="2" headerText="#{msg.date}" />
                                <p:column rowspan="2" headerText="#{msg.inst}" />
                                <p:column rowspan="2" headerText="#{msg.transaction}" />
                                <p:column rowspan="2" headerText="#{msg.indicator}" />
                                <p:column rowspan="2" headerText="#{msg.interval}" />
                                <p:column colspan="3" headerText="#{msg.previous}" />
                                <p:column colspan="3" headerText="#{msg.current}" />
                                <p:column rowspan="2" headerText="#{msg.freq_type}" />
                                <p:column rowspan="2" headerText="#{msg.current_method}" />
                                <p:column rowspan="2" headerText="#{msg.threshold}" />
                            </p:row>
                            <p:row>
                                <p:column headerText="#{msg.from}" />
                                <p:column headerText="#{msg.to}" />
                                <p:column headerText="#{msg.freq}" />
                                <p:column headerText="#{msg.from}" />
                                <p:column headerText="#{msg.to}" />
                                <p:column headerText="#{msg.freq}" />
                            </p:row>
                        </p:columnGroup>


                        <p:column selectionMode="multiple" style="width:18px" />


                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.alertDate}" >
                                <f:convertDateTime pattern="#{searchAlertAnomalyManagedBean.defaultCalendarDateTimeFormat}" />
                            </h:outputText>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.eisBank.bankName}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.esqTrxid.trxName}" />
                            <h:outputText value="All" rendered="#{item.transactionId eq 'ALL'}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.esqTrxIndicator.trxName}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeframeName}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeFrPrev}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeToPrev}" />
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.prevValue}" />
                            </div>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeFr}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeTo}" />
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.currValue}" />
                            </div>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.typeColName}" />
                        </p:column>

                        <p:column style="width: 30px;" >
                            <h:outputText value="#{item.alertMethod}" />
                        </p:column>

                        <p:column style="width: 30px;" >
                            <div align="right">
                                <h:outputText value="#{item.threshold}" />
                            </div>
                        </p:column>

                        <ui:remove>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg.ack}" />
                            </f:facet>
                            <div align="center">
                                <h:graphicImage rendered="#{item.solveStatus == 2}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>
                        </ui:remove>

                        <ui:remove>
                        <p:column >
                            <div align="center">
                            <h:outputText rendered="#{item.solveStatus == 2}" value="#{msg.ack}" />
                            <h:panelGroup rendered="#{item.solveStatus == 0}" >
                                <p:selectBooleanCheckbox value="#{item.ack}" />


                                <p:commandButton value="#{msg.normal}" action="#{searchAlertAnomalyManagedBean.normalAction}" update=":frm1" >
                                    <f:setPropertyActionListener target="#{searchAlertAnomalyManagedBean.selectedAlertAnomaly}" value="#{item}" />
                                </p:commandButton>
                                <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                                <p:commandButton value="#{msg.not_normal}" action="#{searchAlertAnomalyManagedBean.notNormalAction}" update=":frm1" >
                                    <f:setPropertyActionListener target="#{searchAlertAnomalyManagedBean.selectedAlertAnomaly}" value="#{item}" />
                                </p:commandButton>

                            </h:panelGroup>
                            </div>
                        </p:column>
                        </ui:remove>
                        

                    </p:dataTable>

                    <br/><br/>

                </div>




            </h:form>
        </p:panel>





    </ui:define>
</ui:composition>
