<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="Alert Anomaly History" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />
                <p:poll interval="#{searchAlertAnomalyHistoryManagedBean.refreshInterval}" listener="#{searchAlertAnomalyHistoryManagedBean.onPoolAction}"
                        update=":frm1" />

                <div class="divPanelForm">

                    <table>
                        <tr>
                            <td>

                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="#{msg.inst}" />
                                    <p:selectOneMenu value="#{searchAlertAnomalyHistoryManagedBean.selectedBankId}" effect="none" >
                                        <f:selectItem itemValue="" itemLabel="" />
                                        <f:selectItems value="#{searchAlertAnomalyHistoryManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                                    </p:selectOneMenu>

                                    <h:outputText value="#{msg.transaction}" />
                                    <p:selectOneMenu value="#{searchAlertAnomalyHistoryManagedBean.selectedTransactionId}" effect="none" >
                                        <f:selectItem itemValue="" itemLabel="" />
                                        <f:selectItem itemValue="ALL" itemLabel="All" />
                                        <f:selectItems value="#{searchAlertAnomalyHistoryManagedBean.listTransaction}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                                    </p:selectOneMenu>

                                    <h:outputText value="#{msg.start_date}" />
                                    <p:calendar value="#{searchAlertAnomalyHistoryManagedBean.startDate}" styleClass="commonText"
                                                showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                pattern="#{searchAlertAnomalyHistoryManagedBean.defaultCalendarDateFormat}" />

                                    <h:outputText value="#{msg.end_date}" />
                                    <p:calendar value="#{searchAlertAnomalyHistoryManagedBean.endDate}" styleClass="commonText"
                                                showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                pattern="#{searchAlertAnomalyHistoryManagedBean.defaultCalendarDateFormat}" />



                                        <h:outputText value="#{msg.status}" />
                                        <p:selectOneMenu value="#{searchAlertAnomalyHistoryManagedBean.selectedStatusId}" effect="none" >
                                            <f:selectItem itemValue="-1" itemLabel="All" />
                                            <f:selectItem itemValue="0" itemLabel="Not Acknowledge" />
                                            <f:selectItem itemValue="2" itemLabel="Acknowledge" />
                                        </p:selectOneMenu>


                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_submit}" action="#{searchAlertAnomalyHistoryManagedBean.submitAction}" update="frm1" />
                                    </h:panelGroup>

                                </h:panelGrid>

                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td valign="top">
                                <h:outputText value="Compare Method : " /><br/> <!--modified by SOM 18102018-->
                                <h:outputText value="M1 : #{searchAlertAnomalyHistoryManagedBean.m1Description}" /><br/>
                                <h:outputText value="M2 : #{searchAlertAnomalyHistoryManagedBean.m2Description}" /><br/>
                                <h:outputText value="M3 : #{searchAlertAnomalyHistoryManagedBean.m3Description}" /><br/>
                                <h:outputText value="M4 : #{searchAlertAnomalyHistoryManagedBean.m4Description}" />
                            </td>
                        </tr>
                    </table>

                    <p:separator />





                    <div align="left" >

                    </div>
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{searchAlertAnomalyHistoryManagedBean.listAlertAnomalyDataModel}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="top"
                                 selection="#{searchAlertAnomalyHistoryManagedBean.selectedItems}"
                                 style="width:100%" rowSelectMode="checkbox">

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="2" headerText="#{msg.no}" />
                                <p:column rowspan="2" headerText="#{msg.date}" />
                                <p:column rowspan="2" headerText="#{msg.inst}" />
                                <p:column rowspan="2" headerText="#{msg.transaction}" />
                                <p:column rowspan="2" headerText="#{msg.indicator}" />
                                <p:column rowspan="2" headerText="#{msg.interval}" />
                                <p:column colspan="3" headerText="#{msg.previous}" />
                                <p:column colspan="3" headerText="#{msg.current}" />
                                <p:column rowspan="2" headerText="#{msg.freq_type}" />
                                <p:column rowspan="2" headerText="#{msg.current_method}" />
                                <p:column rowspan="2" headerText="#{msg.threshold}" />
                                <p:column rowspan="2" headerText="#{msg.ack}" />
                            </p:row>
                            <p:row>
                                <p:column headerText="#{msg.from}" />
                                <p:column headerText="#{msg.to}" />
                                <p:column headerText="#{msg.freq}" />
                                <p:column headerText="#{msg.from}" />
                                <p:column headerText="#{msg.to}" />
                                <p:column headerText="#{msg.freq}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.alertDate}" >
                                <f:convertDateTime pattern="#{searchAlertAnomalyHistoryManagedBean.defaultCalendarDateTimeFormat}" />
                            </h:outputText>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.eisBank.bankName}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.esqTrxid.trxName}" />
                            <h:outputText value="All" rendered="#{item.transactionId eq 'ALL'}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.esqTrxIndicator.trxName}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeframeName}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeFrPrev}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeToPrev}" />
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.prevValue}" />
                            </div>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeFr}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeTo}" />
                        </p:column>

                        <p:column >
                            <div align="right" >
                                <h:outputText value="#{item.currValue}" />
                            </div>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.typeColName}" />
                        </p:column>

                        <p:column style="width: 30px;" >
                            <h:outputText value="#{item.alertMethod}" />
                        </p:column>

                        <p:column style="width: 30px;" >
                            <div align="right">
                                <h:outputText value="#{item.threshold}" />
                            </div>
                        </p:column>


                        <p:column>
                            <div align="center">
                                <h:graphicImage rendered="#{item.solveStatus == 2}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>





                    </p:dataTable>

                    <br/><br/>

                </div>




            </h:form>
        </p:panel>





    </ui:define>
</ui:composition>
