<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{historyBlockedUnblockedManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">
                    <br/><br/>
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{historyBlockedUnblockedManagedBean.list}" paginator="true" rows="20" paginatorPosition="both"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="true" style="width:80%">

                        <p:column style="width:10px" >
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>
                        <p:column sortBy="#{item.document_id}" filterBy="${item.document_id}" filterMatchMode="contains">
                            <f:facet name="header">
                                Document Id
                            </f:facet>
                            <h:outputText value="#{item.document_id}" />
                        </p:column>

                        <p:column sortBy="#{item.datetime}">
                            <f:facet name="header">
                                Datetime
                            </f:facet>
                            <h:outputText value="#{item.datetime}" />
                        </p:column>

                        <p:column sortBy="#{item.user_id}" filterBy="${item.user_id}" filterMatchMode="contains">
                            <f:facet name="header">
                                Created/Approved/Cancelled By
                            </f:facet>
                            <h:outputText value="#{item.user_id}" />
                        </p:column>

                        <p:column sortBy="#{item.pan}" filterBy="${item.pan}" filterMatchMode="contains">
                            <f:facet name="header">
                                PAN
                            </f:facet>
                            <h:outputText value="#{item.pan}" />
                        </p:column>

                        <p:column sortBy="#{item.bank_name}" filterBy="${item.bank_name}" filterMatchMode="contains">
                            <f:facet name="header">
                                Institution
                            </f:facet>
                            <h:outputText value="#{item.bank_name}" />
                        </p:column>

                        <p:column sortBy="#{item.status}">
                            <f:facet name="header">
                                Status
                            </f:facet>
                            <h:outputText value="#{item.status}" />
                        </p:column>


                    </p:dataTable>

                    <br/><br/>

                </div>

            </h:form>
        </p:panel>


    </ui:define>
</ui:composition>
