<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{unblockedAdministrationManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">

                    <br/>
                    <div align="left" >
                        <p:commandButton value="Add to PAN Unblock" action="#{unblockedAdministrationManagedBean.saveItemAction}" update=":frm1" />
                    </div>
                    <br/>

                    <p:dataTable id="idTable" widgetVar="dataTableWidgetVar" var="item" rowIndexVar="idx" value="#{unblockedAdministrationManagedBean.listSequentialDataModel}"
                                 rows="10" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="both"
                                 selection="#{unblockedAdministrationManagedBean.selectedItems}"
                                 style="width:500px; font-size:11px;" rowSelectMode="checkbox">

                        <p:columnGroup type="header">
                            <p:row style="font-size:12px;">
                                <p:column headerText="Unblocked" />
                                <p:column headerText="#{msg.no}" />
                                <p:column headerText="PAN" sortBy="#{item.pan}" filterBy="${item.pan}" value="#{item.pan}" />
                                <p:column headerText="Issuer Bank" sortBy="#{item.issuerbank}" filterBy="${item.issuerbank}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column selectionMode="multiple" style="width:18px">
                        </p:column>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column field="#{item.pan}">
                            <h:outputText value="#{item.pan}" >
                            </h:outputText>
                        </p:column>

                        <p:column field="#{item.issuerbank}">
                            <h:outputText value="#{item.issuerbank}" >
                            </h:outputText>
                        </p:column>

                    </p:dataTable>
                </div>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>


