<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="#{msg.add_menu_whitelist_bene_title}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputLabel>#{msg.account_no}</h:outputLabel>

                                    <p:inputText autocomplete="off" value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.account}" size="30" maxlength="40" onkeyup="this.value=this.value.replace(/[^\d-]/,'')" />

                                    <h:outputLabel>#{msg.receiver}</h:outputLabel>
                                    <p:inputText autocomplete="off" value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.penerima}" size="30" maxlength="70" />

                                    <h:outputLabel>Frequency Approve</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.freqApp}" size="30" maxlength="8" padControl="false " minValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Frequency Decline Charge</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.freqDc}" size="30" maxlength="8" padControl="false " minValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Frequency Decline Free</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.freqDcFree}" size="30" maxlength="8" padControl="false " minValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Frequency Reversal</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.freqRvsl}" size="30" maxlength="8" padControl="false " minValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Approve</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.totalAmtApp}" size="30" maxlength="20" padControl="false " minValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Decline Charge</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.totalAmtDc}" size="30" maxlength="20" padControl="false " minValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Decline Free</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.totalAmtDcFree}" size="30" maxlength="20" padControl="false " minValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Reversal</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.totalAmtRvsl}" size="30" maxlength="20" padControl="false " minValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <ui:remove>
                                    <h:outputLabel>Amount Total</h:outputLabel>
                                    <p:inputNumber value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.totalAmt}" size="30" maxlength="20" padControl="false "  />
                                    </ui:remove>

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Active" value="#{addWhitelistBeneficiaryManagedBean.whitelistBeneficiaryBean.active}" />

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{addWhitelistBeneficiaryManagedBean.saveAction}" update="frm1" />
                                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listWhitelistBeneficiary.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
