<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="Detail Pan Anomaly Inquiry" styleClass="panelContent">
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td>
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText styleClass="bold" value="Issuer Bank : " />
                                    <h:outputText value="#{detailPanAnomalyInquiryPaymentManagedBean.pIssuerBank}" />

                                    <h:outputText styleClass="bold" value="PAN : " />
                                    <c:set var = "bin" value="#{(detailPanAnomalyInquiryPaymentManagedBean.pPan.trim()).substring(0,6)}"/>
                                    <c:set var = "filler" value="#{(detailPanAnomalyInquiryPaymentManagedBean.pPan.trim()).substring(6,(detailPanAnomalyInquiryPaymentManagedBean.pPan.trim()).length()-4)}"/>
                                    <c:set var = "fillerAsterisks" value="${fn:replace(filler, '[0-9]', '*')}"/>
                                    <c:set var = "suffix" value="#{(detailPanAnomalyInquiryPaymentManagedBean.pPan.trim()).substring((detailPanAnomalyInquiryPaymentManagedBean.pPan.trim()).length()-4,(detailPanAnomalyInquiryPaymentManagedBean.pPan.trim()).length())}"/>
                                    <h:outputText value="#{bin.concat(fillerAsterisks).concat(suffix)}" />

                                    <h:outputText styleClass="bold" value="Transaction Type : " />
                                    <h:outputText value="#{detailPanAnomalyInquiryPaymentManagedBean.pTranType}" />

                                    <h:outputLabel />
                                    <p:commandButton value="View Detail" action="#{detailPanAnomalyInquiryPaymentManagedBean.submitAction}" onbegin="PF('pleaseWaitDialog').show()" oncomplete="PF('pleaseWaitDialog').hide()" update="frm1" />

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>

                    <p:separator />

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{detailPanAnomalyInquiryPaymentManagedBean.list}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="both"
                                 style="width:100%; font-size:11px;">

                        <p:columnGroup type="header">
                            <p:row style="font-size:10px;">
                                <p:column headerText="#{msg.no}" />
                                <p:column headerText="Datetime" sortBy="#{item.datetime}" />
                                <p:column headerText="Acquirer" sortBy="#{item.acquirer}" />
                                <p:column headerText="Biller" sortBy="#{item.biller}" />
                                <p:column headerText="Product Code" sortBy="#{item.product_code}" />
                                <p:column headerText="Cust ID" sortBy="#{item.cust_id}" />
                                <p:column headerText="STAN" sortBy="#{item.stan}" />
                                <p:column headerText="Term ID" sortBy="#{item.term_id}" />
                                <p:column headerText="Channel ID" sortBy="#{item.channel_id}" />
                                <p:column headerText="Ref No" sortBy="#{item.ref_no}" />
                                <p:column headerText="Biller No" sortBy="#{item.biller_no}" />
                                <p:column headerText="Name" sortBy="#{item.cust_name}" />
                                <p:column headerText="Response Code" sortBy="#{item.rc}" />
                                <p:column headerText="Description" sortBy="#{item.description}" />
                                <p:column headerText="Amount" sortBy="#{item.amount}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:9px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <div align="center">
                                <h:outputText value="#{item.datetime}" />
                            </div>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.acquirer}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.biller}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.product_code}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.cust_id}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.stan}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.term_id}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.channel_id}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.ref_no}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.biller_no}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.cust_name}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.rc}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.description}" />
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.amount}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:columnGroup type="footer" style="font-size:12px;">
                            <p:row>
                                <p:column colspan="14" footerText="Total" />
                                <p:column style="text-align:right" footerText="#{detailPanAnomalyInquiryPaymentManagedBean.valueAmtTotal}" />
                            </p:row>
                        </p:columnGroup>

                    </p:dataTable>
                    <br/><br/>

                </div>

            </h:form>
        </p:panel>

        <p:ajaxStatus onstart="PF('pleaseWaitDialog').show();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/preloader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>

    </ui:define>
</ui:composition>
