<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="Edit Internal Email" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="3" cellspacing="0">
                                    <h:outputLabel>#{msg.menu_pan_email}</h:outputLabel>
                                    <h:outputText style="font-weight: bold;" escape="false" value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).userEmail}" size="30" maxlength="250" required="true" />

                                    <h:outputLabel>#{msg.menu_pan_gender}</h:outputLabel>
                                    <p:inputText value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).gender}" size="30" maxlength="5" padControl="false "  />

                                    <h:outputLabel>#{msg.menu_pan_user}</h:outputLabel>
                                    <p:inputText value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).userName}" size="30" maxlength="50" padControl="false "  />

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Alert 1 Hour" value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).alert1H}" />

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Alert 3 Hours" value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).alert3H}" />

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Alert 6 Hours" value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).alert6H}" />

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Alert 1 Day" value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).alert1D}" />

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Alert 3 Days" value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).alert3D}" />

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Alert Max Amount" value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).alertMaxAmt}" />

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Alert MCC Velocity" value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).alertMccVelocity}" />

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Alert Sequential Velocity" value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).alertSeqVelocity}" />

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Alert MPAN Acquirer" value="#{editPanAnomalyEmailManagedBean.panAnomalyEmail.get(0).alertMpanAcq}" />

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editPanAnomalyEmailManagedBean.editAction}" update="frm1" />
                                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listPanAnomalyEmail.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
