<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="Edit Max Amount Anomaly Parameter" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="3" cellspacing="0">

                                    <h:outputLabel value="Transaction"/>
                                    <h:outputText style="font-weight: bold;" escape="false" value="#{editAnomalyMaxAmountParameterManagedBean.panAnomalyParam.get(0).trx}" size="20" maxlength="20" required="true" />

                                    <h:outputLabel value="Max Amount 1 Hour"/>
                                    <p:inputNumber style="font-weight: bold;" escape="false" value="#{editAnomalyMaxAmountParameterManagedBean.panAnomalyParam.get(0).maxAmt1h}" size="20" maxlength="20" padControl="false " />

                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editAnomalyMaxAmountParameterManagedBean.editAction}" update="frm1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listAnomalyMaxAmountParameter.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
