<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">
        <p:panel header="Internal Email" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="false" life="3000" />

                <div class="divPanelForm">
                    <div class="tabCommandArea">
                        <h:outputLink styleClass="toolbarMenuLink" value="addPanAnomalyEmail.do" >
                            <h:outputText value="#{msg.button_add}"/>
                        </h:outputLink>
                    </div>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listPanAnomalyEmailManagedBean.listPanAnomalyEmail}" paginator="true" rows="10" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:100%" >

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="2" headerText="#{msg.no}" />
                                <p:column rowspan="2" headerText="User Email" />
                                <p:column rowspan="2" headerText="Gender" />
                                <p:column rowspan="2" headerText="User Name" />
                                <p:column colspan="9" headerText="Alert Email" />
                                <p:column rowspan="3" headerText="" />
                            </p:row>
                            <p:row>
                                <p:column headerText="1 Hour" />
                                <p:column headerText="3 Hours" />
                                <p:column headerText="6 Hours" />
                                <p:column headerText="1 Day" />
                                <p:column headerText="3 Days" />
                                <p:column headerText="Max Amount" />
                                <p:column headerText="MCC Velocity" />
                                <p:column headerText="Sequential Velocity" />
                                <!--Add by aaw 02/07/2021-->
                                <p:column headerText="MPAN Acquirer" />
                                <!--End add-->
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.userEmail}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.gender}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.userName}" />
                        </p:column>

                        <p:column>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alert1H == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alert3H == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alert6H == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alert1D == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alert3D == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alertMaxAmt == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alertMccVelocity == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alertSeqVelocity == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>

                        <!--Add by aaw 02/07/2021-->
                        <p:column>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alertMpanAcq == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>
                        <!--End add-->

                        <p:column style="width:65px">
                            <h:outputLink value="editPanAnomalyEmail.do">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="wlEmail" value="#{item.userEmail}" />
                            </h:outputLink>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandLink onclick="PF('confirmation').show()" >
                                <h:graphicImage value="/images/delete.png" title="#{msg.button_delete}" width="16" height="16" />
                                <f:setPropertyActionListener target="#{listPanAnomalyEmailManagedBean.selectedDeleteItem}" value="#{item}" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>

                </div>


            </h:form>
        </p:panel>

        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1"
                                 actionListener="#{listPanAnomalyEmailManagedBean.deleteActionListener}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>
</ui:composition>
