<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">
        <p:panel header="#{msg.list_menu_whitelist_pan_title}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="false" life="3000" />

                <div class="divPanelForm">
                    <div class="tabCommandArea">
                        <h:outputLink styleClass="toolbarMenuLink" value="addWhitelistPAN.do" >
                            <h:outputText value="#{msg.button_add}"/>
                        </h:outputLink>
                    </div>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listWhitelistPANManagedBean.listWhitelistPan}" paginator="true" rows="20" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:100%" >

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="3" headerText="#{msg.no}" />
                                <!--Modify by aaw 21/07/201, add sorting and filtering-->
                                <p:column rowspan="3" headerText="#{msg.menu_pan_no}" sortBy="#{item.pan}" filterBy="${item.pan}" filterMatchMode="contains" />
                                <p:column rowspan="3" headerText="#{msg.menu_pan_sender}" sortBy="#{item.pengirim}" filterBy="${item.pengirim}" filterMatchMode="contains" />
                                <!--End modify-->
                                <p:column colspan="4" headerText="Threshold Frequency" />
                                <p:column colspan="4" headerText="Threshold Amount" />
                                <ui:remove>
                                <p:column rowspan="3" headerText="#{msg.menu_pan_tot_amt}" />
                                </ui:remove>
                                <!--Modify by aaw 21/07/2021, ada sorting-->
                                <p:column rowspan="3" headerText="#{msg.menu_pan_active}" sortBy="#{item.active}" />
                                <!--End modify-->
                                <p:column rowspan="3" headerText="" />
                            </p:row>
                            <p:row>
                                <p:column rowspan="2" headerText="#{msg.menu_pan_freq_app}" />
                                <p:column colspan="2" headerText="#{msg.menu_pan_freq_dc}" />
                                <p:column rowspan="2" headerText="#{msg.menu_pan_freq_rvsl}" />
                                <p:column rowspan="2" headerText="#{msg.menu_pan_tot_amt_app}" />
                                <p:column colspan="2" headerText="#{msg.menu_pan_tot_amt_dc}" />
                                <p:column rowspan="2" headerText="#{msg.menu_pan_tot_amt_rvsl}" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Charge" />
                                <p:column headerText="Free" />
                                <p:column headerText="Charge" />
                                <p:column headerText="Free" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.pan}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.pengirim}" />
                        </p:column>

                        <p:column>
                            <div align="right">
                            <h:outputText value="#{item.freqApp}">
                                <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                            <h:outputText value="#{item.freqDc}">
                                <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.freqDcFree}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                            <h:outputText value="#{item.freqRvsl}">
                                <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                            <h:outputText value="#{item.totalAmtApp}">
                                <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                            </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.totalAmtDc}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.totalAmtDcFree}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.totalAmtRvsl}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <ui:remove>
                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.totalAmt}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>
                        </ui:remove>

                        <p:column>
                            <div align="center">
                                <h:graphicImage rendered="#{item.active == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>

                        <p:column style="width:65px">
                            <h:outputLink value="editWhitelistPAN.do">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="wlPan" value="#{item.pan}" />
                                <f:param name="wlPengirim" value="#{item.pengirim.trim()}" />
                            </h:outputLink>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandLink onclick="PF('confirmation').show()" >
                                <h:graphicImage value="/images/delete.png" title="#{msg.button_delete}" width="16" height="16" />
                                <f:setPropertyActionListener target="#{listWhitelistPANManagedBean.selectedDeleteItem}" value="#{item}" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>

                </div>

            </h:form>
        </p:panel>

        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1" onsuccess="location.reload();"
                                 actionListener="#{listWhitelistPANManagedBean.deleteActionListener}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>
</ui:composition>
