<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{maxAmountInquiryManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td>
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="#{msg.date}" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:calendar value="#{maxAmountInquiryManagedBean.startDate}" styleClass="commonText"
                                                                showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                                pattern="#{maxAmountInquiryManagedBean.defaultCalendarDateFormat}" />
                                                </td>
                                                <td>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1" />
                                                    <h:outputText value=" To " />
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1" />
                                                </td>
                                                <td valign="top">
                                                    <p:calendar value="#{maxAmountInquiryManagedBean.endDate}" styleClass="commonText"
                                                                showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                                pattern="#{maxAmountInquiryManagedBean.defaultCalendarDateFormat}" />
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Time" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:calendar value="#{maxAmountInquiryManagedBean.startTime}" pattern="HH:mm" timeOnly="true" stepMinute="10" readonlyInput="true" />
                                                </td>
                                                <td>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1" />
                                                    <h:outputText value=" To " />
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1" />
                                                </td>
                                                <td valign="top">
                                                    <p:calendar value="#{maxAmountInquiryManagedBean.endTime}" pattern="HH:mm" timeOnly="true" stepMinute="10" readonlyInput="true" />
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Transaction" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <!-- start modify by erichie -->
                                                    <p:selectOneMenu value="#{maxAmountInquiryManagedBean.transaction}" effect="none">
                                                        <f:selectItems value="#{maxAmountInquiryManagedBean.listTrxId}" var="p" itemLabel="#{p.trxname}" itemValue="#{p.trxid}" />
                                                        <f:selectItem itemValue="01" itemLabel="POS" />
                                                    </p:selectOneMenu>
                                                    <!-- end modify by erichie -->
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Period" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <!-- start modify by erichie -->
                                                    <p:selectOneMenu value="#{maxAmountInquiryManagedBean.period}" effect="none">
                                                        <f:selectItem itemValue="1H" itemLabel="1 Hour" />
                                                    </p:selectOneMenu>
                                                    <!-- end modify by erichie -->
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputLabel />

                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_submit}" actionListener="#{maxAmountInquiryManagedBean.submitAction}" update=":frm1" onsuccess="PF('dataTableWidgetVar').filter()" oncomplete="refresh()" />
                                    </h:panelGroup>
                                </h:panelGrid>

                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                        </tr>
                    </table>

                    <p:separator />

                    <div align="left" >
                        <p:remoteCommand name="refresh" ajax="false" update=":frm1" action="#{maxAmountInquiryManagedBean.errorMsg}"/>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </div>

                    <p:dataTable id="idTable" widgetVar="dataTableWidgetVar" var="item" rowIndexVar="idx" value="#{maxAmountInquiryManagedBean.listPanAnomalyDataModel}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="both"
                                 style="width:100%; font-size:11px;">

                        <p:columnGroup type="header">
                            <p:row style="font-size:12px;">
                                <p:column rowspan="2" headerText="#{msg.no}" />
                                <p:column rowspan="2" headerText="Date" sortBy="#{item.period}" />
                                <p:column rowspan="2" headerText="Time" sortBy="#{item.timeFr}" />
                                <p:column colspan="2" headerText="Issuer" />
                                <p:column rendered="#{maxAmountInquiryManagedBean.disablePOS}" rowspan="2" headerText="To Account" />
                                <p:column colspan="3" headerText="Acquirer" />
                                <p:column rowspan="2" headerText="Sender Name" sortBy="#{item.pengirim}" filterBy="${item.pengirim}" filterMatchMode="contains" rendered="#{maxAmountInquiryManagedBean.sender}" />
                                <!-- end modify by erichie -->
                                <p:column rowspan="2" headerText="Message Type" />
                                <p:column rowspan="2" headerText="Response Code" />
                                <p:column rowspan="2" headerText="Description" />
                                <p:column rendered="#{maxAmountInquiryManagedBean.disableATM}" rowspan="2" headerText="ATM Sequence Number" />
                                <p:column rowspan="2" headerText="Trace Number" />
                                <p:column rowspan="2" headerText="Amount" />
                            </p:row>
                            <p:row style="font-size:12px;">
                                <p:column headerText="Bank" sortBy="#{item.issuerBank}" />
                                <p:column headerText="PAN" sortBy="#{item.pan}" filterBy="${item.pan}" value="#{item.pan}" />
                                <p:column headerText="Bank" sortBy="#{item.issuerBank}" />
                                <p:column headerText="Term Owner Name" sortBy="#{item.terminal}" />
                                <p:column headerText="Term-ID" sortBy="#{item.termId}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column field="#{item.period}">
                            <h:outputText value="#{item.period}" >
                            </h:outputText>
                        </p:column>

                        <p:column field="#{item.timeFr}">
                            <h:outputText value="#{item.timeFr}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{maxAmountInquiryManagedBean.roleBank}" field="#{item.issuerBank}">
                            <h:outputText rendered="#{maxAmountInquiryManagedBean.roleBank}" value="#{item.issuerBank}" >
                            </h:outputText>
                        </p:column>

                        <p:column field="#{item.pan}">
                            <h:outputText value="#{item.pan}" />
                        </p:column>

                        <p:column rendered="#{maxAmountInquiryManagedBean.disablePOS}" field="#{item.toAcct}">
                            <h:outputText rendered="#{maxAmountInquiryManagedBean.disablePOS}" value="#{item.toAcct}" />
                        </p:column>

                        <p:column field="#{item.acquirerBank}">
                            <h:outputText value="#{item.acquirerBank}" />
                        </p:column>

                        <p:column field="#{item.termOwnerName}">
                            <h:outputText value="#{item.termOwnerName}" />
                        </p:column>

                        <p:column field="#{item.termId}">
                            <h:outputText value="#{item.termId}" />
                        </p:column>

                        <!-- start modify by erichie -->
                        <p:column rendered="#{maxAmountInquiryManagedBean.sender}" field="#{item.pengirim}">
                            <h:outputText rendered="#{maxAmountInquiryManagedBean.sender}" value="#{item.pengirim}" />
                        </p:column>
                        <!-- end modify by erichie t-->

                        <p:column field="#{item.messageType}">
                            <div align="center">
                                <h:outputText value="#{item.messageType}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.responseCode}">
                            <div align="center">
                                <h:outputText value="#{item.responseCode}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.description}">
                            <h:outputText value="#{item.description}" />
                        </p:column>

                        <p:column rendered="#{maxAmountInquiryManagedBean.disableATM}" field="#{item.atmSeqNum}">
                            <div align="center">
                                <h:outputText rendered="#{maxAmountInquiryManagedBean.disableATM}" value="#{item.atmSeqNum}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.traceNum}">
                            <div align="center">
                                <h:outputText value="#{item.traceNum}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.amount}">
                            <div align="right">
                                <h:outputText value="#{item.amount}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>
                    <br/><br/>

                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>


