<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{panAnomalyInquiryManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td>
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="#{msg.date}" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:calendar value="#{panAnomalyInquiryManagedBean.startDate}" styleClass="commonText"
                                                                showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                                pattern="#{panAnomalyInquiryManagedBean.defaultCalendarDateFormat}" />
                                                </td>
                                                <td>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1" />
                                                    <h:outputText value=" To " />
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1" />
                                                </td>
                                                <td valign="top">
                                                    <p:calendar value="#{panAnomalyInquiryManagedBean.endDate}" styleClass="commonText"
                                                                showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                                pattern="#{panAnomalyInquiryManagedBean.defaultCalendarDateFormat}" />
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Time" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:calendar value="#{panAnomalyInquiryManagedBean.startTime}" pattern="HH:mm" timeOnly="true" stepMinute="10" readonlyInput="true" />
                                                </td>
                                                <td>
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1" />
                                                    <h:outputText value=" To " />
                                                    <h:graphicImage value="/images/spacer.gif" width="2" height="1" />
                                                </td>
                                                <td valign="top">
                                                    <p:calendar value="#{panAnomalyInquiryManagedBean.endTime}" pattern="HH:mm" timeOnly="true" stepMinute="10" readonlyInput="true" />
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Transaction" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <!-- start modify by erichie -->
                                                    <p:selectOneMenu value="#{panAnomalyInquiryManagedBean.transaction}" effect="none">
                                                        <f:selectItems value="#{panAnomalyInquiryManagedBean.listTrxId}" var="p" itemLabel="#{p.trxname}" itemValue="#{p.trxid}" />
                                                        <f:selectItem itemValue="01" itemLabel="POS" />
                                                    </p:selectOneMenu>
                                                    <!-- end modify by erichie -->
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputText value="Period" />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <!-- start modify by erichie -->
                                                    <p:selectOneMenu value="#{panAnomalyInquiryManagedBean.period}" effect="none" >
                                                        <f:selectItem itemValue="1H" itemLabel="1 Hour" />
                                                        <f:selectItem itemValue="3H" itemLabel="3 Hours" />
                                                        <f:selectItem itemValue="6H" itemLabel="6 Hours" />
                                                        <f:selectItem itemValue="1D" itemLabel="1 Day" />
                                                        <f:selectItem itemValue="3D" itemLabel="3 Day" />
                                                    </p:selectOneMenu>
                                                    <!-- end modify by erichie -->
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    <p:selectBooleanCheckbox rendered="#{panAnomalyInquiryManagedBean.role}" itemLabel="Show All Transaction" value="#{panAnomalyInquiryManagedBean.whitelist}" />
                                                </td>
                                            </tr>
                                        </table>
                                    </h:panelGroup>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_submit}" actionListener="#{panAnomalyInquiryManagedBean.submitAction}" update=":frm1" onsuccess="PF('dataTableWidgetVar').filter();" oncomplete="refresh();" />
                                    </h:panelGroup>

                                </h:panelGrid>

                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                        </tr>
                    </table>

                    <p:separator />


                    <div align="left" >
                        <!-- start modify by erichie -->
                        <p:commandButton rendered="#{panAnomalyInquiryManagedBean.role}" value="Add To PAN Special Treatment" actionListener="#{panAnomalyInquiryManagedBean.saveItemAction}" update=":frm1" onsuccess="PF('dataTableWidgetVar').filter()"/>
                        <!-- end modify by erichie -->
                        <p:remoteCommand name="refresh" ajax="false" update=":frm1" action="#{panAnomalyInquiryManagedBean.errorMsg}"/>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </div>

                    <p:dataTable id="idTable" widgetVar="dataTableWidgetVar" var="item" rowIndexVar="idx" value="#{panAnomalyInquiryManagedBean.listPanAnomalyDataModel}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="both"
                                 selection="#{panAnomalyInquiryManagedBean.selectedItems}"
                                 disabledSelection="#{item.chkColor == 'TRUE'}"
                                 style="width:100%; font-size:11px;" rowSelectMode="checkbox"
                                 rowStyleClass="#{item.chkColor eq 'TRUE' ? 'ui-state-highlight' : 'true'}">

                        <p:columnGroup type="header">
                            <p:row style="font-size:12px;">
                                <!-- start modify by aabraham -->
                                <p:column rowspan="3" headerText="" rendered="#{panAnomalyInquiryManagedBean.role}"/>
                                <!-- end modify by aabraham -->
                                <p:column rowspan="3" headerText="#{msg.no}" />
                                <p:column rowspan="3" headerText="Date" rendered="#{panAnomalyInquiryManagedBean.disable3D}" sortBy="#{item.period}" />
                                <p:column colspan="2" headerText="Date" rendered="#{panAnomalyInquiryManagedBean.enable3D}" />
                                <p:column colspan="2" headerText="Time" rendered="#{panAnomalyInquiryManagedBean.disable}"/>
                                <!-- start modify by erichie -->
                                <!--<p:column rowspan="3" headerText="#{msg.transaction}" sortBy="#{item.tranType}" /> -->
                                <!--Add filtering by aaw 21/07/2021-->
                                <p:column rendered="#{panAnomalyInquiryManagedBean.roleBank}" rowspan="3" headerText="Issuer Bank" sortBy="#{item.issuerBank}" filterBy="${item.issuerBank}" filterMatchMode="contains" />
                                <!--End add-->
                                <p:column rowspan="3" headerText="PAN" sortBy="#{item.pan}" filterBy="${item.pan}" value="#{item.pan}" filterMatchMode="contains" />
                                <p:column rowspan="3" headerText="Sender Name" sortBy="#{item.pengirim}" filterBy="${item.pengirim}" filterMatchMode="contains" rendered="#{panAnomalyInquiryManagedBean.sender}" />
                                <!-- end modify by erichie -->
                                <p:column colspan="4" headerText="Frequency" />
                                <!--Modify by aaw 22/07/2021, amount dan total amount rendered jika tran code selain 30-->
                                <p:column colspan="4" headerText="Amount" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}" />
                                <p:column rowspan="3" headerText="Total Amount" sortBy="#{item.amt}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}" />
                                <!--End-->
                            </p:row>
                            <p:row style="font-size:12px;">
                                <p:column rowspan="2" headerText="#{msg.from}" rendered="#{panAnomalyInquiryManagedBean.enable3D}" sortBy="#{item.period}" />
                                <p:column rowspan="2" headerText="#{msg.to}" rendered="#{panAnomalyInquiryManagedBean.enable3D}" sortBy="#{item.periodDisplay}" />
                                <p:column rowspan="2" headerText="#{msg.from}" rendered="#{panAnomalyInquiryManagedBean.disable}" sortBy="#{item.timeFr}" />
                                <p:column rowspan="2" headerText="#{msg.to}" rendered="#{panAnomalyInquiryManagedBean.disable}" sortBy="#{item.timeTo}" />
                                <p:column rowspan="2" headerText="#{msg.approve}" sortBy="#{item.freqApp}" />
                                <p:column colspan="2" headerText="#{msg.decline}" />
                                <p:column rowspan="2" headerText="Reversal" sortBy="#{item.freqRvsl}" />
                                <!--Modify by aaw 22/07/2021, amount dan total amount rendered jika tran code selain 30-->
                                <p:column rowspan="2" headerText="#{msg.approve}" sortBy="#{item.amtApp}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}" />
                                <p:column colspan="2" headerText="#{msg.decline}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}" />
                                <p:column rowspan="2" headerText="Reversal" sortBy="#{item.amtRvsl}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}"/>
                                <!--End-->
                            </p:row>
                            <p:row style="font-size:12px;">
                                <p:column headerText="Charge" sortBy="#{item.freqDc}" />
                                <p:column headerText="Free" sortBy="#{item.freqDcFree}" />
                                <!--Modify by aaw, amount dan total amount rendered jika tran code selain 30-->
                                <p:column headerText="Charge" sortBy="#{item.amtDc}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}" />
                                <p:column headerText="Free" sortBy="#{item.amtDcFree}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}" />
                                <!--End-->
                            </p:row>
                        </p:columnGroup>

                        <!-- start modify by erichie -->
                        <p:column rendered="#{panAnomalyInquiryManagedBean.role}" selectionMode="multiple" style="width:18px">
                        </p:column>
                        <!-- end modify by erichie -->

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column rendered="#{panAnomalyInquiryManagedBean.disable3D}" field="#{item.period}" style="width:70px">
                            <h:outputText rendered="#{panAnomalyInquiryManagedBean.disable3D}" value="#{item.periodDisplay}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{panAnomalyInquiryManagedBean.enable3D}" field="#{item.timeFr}">
                            <h:outputText rendered="#{panAnomalyInquiryManagedBean.enable3D}" value="#{item.period}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{panAnomalyInquiryManagedBean.enable3D}" field="#{item.timeTo}">
                            <h:outputText rendered="#{panAnomalyInquiryManagedBean.enable3D}" value="#{item.periodDisplay}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{panAnomalyInquiryManagedBean.disable}" field="#{item.timeFr}">
                            <h:outputText rendered="#{panAnomalyInquiryManagedBean.disable}" value="#{item.timeFr}" >
                            </h:outputText>
                        </p:column>

                        <p:column rendered="#{panAnomalyInquiryManagedBean.disable}" field="#{item.timeTo}">
                            <h:outputText rendered="#{panAnomalyInquiryManagedBean.disable}" value="#{item.timeTo}" >
                            </h:outputText>
                        </p:column>

                        <!-- start modify by erichie -->
                        <!--<p:column field="#{item.tranType}">-->
                        <!--<h:outputText value="#{item.tranType}" />-->
                        <!--</p:column>-->

                        <p:column rendered="#{panAnomalyInquiryManagedBean.roleBank}" field="#{item.issuerBank}">
                            <h:outputText rendered="#{panAnomalyInquiryManagedBean.roleBank}" value="#{item.issuerBank}" />
                        </p:column>
                        <!-- end modify by erichie -->

                        <p:column field="#{item.pan}">
                            <h:outputLink styleClass="tablelink" target="_blank" value="#{item.tranType eq 'Payment' || item.tranType eq 'Payment Inquiry' ? '../pan/detailPanAnomalyInquiryPayment.do?' : '../pan/detailPanAnomalyInquiry.do?'}">
                                <!-- 190926 Modify by AAH : Decode param -->
                                <f:param  name="pPeriod" value="#{panAnomalyInquiryManagedBean.paramDecode(item.period)}" />
                                <f:param  name="pTimeFr" value="#{panAnomalyInquiryManagedBean.paramDecode(item.timeFr)}" />
                                <f:param  name="pTimeTo" value="#{panAnomalyInquiryManagedBean.paramDecode(item.timeTo)}" />
                                <f:param  name="pPan" value="#{panAnomalyInquiryManagedBean.paramDecode(item.pan)}" />
                                <f:param  name="pPengirim" value="#{panAnomalyInquiryManagedBean.paramDecode(item.pengirim.trim())}" />
                                <f:param  name="pIssuerBank" value="#{panAnomalyInquiryManagedBean.paramDecode(item.issuerBank)}" />
                                <f:param  name="pStatus" value="#{panAnomalyInquiryManagedBean.paramDecode(item.status)}" />
                                <f:param  name="pTranType" value="#{panAnomalyInquiryManagedBean.paramDecode(item.tranType)}" />
                                <!--<h:outputText value="#{item.pan.substring(0,6).concat(item.pan.replace(item.pan.substring(7,item.pan.length()),'*')).concat(item.pan.substring(item.pan.length()-3,item.pan.length()))}" />-->
                                <!-- start modify by dsheldon -->
                                <c:set var = "bin" value="#{item.pan.substring(0,6)}"/>
                                <c:set var = "filler" value="#{item.pan.substring(6,item.pan.length()-4)}"/>
                                <c:set var = "fillerAsterisks" value="${fn:replace(filler, '[0-9]', '*')}"/>
                                <c:set var = "suffix" value="#{item.pan.substring(item.pan.length()-4,item.pan.length())}"/>
                                <!--<h:outputText value="#{item.pan.substring(0,6).concat(item.pan.substring(6,item.pan.length()-4).replace('/./g','*')).concat(item.pan.substring(item.pan.length()-4,item.pan.length()))}" />-->
                                <h:outputText value="#{bin.concat(fillerAsterisks).concat(suffix)}" />
                                <!-- end modify by dsheldon -->
                            </h:outputLink>
                        </p:column>

                        <!-- start modify by erichie -->
                        <p:column rendered="#{panAnomalyInquiryManagedBean.sender}" field="#{item.pengirim}">
                            <h:outputText rendered="#{panAnomalyInquiryManagedBean.sender}" value="#{item.pengirim}" />
                        </p:column>
                        <!-- end modify by erichie t-->

                        <p:column field="#{item.freqApp}">
                            <div align="right" >
                                <h:outputText value="#{item.freqApp}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqDc}">
                            <div align="right" >
                                <h:outputText value="#{item.freqDc}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqDcFree}">
                            <div align="right" >
                                <h:outputText value="#{item.freqDcFree}" />
                            </div>
                        </p:column>

                        <p:column field="#{item.freqRvsl}">
                            <div align="right" >
                                <h:outputText value="#{item.freqRvsl}" />
                            </div>
                        </p:column>

                        <!--Modify by aaw 22/07/2021, amount dan total amount rendered jika tran code selain 30-->
                        <p:column field="#{item.amtApp}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}">
                            <div align="right">
                                <h:outputText value="#{item.amtApp}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amtDc}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}">
                            <div align="right">
                                <h:outputText value="#{item.amtDc}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amtDcFree}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}">
                            <div align="right">
                                <h:outputText value="#{item.amtDcFree}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amtRvsl}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}">
                            <div align="right">
                                <h:outputText value="#{item.amtRvsl}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column field="#{item.amt}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}">
                            <div align="right">
                                <h:outputText value="#{item.amt}" rendered="#{!panAnomalyInquiryManagedBean.balanceInquiry}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="2" />
                                </h:outputText>
                            </div>
                        </p:column>
                        <!--End-->
                    </p:dataTable>
                    <br/><br/>

                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>


