<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">





        <p:panel header="#{msg.search_user_login_log}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <h:panelGrid columns="2">
                        <h:outputText value="#{msg.user_id}" />
                        <p:inputText value="#{searchUserLoginLogManagedBean.userId}" maxlength="20" />

                        <h:outputText value="#{msg.start_date}" />
                        <p:calendar value="#{searchUserLoginLogManagedBean.startDate}" styleClass="commonText" showOtherMonths="true" readonlyInput="true" navigator="true" pattern="dd/MM/yyyy" />

                        <h:outputText value="#{msg.end_date}" />
                        <p:calendar value="#{searchUserLoginLogManagedBean.endDate}" styleClass="commonText" showOtherMonths="true" readonlyInput="true" navigator="true" pattern="dd/MM/yyyy" />

                        <h:outputText value="" />
                        <p:commandButton value="#{msg.button_search}" action="#{searchUserLoginLogManagedBean.searchAction}" update="frm1" />
                    </h:panelGrid>

                    <br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{searchUserLoginLogManagedBean.list}" paginator="true" rows="#{searchUserLoginLogManagedBean.defaultTableRow}" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:100%" >
                        <p:column style="width:10px" >
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.user_id}
                            </f:facet>
                            <h:outputText value="#{item.userLoginHistoryPk.userLoginId}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                #{msg.login_date}
                            </f:facet>
                            <h:outputText value="#{item.userLoginHistoryPk.fromDate}" >
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>

                    </p:dataTable>

                </div>


            </h:form>
        </p:panel>


    </ui:define>
</ui:composition>
