<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../common/template/private_template.xhtml">

    <ui:define name="content">



<p:panel header="#{msg.add_group_bank}" styleClass="panelContent" >
<h:form id="frm1" >

<p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />
                        
<div class="divPanelForm">

    <table>
        <tr>
            <td valign="top">
                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                    <h:outputLabel>#{msg.group_id}</h:outputLabel>
                    <p:inputText value="#{addGroupBankManagedBean.groupBank.groupId}" size="40" maxlength="20" required="false" />
                    
                    <h:outputLabel>#{msg.name}</h:outputLabel>
                    <p:inputText value="#{addGroupBankManagedBean.groupBank.groupName}" size="40" maxlength="100" required="false" />

                    <h:outputText value="#{msg.inst}" />
                    <h:panelGroup>
                        <h:panelGrid columns="5" >
                            <p:selectManyMenu value="#{addGroupBankManagedBean.selectedOptionSource}" style="width: 400px" >
                                <f:selectItems value="#{addGroupBankManagedBean.listBankSource}"
                                               var="o" itemLabel="#{o.eisBank.bankname}" itemValue="#{o.eisBank.bankid}" />
                            </p:selectManyMenu>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1"/>
                            <h:panelGroup>
                                <p:commandButton style="width: 50px;" value="+" action="#{addGroupBankManagedBean.addSelectedBankAction}" update=":frm1" />
                                <br/>
                                <br/>
                                <p:commandButton style="width: 50px;" value="-" action="#{addGroupBankManagedBean.removeSelectedBankAction}" update=":frm1" />
                            </h:panelGroup>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1"/>
                            <p:selectManyMenu value="#{addGroupBankManagedBean.selectedOptionTarget}" style="width: 400px; height: 200px;" >
                                <f:selectItems value="#{addGroupBankManagedBean.listBankSelected}"
                                               var="o" itemLabel="#{o.eisBank.bankname}" itemValue="#{o.eisBank.bankid}" />
                            </p:selectManyMenu>
                        </h:panelGrid>
                    </h:panelGroup>

                    <h:outputLabel />
                    <h:panelGroup>
                        <br/>
                    </h:panelGroup>

                    <h:outputLabel />
                    <h:panelGroup>
                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{addGroupBankManagedBean.saveAction}" update=":frm1" />
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listGroupBank.do?faces-redirect=true" immediate="true" />
                    </h:panelGroup>
                </h:panelGrid>
            </td>
            

        </tr>
    </table>
 

 
 
</div>

</h:form>
</p:panel>


    </ui:define>
</ui:composition>
