<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <p:panel header="#{bankEmailManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >

                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

                <div class="divPanelForm">
                    <br/><br/>
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{bankEmailManagedBean.listBankEmail}" paginator="true" rows="20" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:100%">

                        <p:column style="width:10px" >
                            <f:facet name="header">
                                #{msg.no}
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>
                        <!--Add filter by aaw, 3/6/21-->
                        <p:column sortBy="#{item.bankname}" filterBy="${item.bankname}" filterMatchMode="contains">
                        <!--End add-->
                            <f:facet name="header">
                                #{msg.inst}
                            </f:facet>
                            <h:outputText value="#{item.bankname}" />
                        </p:column>

                        <p:column sortBy="#{item.email}">
                            <f:facet name="header">
                                Email
                            </f:facet>
                            <h:outputText value="#{item.email}" size="100" />
                        </p:column>

                        <p:column sortBy="#{item.alertMccVelocity}">
                            <f:facet name="header">
                                MCC Velocity
                            </f:facet>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alertMccVelocity == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>

                        <!--Add by aaw 02/07/2021-->
                        <p:column sortBy="#{item.alertSeqVelocity}">
                            <f:facet name="header">
                                Sequential Velocity
                            </f:facet>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alertSeqVelocity == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>
                        <!--End add-->

                        <p:column sortBy="#{item.alertMpanAcq}">
                            <f:facet name="header">
                                MPAN Acquirer
                            </f:facet>
                            <div align="center">
                                <h:graphicImage rendered="#{item.alertMpanAcq == true}" value="/images/valid.png" width="16" height="16" />
                            </div>
                        </p:column>

                        <p:column style="width: 20px;">
                            <f:facet name="header">
                            </f:facet>
                            <h:outputLink value="editEmailBank.do">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="bid" value="#{item.bankid}" />
                            </h:outputLink>
                        </p:column>
                    </p:dataTable>
                    <ui:remove>
                    <br/>
                    <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{bankEmailManagedBean.saveAction}" update=":frm1" />
                    </ui:remove>

                    <br/><br/>

                </div>

            </h:form>
        </p:panel>


    </ui:define>
</ui:composition>
