<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../common/template/private_template.xhtml">

    <ui:define name="content">


  
               

<p:panel header="#{msg.list_group_bank}" styleClass="panelContent" >
<h:form id="frm1" >
    <p:growl id="growl" showDetail="true" sticky="true" life="2000" />


                        
<div class="divPanelForm">

    <div class="tabCommandArea">
        <h:outputLink styleClass="toolbarMenuLink" value="addGroupBank.do" >
            <h:outputText value="#{msg.button_add}"/>
        </h:outputLink>
    </div>

    <br/>
    

    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listGroupBankManagedBean.listGroupBank}" paginator="true" rows="10" paginatorPosition="top"
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                 paginatorAlwaysVisible="false" style="width:60%" >
        <p:column style="width:10px" >  
            <f:facet name="header">  
                #{msg.no}
            </f:facet>
            <h:outputText value="#{idx+1}" />
        </p:column>

        <p:column sortBy="#{item.groupId}">
            <f:facet name="header">
                #{msg.group_id}
            </f:facet>
            <h:outputText value="#{item.groupId}" />
        </p:column>

        <p:column sortBy="#{item.groupName}">
            <f:facet name="header">  
                    #{msg.name}  
            </f:facet>  
            <h:outputText value="#{item.groupName}" />
        </p:column>

        <p:column style="width:65px">  
            <f:facet name="header">    
            </f:facet>  
            <h:outputLink value="editGroupBank.do">
                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                <f:param name="id" value="#{item.groupId}" />
            </h:outputLink>
            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
            <p:commandLink onclick="PF('confirmation').show()" >
                <h:graphicImage value="/images/delete.png" title="#{msg.button_delete}" width="16" height="16" />
                <f:setPropertyActionListener target="#{listGroupBankManagedBean.selectedDeleteItem}" value="#{item}" />
            </p:commandLink>
        </p:column>
    </p:dataTable>
 
</div>


</h:form>
</p:panel>

<p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
    <h:form>
        <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1"
            actionListener="#{listGroupBankManagedBean.deleteActionListener}" />
        <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
    </h:form>
</p:confirmDialog>                 
  
  

    </ui:define>
</ui:composition>
