<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{addAlertThresholdGroupManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />


                <div class="divPanelForm">

                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="#{msg.group_bank}" />
                        <p:selectOneMenu value="#{addAlertThresholdGroupManagedBean.selectedGroupId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{addAlertThresholdGroupManagedBean.listGroupBank}" var="o" itemLabel="#{o.groupName}" itemValue="#{o.groupId}" />
                        </p:selectOneMenu>

                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{addAlertThresholdGroupManagedBean.selectedTrxId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItem itemValue="ALL" itemLabel="All" />
                            <f:selectItems value="#{addAlertThresholdGroupManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                        </p:selectOneMenu>

                        <h:outputText value="" />
                        <p:commandButton value="#{msg.button_submit}" action="#{addAlertThresholdGroupManagedBean.submitAction}" update="frm1" />

                    </h:panelGrid>



                    <p:separator />

                    <div>

                        <h:outputText value="Note : " /><br/> <!--modified by SOM 18102018-->
                        <h:outputText value="M1 : #{addAlertThresholdGroupManagedBean.m1Description}" /><br/>
                        <h:outputText value="M2 : #{addAlertThresholdGroupManagedBean.m2Description}" /><br/>
                        <h:outputText value="M3 : #{addAlertThresholdGroupManagedBean.m3Description}" /><br/>
                        <h:outputText value="M4 : #{addAlertThresholdGroupManagedBean.m4Description}" /><br/>

                    </div>
    
                    <br/>

                    <div>
                        <h:outputText value="Group Bank : " />
                        <h:outputText value="#{addAlertThresholdGroupManagedBean.selectedGroupName}" />
                        <br/>
                        <h:outputText value="Transaction : " />
                        <h:outputText value="#{addAlertThresholdGroupManagedBean.selectedTransactionName}" />
                    </div>

                        <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{addAlertThresholdGroupManagedBean.list}"
                                      tableStyle="white-space: nowrap;" >
                            <p:columnGroup type="header">
                                <p:row>
                                    <p:column rowspan="3" headerText="#{msg.no}" />
                                    <p:column rowspan="3" headerText="#{msg.timeframe}" />
                                    <p:column rowspan="3" headerText="#{msg.indicator}" />
                                    <p:column colspan="2" headerText="Active Time" />
                                    <p:column colspan="9" headerText="Compare to previous period transactions" />
                                    <p:column colspan="13" headerText="Compare to yesterday transactions. Day type:  S (same), WH(workday to holiday), HW(holiday to workday)*" />
                                    <p:column colspan="3" rowspan="2" headerText="Decline Charge" />
                                    <p:column colspan="3" rowspan="2" headerText="Decline Free" />
                                </p:row>
                                <p:row>
                                    <p:column rowspan="1" headerText="From" />
                                    <p:column rowspan="1" headerText="To" />
                                    <p:column headerText="" />
                                    <p:column colspan="2" headerText="Total" />
                                    <p:column colspan="2" headerText="Approve" />
                                    <p:column colspan="2" headerText="Decline Charge" />
                                    <p:column colspan="2" headerText="Decline Free" />
                                    <p:column headerText="" />
                                    <p:column colspan="3" headerText="Total" />
                                    <p:column colspan="3" headerText="Approve" />
                                    <p:column colspan="3" headerText="Decline Charge" />
                                    <p:column colspan="3" headerText="Decline Free" />
                                </p:row>
                                <p:row>
                                    <p:column headerText="" />
                                    <p:column headerText="" />

                                    <p:column headerText="" />
                                    <p:column headerText="Min Trx" />
                                    <p:column headerText="%" />
                                    <p:column headerText="Min Trx" />
                                    <p:column headerText="%" />
                                    <p:column headerText="Min Trx" />
                                    <p:column headerText="%" />
                                    <p:column headerText="Min Trx" />
                                    <p:column headerText="%" />

                                    <p:column headerText="" />
                                    <p:column headerText="Min Trx" />
                                    <p:column headerText="decrease %" />
                                    <p:column headerText="increase %" />
                                    <p:column headerText="Min Trx" />
                                    <p:column headerText="decrease %" />
                                    <p:column headerText="increase %" />
                                    <p:column headerText="Min Trx" />
                                    <p:column headerText="decrease %" />
                                    <p:column headerText="increase %" />
                                    <p:column headerText="Min Trx" />
                                    <p:column headerText="decrease %" />
                                    <p:column headerText="increase %" />

                                    <p:column headerText="" />
                                    <p:column headerText="Min Trx" />
                                    <p:column headerText="%" />

                                    <p:column headerText="" />
                                    <p:column headerText="Min Trx" />
                                    <p:column headerText="%" />

                                </p:row>
                            </p:columnGroup>

                            <p:column style="width:10px" >
                                <h:outputText value="#{idx+1}" />
                            </p:column>

                            <p:column>
                                <div align="center">
                                    <h:outputText value="#{item.timeFrameName}" />
                                </div>
                            </p:column>

                            <p:column>
                                <h:outputText value="#{item.transactionIndicatorName}" />
                            </p:column>

                            <p:column >
                                <p:selectOneMenu value="#{item.startTime}" effect="none" >
                                    <f:selectItem itemValue="00:00" itemLabel="00" />
                                    <f:selectItem itemValue="01:00" itemLabel="01" />
                                    <f:selectItem itemValue="02:00" itemLabel="02" />
                                    <f:selectItem itemValue="03:00" itemLabel="03" />
                                    <f:selectItem itemValue="04:00" itemLabel="04" />
                                    <f:selectItem itemValue="05:00" itemLabel="05" />
                                    <f:selectItem itemValue="06:00" itemLabel="06" />
                                    <f:selectItem itemValue="07:00" itemLabel="07" />
                                    <f:selectItem itemValue="08:00" itemLabel="08" />
                                    <f:selectItem itemValue="09:00" itemLabel="09" />
                                    <f:selectItem itemValue="10:00" itemLabel="10" />
                                    <f:selectItem itemValue="11:00" itemLabel="11" />
                                    <f:selectItem itemValue="12:00" itemLabel="12" />
                                    <f:selectItem itemValue="13:00" itemLabel="13" />
                                    <f:selectItem itemValue="14:00" itemLabel="14" />
                                    <f:selectItem itemValue="15:00" itemLabel="15" />
                                    <f:selectItem itemValue="16:00" itemLabel="16" />
                                    <f:selectItem itemValue="17:00" itemLabel="17" />
                                    <f:selectItem itemValue="18:00" itemLabel="18" />
                                    <f:selectItem itemValue="19:00" itemLabel="19" />
                                    <f:selectItem itemValue="20:00" itemLabel="20" />
                                    <f:selectItem itemValue="21:00" itemLabel="21" />
                                    <f:selectItem itemValue="22:00" itemLabel="22" />
                                    <f:selectItem itemValue="23:00" itemLabel="23" />
                                </p:selectOneMenu>
                            </p:column>

                            <p:column >
                                <p:selectOneMenu value="#{item.endTime}" effect="none" >
                                    <f:selectItem itemValue="00:00" itemLabel="00" />
                                    <f:selectItem itemValue="01:00" itemLabel="01" />
                                    <f:selectItem itemValue="02:00" itemLabel="02" />
                                    <f:selectItem itemValue="03:00" itemLabel="03" />
                                    <f:selectItem itemValue="04:00" itemLabel="04" />
                                    <f:selectItem itemValue="05:00" itemLabel="05" />
                                    <f:selectItem itemValue="06:00" itemLabel="06" />
                                    <f:selectItem itemValue="07:00" itemLabel="07" />
                                    <f:selectItem itemValue="08:00" itemLabel="08" />
                                    <f:selectItem itemValue="09:00" itemLabel="09" />
                                    <f:selectItem itemValue="10:00" itemLabel="10" />
                                    <f:selectItem itemValue="11:00" itemLabel="11" />
                                    <f:selectItem itemValue="12:00" itemLabel="12" />
                                    <f:selectItem itemValue="13:00" itemLabel="13" />
                                    <f:selectItem itemValue="14:00" itemLabel="14" />
                                    <f:selectItem itemValue="15:00" itemLabel="15" />
                                    <f:selectItem itemValue="16:00" itemLabel="16" />
                                    <f:selectItem itemValue="17:00" itemLabel="17" />
                                    <f:selectItem itemValue="18:00" itemLabel="18" />
                                    <f:selectItem itemValue="19:00" itemLabel="19" />
                                    <f:selectItem itemValue="20:00" itemLabel="20" />
                                    <f:selectItem itemValue="21:00" itemLabel="21" />
                                    <f:selectItem itemValue="22:00" itemLabel="22" />
                                    <f:selectItem itemValue="23:00" itemLabel="23" />
                                </p:selectOneMenu>


                            </p:column>

                            <p:column>
                                <p:selectBooleanCheckbox value="#{item.activeM1Bool}" />
                            </p:column>

                            <p:column>
                                <p:inputText value="#{item.minTrxPeriodTt}" size="8" maxlength="8" />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{item.trhTrxPeriodPctTt}" size="3" maxlength="3" />
                            </p:column>

                            <p:column>
                                <p:inputText value="#{item.minTrxPeriodAp}" size="8" maxlength="8" />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{item.trhTrxPeriodPctAp}" size="3" maxlength="3" />
                            </p:column>

                            <p:column>
                                <p:inputText value="#{item.minTrxPeriodDc}" size="8" maxlength="8" />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{item.trhTrxPeriodPctDc}" size="3" maxlength="3" />
                            </p:column>

                            <p:column>
                                <p:inputText value="#{item.minTrxPeriodDf}" size="8" maxlength="8" />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{item.trhTrxPeriodPctDf}" size="3" maxlength="3" />
                            </p:column>

                            <p:column>
                                <p:selectBooleanCheckbox value="#{item.activeM2Bool}" />
                            </p:column>

                            <p:column>
                                <p:inputText value="#{item.minTrxDayTt}" size="8" maxlength="8" />
                            </p:column>
                            <p:column>
                                <h:outputText value="S " />
                                <p:inputText value="#{item.trhTrxDayPctTtDec}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="WH " />
                                <p:inputText value="#{item.trhTrxDayPctTtWhDec}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="HW " />
                                <p:inputText value="#{item.trhTrxDayPctTtHwDec}" size="3" maxlength="3" />
                            </p:column>
                            <p:column>
                                <h:outputText value="S " />
                                <p:inputText value="#{item.trhTrxDayPctTtInc}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="WH " />
                                <p:inputText value="#{item.trhTrxDayPctTtWhInc}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="HW " />
                                <p:inputText value="#{item.trhTrxDayPctTtHwInc}" size="3" maxlength="3" />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{item.minTrxDayAp}" size="8" maxlength="8" />
                            </p:column>
                            <p:column>
                                <h:outputText value="S " />
                                <p:inputText value="#{item.trhTrxDayPctApDec}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="WH " />
                                <p:inputText value="#{item.trhTrxDayPctApWhDec}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="HW " />
                                <p:inputText value="#{item.trhTrxDayPctApHwDec}" size="3" maxlength="3" />
                            </p:column>
                            <p:column>
                                <h:outputText value="S " />
                                <p:inputText value="#{item.trhTrxDayPctApInc}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="WH " />
                                <p:inputText value="#{item.trhTrxDayPctApWhInc}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="HW " />
                                <p:inputText value="#{item.trhTrxDayPctApHwInc}" size="3" maxlength="3" />
                            </p:column>

                            <p:column>
                                <p:inputText value="#{item.minTrxDayDc}" size="8" maxlength="8" />
                            </p:column>
                            <p:column>
                                <h:outputText value="S " />
                                <p:inputText value="#{item.trhTrxDayPctDcDec}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="WH " />
                                <p:inputText value="#{item.trhTrxDayPctDcWhDec}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="HW " />
                                <p:inputText value="#{item.trhTrxDayPctDcHwDec}" size="3" maxlength="3" />
                            </p:column>
                            <p:column>
                                <h:outputText value="S " />
                                <p:inputText value="#{item.trhTrxDayPctDcInc}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="WH " />
                                <p:inputText value="#{item.trhTrxDayPctDcWhInc}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="HW " />
                                <p:inputText value="#{item.trhTrxDayPctDcHwInc}" size="3" maxlength="3" />
                            </p:column>

                            <p:column>
                                <p:inputText value="#{item.minTrxDayDf}" size="8" maxlength="8" />
                            </p:column>
                            <p:column>
                                <h:outputText value="S " />
                                <p:inputText value="#{item.trhTrxDayPctDfDec}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="WH " />
                                <p:inputText value="#{item.trhTrxDayPctDfWhDec}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="HW " />
                                <p:inputText value="#{item.trhTrxDayPctDfHwDec}" size="3" maxlength="3" />
                            </p:column>
                            <p:column>
                                <h:outputText value="S " />
                                <p:inputText value="#{item.trhTrxDayPctDfInc}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="WH " />
                                <p:inputText value="#{item.trhTrxDayPctDfWhInc}" size="3" maxlength="3" />
                                <h:graphicImage value="/images/spacer.gif" width="8" height="1" />
                                <h:outputText value="HW " />
                                <p:inputText value="#{item.trhTrxDayPctDfHwInc}" size="3" maxlength="3" />
                            </p:column>

                            <p:column>
                                <p:selectBooleanCheckbox value="#{item.activeM3Bool}" />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{item.minTrxPctDc}" size="8" maxlength="8" />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{item.trhPctDc}" size="3" maxlength="3" />
                            </p:column>

                            <p:column>
                                <p:selectBooleanCheckbox value="#{item.activeM4Bool}" />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{item.minTrxPctDf}" size="8" maxlength="8" />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{item.trhPctDf}" size="3" maxlength="3" />
                            </p:column>


                        </p:dataTable>
                    </div>

                    <br/>
                    <p:commandButton value="#{msg.button_save}" action="#{addAlertThresholdGroupManagedBean.saveAction}" update="frm1" />
                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    <p:commandButton value="#{msg.button_cancel}" action="/apps/alert/listAlertThresholdGroup.do?faces-redirect=true" />
                    <br/><br/>

            </h:form>
        </p:panel>





    </ui:define>
</ui:composition>
