<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">



        <h:form id="frm1" >
            <p:panel header="#{holidayManagedBean.pageTitle}" styleClass="panelContent" >

            <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="3000" />

            <div class="divPanelForm">
                <div>
                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="#{msg.year}" />
                        <p:selectOneMenu value="#{holidayManagedBean.selectedYear}" effect="none" >
                            <f:selectItems value="#{holidayManagedBean.listYear}" var="o" itemLabel="#{o}" itemValue="#{o}" />
                        </p:selectOneMenu>

                        <h:outputText value="" />
                        <p:commandButton value="#{msg.button_submit}" action="#{holidayManagedBean.submitAction}" update="frm1" />
                    </h:panelGrid>

                    <br/>
                    <p:separator />


                    <p:commandButton value="#{msg.button_save}" action="#{holidayManagedBean.saveAction}" update="frm1" />
                    <br/><br/>

                    <h:outputText value="Year : " />
                    <h:outputText value="#{holidayManagedBean.selectedYear}" />
                    <br/>


                    <table>
                        <tr>
                            <td valign="top">
                                <h:outputText value="Jan" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[0]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>

                            <td valign="top">
                                <h:outputText value="Feb" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[1]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>

                            <td valign="top">
                                <h:outputText value="Mar" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[2]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>

                            <td valign="top">
                                <h:outputText value="Apr" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[3]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h:graphicImage value="/images/spacer.gif" width="10" height="10" />
                            </td>
                        </tr>

                        <tr>
                            <td valign="top">
                                <h:outputText value="May" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[4]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>

                            <td valign="top">
                                <h:outputText value="Jun" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[5]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>

                            <td valign="top">
                                <h:outputText value="Jul" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[6]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>

                            <td valign="top">
                                <h:outputText value="Aug" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[7]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h:graphicImage value="/images/spacer.gif" width="10" height="10" />
                            </td>
                        </tr>

                        <tr>
                            <td valign="top">
                                <h:outputText value="Sep" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[8]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>

                            <td valign="top">
                                <h:outputText value="Oct" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[9]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>

                            <td valign="top">
                                <h:outputText value="Nov" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[10]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>

                            <td valign="top">
                                <h:outputText value="Dec" />
                                <p:dataGrid value="#{holidayManagedBean.listMonth[11]}" var="item" columns="7">
                                    <h:panelGroup>
                                        <p:panel style="width:30px; height: 40px;" styleClass="noborder">
                                            <h:outputText value="#{item.dayOfWeekString}" rendered="#{item.header == 1}" />
                                            <h:outputText value="#{item.day}" rendered="#{item.header == 0}" style="#{item.color}" />
                                            <br/>
                                            <p:selectBooleanCheckbox rendered="#{item.header == 0 and item.day != null}"
                                                                     value="#{item.holiday}"  />
                                        </p:panel>
                                    </h:panelGroup>
                                </p:dataGrid>
                            </td>
                        </tr>

                    </table>



                    <br/><br/>


                </div>
            </div>

            </p:panel>

        </h:form>




        <script>
            $(document).ready(function() {
                $(".panelOnTopClass").parent().css("vertical-align", "top");
                $(".panelOnTopClass").parent().css("height", "300px");
            });
        </script>

    </ui:define>
</ui:composition>
