<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{listBankAlertThresholdManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />


                <div class="divPanelForm">
                    <div class="tabCommandArea">
                        <h:outputLink styleClass="toolbarMenuLink" value="addBankAlertThreshold.do" >
                            <h:outputText value="#{msg.button_add}"/>
                        </h:outputLink>
                    </div>

                    <br/>

                    <ui:remove>
                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">

                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{listBankAlertThresholdManagedBean.submitAction}" update="frm1" />
                        </h:panelGroup>

                    </h:panelGrid>


                    <br/>
					
					<p:separator />
                    </ui:remove>


                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listBankAlertThresholdManagedBean.listAlertThreshold}"
                                 style="width:60%" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="#{msg.no}" />
                                <p:column headerText="#{msg.bank}" />
                                <p:column headerText="#{msg.transaction}" />
                                <p:column headerText="" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.bankname}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.transactionname}" />
                            <h:outputText value="All" rendered="#{item.transactionid eq 'ALL'}" />
                        </p:column>

                        <p:column style="width:60px">
                            <p:commandLink action="#{listBankAlertThresholdManagedBean.editAction}">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="bid" value="#{item.bankid}" />
                                <f:param name="trxid" value="#{item.transactionid}" />
                            </p:commandLink>
                            <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                            <p:commandLink onclick="PF('confirmation').show()" >
                                <h:graphicImage value="/images/delete.png" title="#{msg.button_delete}" width="16" height="16" />
                                <f:setPropertyActionListener target="#{listBankAlertThresholdManagedBean.selectedDeleteItem}" value="#{item}" />
                            </p:commandLink>
                        </p:column>

                    </p:dataTable>

                    <br/><br/>


                </div>




            </h:form>
        </p:panel>


        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1:idTable"
                                 actionListener="#{listBankAlertThresholdManagedBean.deleteActionListener}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>


    </ui:define>
</ui:composition>
