<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{searchAlertAnomalyAutoManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />
                <p:poll interval="#{searchAlertAnomalyAutoManagedBean.refreshInterval}" listener="#{searchAlertAnomalyAutoManagedBean.onPoolAction}"
                        update=":frm1" />

                <div class="divPanelForm">

                    <table>
                        <tr>
                            <td>

                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputText value="#{msg.inst}" />
                                    <p:selectOneMenu value="#{searchAlertAnomalyAutoManagedBean.selectedBankId}" effect="none" >
                                        <f:selectItem itemValue="" itemLabel="" />
                                        <f:selectItems value="#{searchAlertAnomalyAutoManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                                    </p:selectOneMenu>

                                    <h:outputText value="#{msg.transaction}" />
                                    <p:selectOneMenu value="#{searchAlertAnomalyAutoManagedBean.selectedTransactionId}" effect="none" >
                                        <f:selectItem itemValue="" itemLabel="" />
                                        <f:selectItems value="#{searchAlertAnomalyAutoManagedBean.listTransaction}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                                    </p:selectOneMenu>

                                    <h:outputText value="#{msg.start_date}" />
                                    <p:calendar value="#{searchAlertAnomalyAutoManagedBean.startDate}" styleClass="commonText"
                                                showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                pattern="#{searchAlertAnomalyAutoManagedBean.defaultCalendarDateFormat}" />

                                    <h:outputText value="#{msg.end_date}" />
                                    <p:calendar value="#{searchAlertAnomalyAutoManagedBean.endDate}" styleClass="commonText"
                                                showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                                pattern="#{searchAlertAnomalyAutoManagedBean.defaultCalendarDateFormat}" />

                                    <ui:remove>
                                        <h:outputText value="#{msg.status}" />
                                        <p:selectOneMenu value="#{searchAlertAnomalyAutoManagedBean.selectedStatusId}" effect="none" >
                                            <f:selectItem itemValue="-1" itemLabel="All" />
                                            <f:selectItem itemValue="0" itemLabel="Not Ack" />
                                            <f:selectItem itemValue="2" itemLabel="Ack" />
                                        </p:selectOneMenu>
                                    </ui:remove>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_submit}" action="#{searchAlertAnomalyAutoManagedBean.submitAction}" update="frm1" />
                                    </h:panelGroup>

                                </h:panelGrid>

                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td valign="top">
                                <h:outputText value="Compare Method : " /><br/> <!--modified by SOM 18102018-->
                                <h:outputText value="M1 : Total last transactions comparing to previous in same day." /><br/>
                                <h:outputText value="M2 : Total last transactions comparing to previous day before." /><br/>
                                <h:outputText value="M3 : % decline charge > % approve." /><br/>
                                <h:outputText value="M4 : % decline free > % approve." />
                            </td>
                        </tr>
                    </table>



                    <br/>



                    <div align="left" >


                    </div>
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{searchAlertAnomalyAutoManagedBean.listAlertAnomalyDataModel}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="top"
                                 selection="#{searchAlertAnomalyAutoManagedBean.selectedItems}"
                                 style="width:90%" rowSelectMode="checkbox">

                        <p:column style="width:10px" >
                            <f:facet name="header">
                                <h:outputText value="#{msg.no}" />
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{msg.date}" />
                            </f:facet>
                            <h:outputText value="#{item.alertDate}" >
                                <f:convertDateTime pattern="#{searchAlertAnomalyAutoManagedBean.defaultCalendarDateTimeFormat}" />
                            </h:outputText>
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{msg.inst}" />
                            </f:facet>
                            <h:outputText value="#{item.eisBank.bankName}" />
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{msg.transaction}" />
                            </f:facet>
                            <h:outputText value="#{item.esqTrxid.trxName}" />
                            <h:outputText value="All" rendered="#{item.transactionId eq 'ALL'}" />
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{msg.indicator}" />
                            </f:facet>
                            <h:outputText value="#{item.esqTrxIndicator.trxName}" />
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{msg.prev_value}" />
                            </f:facet>
                            <div align="right" >
                                <h:outputText value="#{item.prevValue}" />
                            </div>
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{msg.curr_value}" />
                            </f:facet>
                            <div align="right" >
                                <h:outputText value="#{item.currValue}" />
                            </div>
                        </p:column>


                        <p:column style="width: 30px;" >
                            <f:facet name="header">
                                <h:outputText value="Compare Method" />
                            </f:facet>
                            <h:outputText value="#{item.alertMethod}" />
                        </p:column>

                        <p:column style="width: 30px;" >
                            <f:facet name="header">
                                <h:outputText value="Threshold (%)" />
                            </f:facet>
                            <div align="right">
                                <h:outputText value="#{item.threshold}" />
                            </div>
                        </p:column>

                        <ui:remove>
                        <p:column >
                            <div align="center">
                            <h:outputText rendered="#{item.solveStatus == 2}" value="#{msg.ack}" />
                            <h:panelGroup rendered="#{item.solveStatus == 0}" >
                                <p:selectBooleanCheckbox value="#{item.ack}" />


                                <p:commandButton value="#{msg.normal}" action="#{searchAlertAnomalyAutoManagedBean.normalAction}" update=":frm1" >
                                    <f:setPropertyActionListener target="#{searchAlertAnomalyAutoManagedBean.selectedAlertAnomaly}" value="#{item}" />
                                </p:commandButton>
                                <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                                <p:commandButton value="#{msg.not_normal}" action="#{searchAlertAnomalyAutoManagedBean.notNormalAction}" update=":frm1" >
                                    <f:setPropertyActionListener target="#{searchAlertAnomalyAutoManagedBean.selectedAlertAnomaly}" value="#{item}" />
                                </p:commandButton>

                            </h:panelGroup>
                            </div>
                        </p:column>
                        </ui:remove>
                        

                    </p:dataTable>

                    <br/><br/>

                </div>




            </h:form>
        </p:panel>





    </ui:define>
</ui:composition>
