<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="Search Alert Anomaly" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />


                <div class="divPanelForm">

                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="#{msg.inst}" />
                        <p:selectOneMenu value="#{searchAlertAnomalyHourlyManagedBean.selectedBankId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{searchAlertAnomalyHourlyManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>

                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{searchAlertAnomalyHourlyManagedBean.selectedTransactionId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{searchAlertAnomalyHourlyManagedBean.listTransaction}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                        </p:selectOneMenu>

                        <h:outputText value="#{msg.start_date}" />
                        <p:calendar value="#{searchAlertAnomalyHourlyManagedBean.startDate}" styleClass="commonText"
                                    showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                    pattern="#{searchAlertAnomalyHourlyManagedBean.defaultCalendarDateFormat}" />

                        <h:outputText value="#{msg.end_date}" />
                        <p:calendar value="#{searchAlertAnomalyHourlyManagedBean.endDate}" styleClass="commonText"
                                    showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                    pattern="#{searchAlertAnomalyHourlyManagedBean.defaultCalendarDateFormat}" />

                        <ui:remove>
                            <h:outputText value="#{msg.status}" />
                            <p:selectOneMenu value="#{searchAlertAnomalyHourlyManagedBean.selectedStatusId}" effect="none" >
                                <f:selectItem itemValue="-1" itemLabel="All" />
                                <f:selectItem itemValue="0" itemLabel="Not Ack" />
                                <f:selectItem itemValue="2" itemLabel="Ack" />
                            </p:selectOneMenu>
                        </ui:remove>

                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{searchAlertAnomalyHourlyManagedBean.submitAction}" update="frm1" />
                        </h:panelGroup>

                    </h:panelGrid>


                    <br/><br/>



                    <div align="left" >
                        <p:commandButton value="#{msg.ack}" action="#{searchAlertAnomalyHourlyManagedBean.removeAllItemAction}" update=":frm1" />
                    </div>
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{searchAlertAnomalyHourlyManagedBean.listAlertAnomalyDataModel}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="top"
                                 selection="#{searchAlertAnomalyHourlyManagedBean.selectedItems}"
                                 style="width:90%" rowSelectMode="checkbox">

                        <p:column selectionMode="multiple" style="width:18px" />

                        <p:column style="width:10px" >
                            <f:facet name="header">
                                <h:outputText value="#{msg.no}" />
                            </f:facet>
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{msg.date}" />
                            </f:facet>
                            <h:outputText value="#{item.alertDate}" >
                                <f:convertDateTime pattern="#{searchAlertAnomalyHourlyManagedBean.defaultCalendarDateTimeFormat}" />
                            </h:outputText>
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{msg.inst}" />
                            </f:facet>
                            <h:outputText value="#{item.eisBank.bankName}" />
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{msg.transaction}" />
                            </f:facet>
                            <h:outputText value="#{item.esqTrxid.trxName}" />
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{msg.prev_value}" />
                            </f:facet>
                            <div align="right" >
                                <h:outputText value="#{item.prevValue}" />
                            </div>
                        </p:column>

                        <p:column >
                            <f:facet name="header">
                                <h:outputText value="#{msg.curr_value}" />
                            </f:facet>
                            <div align="right" >
                                <h:outputText value="#{item.currValue}" />
                            </div>
                        </p:column>

                        <ui:remove>
                            <p:column >
                                <div align="center">
                                    <h:outputText rendered="#{item.solveStatus == 2}" value="#{msg.ack}" />
                                    <h:panelGroup rendered="#{item.solveStatus == 0}" >
                                        <p:selectBooleanCheckbox value="#{item.ack}" />


                                        <p:commandButton value="#{msg.normal}" action="#{searchAlertAnomalyHourlyManagedBean.normalAction}" update=":frm1" >
                                            <f:setPropertyActionListener target="#{searchAlertAnomalyHourlyManagedBean.selectedAlertAnomaly}" value="#{item}" />
                                        </p:commandButton>
                                        <h:graphicImage value="/images/spacer.gif" width="5" height="1" />
                                        <p:commandButton value="#{msg.not_normal}" action="#{searchAlertAnomalyHourlyManagedBean.notNormalAction}" update=":frm1" >
                                            <f:setPropertyActionListener target="#{searchAlertAnomalyHourlyManagedBean.selectedAlertAnomaly}" value="#{item}" />
                                        </p:commandButton>

                                    </h:panelGroup>
                                </div>
                            </p:column>
                        </ui:remove>


                    </p:dataTable>

                    <br/><br/>

                </div>




            </h:form>
        </p:panel>





    </ui:define>
</ui:composition>
