<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{quickViewMonitoringManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="false" life="5000" />
                <p:poll
                        interval="#{quickViewMonitoringManagedBean.graphRefreshInterval}"
                        listener="#{quickViewMonitoringManagedBean.onPoolListener}"
                        update="@this, frm1" />


                <div class="divPanelForm">

                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="5" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="Previous Selection" />
                        <p:selectOneMenu rendered="true" value="#{quickViewMonitoringManagedBean.selectedUserQuickView}" effect="none" >
                            <p:ajax event="change" listener="#{quickViewMonitoringManagedBean.quickViewChangeListener}" update=":frm1" process="@form" />
                            <f:selectItem itemLabel="" itemValue="" />
                            <f:selectItems value="#{quickViewMonitoringManagedBean.listTmsUserQuickView}" var="o"
                                           itemLabel="#{o.bank.bankName} - #{o.trxName} - #{o.timeframeName}"
                                           itemValue="#{o.tmsUserQuickViewPk.bankId},#{o.tmsUserQuickViewPk.trxId},#{o.tmsUserQuickViewPk.timeframe},#{o.cbTot},#{o.cbApp},#{o.cbDc},#{o.cbDf}" />
                        </p:selectOneMenu>
                        <h:outputText value="" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputText value="#{msg.inst}" />
                        <p:selectOneMenu value="#{quickViewMonitoringManagedBean.selectedBankId}" effect="none" filter="true" filterPlaceholder="Search" filterMatchMode="contains">
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{quickViewMonitoringManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:outputText value="Transaction : " />
                        <h:panelGroup>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev0" value="#{quickViewMonitoringManagedBean.activePrev[0]}" itemLabel="Total Transaction" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev1" value="#{quickViewMonitoringManagedBean.activePrev[1]}" itemLabel="Approve" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev2" value="#{quickViewMonitoringManagedBean.activePrev[2]}" itemLabel="Decline Charge" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev3" value="#{quickViewMonitoringManagedBean.activePrev[3]}" itemLabel="Decline Free" />
                            <h:graphicImage value="/images/spacer.gif" width="40" height="1" />
                        </h:panelGroup>


                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{quickViewMonitoringManagedBean.selectedTrxId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItem itemValue="ALL" itemLabel="All Transaction" />
                            <f:selectItems value="#{quickViewMonitoringManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:panelGroup>
                            <h:outputText id="idlabelprevdate" value="Previous Date : "  />
                            <h:outputText value=" " />
                        </h:panelGroup>
                        <h:panelGroup>
                            <h:outputText value="" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:calendar id="idprevdate" value="#{quickViewMonitoringManagedBean.selectedPrevDate}" styleClass="commonText"
                                        showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                        pattern="#{quickViewMonitoringManagedBean.defaultCalendarDateFormat}" />
                        </h:panelGroup>


                        <h:outputText value="#{msg.interval}" />
                        <p:selectOneMenu value="#{quickViewMonitoringManagedBean.aggregateTimeFrame}" effect="none" >
                            <f:selectItem itemValue="5M" itemLabel="5 Minutes" />
                            <f:selectItem itemValue="15M" itemLabel="15 Minutes" />
                            <f:selectItem itemValue="30M" itemLabel="30 Minutes" />
                            <f:selectItem itemValue="1H" itemLabel="Hourly" />
                            <f:selectItem itemValue="1D" itemLabel="Daily" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />


                        <h:outputLabel />
                        <h:panelGroup>
                            <p:selectBooleanCheckbox itemLabel="#{msg.show_table}" value="#{quickViewMonitoringManagedBean.showTable}" />
                            <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                            <p:selectBooleanCheckbox itemLabel="#{msg.save_selection}" value="#{quickViewMonitoringManagedBean.saveSelection}" />
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{quickViewMonitoringManagedBean.submitAction}" update="frm1" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="View History" action="#{quickViewMonitoringManagedBean.showHistory}" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="#{msg.show_percent}" action="#{quickViewMonitoringManagedBean.showPercentChangeListener}" />
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />
                    </h:panelGrid>

                    <br/><br/>

                    <div>

                    </div>
                    <br/>
                    <div>
                        <h:panelGrid columns="1">
                            <h:panelGroup>
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringManagedBean.renderResult}"
                                              value="#{msg.inst} : " />
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringManagedBean.renderResult}"
                                              value="#{quickViewMonitoringManagedBean.selectedBankName}" />
                            </h:panelGroup>

                            <h:panelGroup>
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringManagedBean.renderResult and quickViewMonitoringManagedBean.aggregateTimeFrame ne '1D'}"
                                              value="#{msg.date} : " />
                                <h:outputText rendered="#{quickViewMonitoringManagedBean.render and quickViewMonitoringManagedBean.aggregateTimeFrame ne '1D'}" styleClass="bold" value="#{quickViewMonitoringManagedBean.selectedEndDate}" >
                                    <f:convertDateTime pattern="#{quickViewMonitoringManagedBean.defaultCalendarDateFormat}" />
                                </h:outputText>
                            </h:panelGroup>

                            <h:panelGroup>
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringManagedBean.renderResult}"
                                              value="#{msg.transaction} : " />
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringManagedBean.renderResult}"
                                              value="#{quickViewMonitoringManagedBean.selectedTrxName}" />
                            </h:panelGroup>

                            <h:panelGroup>
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringManagedBean.renderResult}"
                                              value="#{msg.interval} : " />
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringManagedBean.renderResult}"
                                              value="#{quickViewMonitoringManagedBean.timeFrameName}" />
                            </h:panelGroup>
                        </h:panelGrid>


                        <ui:remove>
                            <h:outputText styleClass="bold" rendered="#{quickViewMonitoringManagedBean.renderResult}"
                                          value="#{msg.transaction_indicator} : " />
                            <h:outputText styleClass="bold" rendered="#{quickViewMonitoringManagedBean.renderResult}"
                                          value="#{quickViewMonitoringManagedBean.selectedTransactionIndicatorName}" />
                        </ui:remove>
                    </div>

                    <br/><br/>


                    <table>
                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_only}"
                                              rendered="#{quickViewMonitoringManagedBean.renderAcqOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{quickViewMonitoringManagedBean.c3ChartBeanAcqOnly.data}"
                                         axis="#{quickViewMonitoringManagedBean.c3ChartBeanAcqOnly.axis}"
                                         point="#{quickViewMonitoringManagedBean.c3ChartBeanAcqOnly.point}"
                                         rendered="#{quickViewMonitoringManagedBean.renderAcqOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_only}"
                                              rendered="#{quickViewMonitoringManagedBean.renderIssOnly == 'true'}"
                                              styleClass="bold" />
                                <c3:line data="#{quickViewMonitoringManagedBean.c3ChartBeanIssOnly.data}"
                                         axis="#{quickViewMonitoringManagedBean.c3ChartBeanIssOnly.axis}"
                                         point="#{quickViewMonitoringManagedBean.c3ChartBeanIssOnly.point}"
                                         rendered="#{quickViewMonitoringManagedBean.renderIssOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                            <tr>
                                <td>
                                    <h:outputText value="#{msg.bnf_only}"
                                                  rendered="#{quickViewMonitoringManagedBean.renderBnfOnly == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{quickViewMonitoringManagedBean.c3ChartBeanBnfOnly.data}"
                                             axis="#{quickViewMonitoringManagedBean.c3ChartBeanBnfOnly.axis}"
                                             point="#{quickViewMonitoringManagedBean.c3ChartBeanBnfOnly.point}"
                                             rendered="#{quickViewMonitoringManagedBean.renderBnfOnly == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>

                                <td>
                                    <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                                </td>

                                <td>
                                    <h:outputText value="#{msg.acq_iss}"
                                                  rendered="#{quickViewMonitoringManagedBean.renderAcqIss == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{quickViewMonitoringManagedBean.c3ChartBeanAcqIss.data}"
                                             axis="#{quickViewMonitoringManagedBean.c3ChartBeanAcqIss.axis}"
                                             point="#{quickViewMonitoringManagedBean.c3ChartBeanAcqIss.point}"
                                             rendered="#{quickViewMonitoringManagedBean.renderAcqIss == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h:outputText value="#{msg.acq_bnf}"
                                                  rendered="#{quickViewMonitoringManagedBean.renderAcqBnf == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{quickViewMonitoringManagedBean.c3ChartBeanAcqBnf.data}"
                                             axis="#{quickViewMonitoringManagedBean.c3ChartBeanAcqBnf.axis}"
                                             point="#{quickViewMonitoringManagedBean.c3ChartBeanAcqBnf.point}"
                                             rendered="#{quickViewMonitoringManagedBean.renderAcqBnf == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>

                                <td>
                                    <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                                </td>

                                <td>
                                    <h:outputText value="#{msg.iss_bnf}"
                                                  rendered="#{quickViewMonitoringManagedBean.renderIssBnf == 'true'}"
                                                  styleClass="bold" />
                                    <c3:line data="#{quickViewMonitoringManagedBean.c3ChartBeanIssBnf.data}"
                                             axis="#{quickViewMonitoringManagedBean.c3ChartBeanIssBnf.axis}"
                                             point="#{quickViewMonitoringManagedBean.c3ChartBeanIssBnf.point}"
                                             rendered="#{quickViewMonitoringManagedBean.renderIssBnf == 'true'}"
                                             style="width: 600px; height: 400px;" >
                                    </c3:line>
                                    <br/><br/><br/>
                                </td>
                            </tr>
                    </table>










                    <br/><br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{quickViewMonitoringManagedBean.list}"
                                 style="width:220%" rendered="#{quickViewMonitoringManagedBean.showTable}" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="4" headerText="#{msg.no}" />
                                <p:column rowspan="4" headerText="#{msg.period}" />
                                <p:column colspan="2" headerText="#{msg.minute}" />
                                <p:column colspan="36" headerText="#{msg.frequency}" />
                            </p:row>
                            <p:row>
                                <p:column rowspan="3" headerText="#{msg.from}" />
                                <p:column rowspan="3" headerText="#{msg.to}" />
                                <p:column colspan="6" headerText="#{msg.acq_only}" />
                                <p:column colspan="6" headerText="#{msg.iss_only}" />
                                <p:column colspan="6" headerText="#{msg.bnf_only}" />
                                <p:column colspan="6" headerText="#{msg.acq_iss}" />
                                <p:column colspan="6" headerText="#{msg.acq_bnf}" />
                                <p:column colspan="6" headerText="#{msg.iss_bnf}" />
                            </p:row>
                            <p:row>
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.period}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timefr}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeto}" />
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_app}" rendered="#{quickViewMonitoringManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc}" rendered="#{quickViewMonitoringManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df}" rendered="#{quickViewMonitoringManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_app_prev}" rendered="#{quickViewMonitoringManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc_prev}" rendered="#{quickViewMonitoringManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df_prev}" rendered="#{quickViewMonitoringManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_app}"  rendered="#{quickViewMonitoringManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc}"  rendered="#{quickViewMonitoringManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df}"  rendered="#{quickViewMonitoringManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_app_prev}"  rendered="#{quickViewMonitoringManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc_prev}"  rendered="#{quickViewMonitoringManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df_prev}"  rendered="#{quickViewMonitoringManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_app}" rendered="#{quickViewMonitoringManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc}" rendered="#{quickViewMonitoringManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df}" rendered="#{quickViewMonitoringManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_app_prev}" rendered="#{quickViewMonitoringManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc_prev}" rendered="#{quickViewMonitoringManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df_prev}" rendered="#{quickViewMonitoringManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_app}" rendered="#{quickViewMonitoringManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc}" rendered="#{quickViewMonitoringManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df}" rendered="#{quickViewMonitoringManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_app_prev}" rendered="#{quickViewMonitoringManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc_prev}" rendered="#{quickViewMonitoringManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df_prev}" rendered="#{quickViewMonitoringManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_app}" rendered="#{quickViewMonitoringManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc}" rendered="#{quickViewMonitoringManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df}" rendered="#{quickViewMonitoringManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>


                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_app_prev}" rendered="#{quickViewMonitoringManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc_prev}" rendered="#{quickViewMonitoringManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df_prev}" rendered="#{quickViewMonitoringManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>


                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_app}" rendered="#{quickViewMonitoringManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc}" rendered="#{quickViewMonitoringManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df}" rendered="#{quickViewMonitoringManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_app_prev}" rendered="#{quickViewMonitoringManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc_prev}" rendered="#{quickViewMonitoringManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df_prev}" rendered="#{quickViewMonitoringManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>




                </div>




            </h:form>
        </p:panel>

        <!-- 180717 Modify by AAH-->
        <ui:remove>
        <p:ajaxStatus onstart="PF('pleaseWaitDialog').hide();" oncomplete="PF('pleaseWaitDialog').hide();" />
        <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
            <table border="0">
                <tr>
                    <td>
                        <h:graphicImage value="/images/ajax-loader.gif" />
                    </td>
                    <td>
                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    </td>
                    <td valign="middle">
                        <h:outputText value="Please wait ...." />
                    </td>
                </tr>
            </table>
        </p:dialog>
        </ui:remove>


        <p:dialog id="idconfirmdialog" header="#{msg.confirmation}" resizable="false" modal="true" widgetVar="confirmDialogVar">
            <h:outputText value="" />
            <br/>
            <br/>
            <p:commandButton value="OK" action="#{quickViewMonitoringManagedBean.submitAction2}" update=":frm1" />
        </p:dialog>



    </ui:define>
</ui:composition>
