<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c3="http://c3faces.martinlinha.com/ns"
                template="../../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{quickViewMonitoringPercentManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />
                <p:poll
                        interval="#{quickViewMonitoringPercentManagedBean.graphRefreshInterval}"
                        listener="#{quickViewMonitoringPercentManagedBean.onPoolListener}"
                        update="@this, frm1" />


                <div class="divPanelForm">

                    <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="5" border="0" cellpadding="2" cellspacing="0">
                        <h:outputText value="Previous Selection" />
                        <p:selectOneMenu rendered="true" value="#{quickViewMonitoringPercentManagedBean.selectedUserQuickView}" effect="none" >
                            <p:ajax event="change" listener="#{quickViewMonitoringPercentManagedBean.quickViewChangeListener}" update=":frm1" process="@form" />
                            <f:selectItem itemLabel="" itemValue="" />
                            <f:selectItems value="#{quickViewMonitoringPercentManagedBean.listTmsUserQuickView}" var="o"
                                           itemLabel="#{o.bank.bankName} - #{o.trxName} - #{o.timeframeName}"
                                           itemValue="#{o.tmsUserQuickViewPk.bankId},#{o.tmsUserQuickViewPk.trxId},#{o.tmsUserQuickViewPk.timeframe}" />
                        </p:selectOneMenu>
                        <h:outputText value="" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputText value="#{msg.inst}" />
                        <p:selectOneMenu value="#{quickViewMonitoringPercentManagedBean.selectedBankId}" effect="none" filter="true" filterPlaceholder="Search" filterMatchMode="contains">
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItems value="#{quickViewMonitoringPercentManagedBean.listBank}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankid}" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:outputText value="Transaction : " />
                        <h:panelGroup>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev0" value="#{quickViewMonitoringPercentManagedBean.activePercentPrev[0]}" itemLabel="% Approve" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev1" value="#{quickViewMonitoringPercentManagedBean.activePercentPrev[1]}" itemLabel="% Decline Charge" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:selectBooleanCheckbox id="chkprev2" value="#{quickViewMonitoringPercentManagedBean.activePercentPrev[2]}" itemLabel="% Decline Free" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />

                        </h:panelGroup>


                        <h:outputText value="#{msg.transaction}" />
                        <p:selectOneMenu value="#{quickViewMonitoringPercentManagedBean.selectedTrxId}" effect="none" >
                            <f:selectItem itemValue="" itemLabel="" />
                            <f:selectItem itemValue="ALL" itemLabel="All Transaction" />
                            <f:selectItems value="#{quickViewMonitoringPercentManagedBean.listTrxId}" var="o" itemLabel="#{o.trxname}" itemValue="#{o.trxid}" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:panelGroup>
                            <h:outputText id="idlabelprevdate" value="Previous Date" style="#{quickViewMonitoringPercentManagedBean.renderPrevDate}" />
                            <h:outputText value="" />
                        </h:panelGroup>
                        <h:panelGroup>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:calendar id="idprevdate" value="#{quickViewMonitoringPercentManagedBean.selectedPrevDate}" styleClass="commonText"
                                        showOtherMonths="true" readonlyInput="true" navigator="true" selectOtherMonths="true"
                                        pattern="#{quickViewMonitoringPercentManagedBean.defaultCalendarDateFormat}" />

                        </h:panelGroup>


                        <h:outputText value="#{msg.interval}" />
                        <p:selectOneMenu value="#{quickViewMonitoringPercentManagedBean.aggregateTimeFrame}" effect="none" >
                            <f:selectItem itemValue="5M" itemLabel="5 Minutes" />
                            <f:selectItem itemValue="15M" itemLabel="15 Minutes" />
                            <f:selectItem itemValue="30M" itemLabel="30 Minutes" />
                            <f:selectItem itemValue="1H" itemLabel="Hourly" />
                            <f:selectItem itemValue="1D" itemLabel="Daily" />
                        </p:selectOneMenu>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />


                        <h:outputLabel />
                        <p:selectBooleanCheckbox itemLabel="#{msg.show_table}" value="#{quickViewMonitoringPercentManagedBean.showTable}" />
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />

                        <h:outputLabel />
                        <h:panelGroup>
                            <p:commandButton value="#{msg.button_submit}" action="#{quickViewMonitoringPercentManagedBean.submitAction}" update="frm1" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="View History" action="#{quickViewMonitoringPercentManagedBean.showHistory}" />
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandButton value="#{msg.show_total}" action="#{quickViewMonitoringPercentManagedBean.showPercentChangeListener}" />
                        </h:panelGroup>
                        <h:graphicImage value="/images/spacer.gif" width="20" height="1" />
                        <h:outputText value="" />
                        <h:outputText value="" />
                    </h:panelGrid>








                    <br/><br/>

                    <div>

                    </div>
                    <br/>
                    <div>
                        <h:panelGrid columns="1">
                            <h:panelGroup>
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringPercentManagedBean.renderResult}"
                                              value="#{msg.inst} : " />
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringPercentManagedBean.renderResult}"
                                              value="#{quickViewMonitoringPercentManagedBean.selectedBankName}" />
                            </h:panelGroup>

                            <h:panelGroup>
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringPercentManagedBean.renderResult and quickViewMonitoringPercentManagedBean.aggregateTimeFrame ne '1D'}"
                                              value="#{msg.date} : " />
                                <h:outputText rendered="#{quickViewMonitoringPercentManagedBean.render and quickViewMonitoringPercentManagedBean.aggregateTimeFrame ne '1D'}" styleClass="bold" value="#{quickViewMonitoringPercentManagedBean.selectedEndDate}" >
                                    <f:convertDateTime pattern="#{quickViewMonitoringPercentManagedBean.defaultCalendarDateFormat}" />
                                </h:outputText>
                            </h:panelGroup>

                            <h:panelGroup>
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringPercentManagedBean.renderResult}"
                                              value="#{msg.transaction} : " />
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringPercentManagedBean.renderResult}"
                                              value="#{quickViewMonitoringPercentManagedBean.selectedTrxName}" />
                            </h:panelGroup>

                            <h:panelGroup>
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringPercentManagedBean.renderResult}"
                                              value="#{msg.interval} : " />
                                <h:outputText styleClass="bold" rendered="#{quickViewMonitoringPercentManagedBean.renderResult}"
                                              value="#{quickViewMonitoringPercentManagedBean.timeFrameName}" />
                            </h:panelGroup>
                        </h:panelGrid>
                        
                        <ui:remove>
                            <h:outputText styleClass="bold" rendered="#{quickViewMonitoringPercentManagedBean.renderResult}"
                                          value="#{msg.transaction_indicator} : " />
                            <h:outputText styleClass="bold" rendered="#{quickViewMonitoringPercentManagedBean.renderResult}"
                                          value="#{quickViewMonitoringPercentManagedBean.selectedTransactionIndicatorName}" />
                        </ui:remove>
                    </div>

                    <br/><br/>


                    <table>
                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_only}"
                                              rendered="#{quickViewMonitoringPercentManagedBean.renderAcqOnly == 'true'}"
                                              styleClass="bold" />
                                <br/>
                                <h:outputText value="Percent(%)" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqOnly == 'true'}" />
                                <c3:line data="#{quickViewMonitoringPercentManagedBean.c3ChartBeanAcqOnly.data}"
                                         axis="#{quickViewMonitoringPercentManagedBean.c3ChartBeanAcqOnly.axis}"
                                         point="#{quickViewMonitoringPercentManagedBean.c3ChartBeanAcqOnly.point}"
                                         rendered="#{quickViewMonitoringPercentManagedBean.renderAcqOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_only}"
                                              rendered="#{quickViewMonitoringPercentManagedBean.renderIssOnly == 'true'}"
                                              styleClass="bold" />
                                <br/>
                                <h:outputText value="Percent(%)" rendered="#{quickViewMonitoringPercentManagedBean.renderIssOnly == 'true'}" />
                                <c3:line data="#{quickViewMonitoringPercentManagedBean.c3ChartBeanIssOnly.data}"
                                         axis="#{quickViewMonitoringPercentManagedBean.c3ChartBeanIssOnly.axis}"
                                         point="#{quickViewMonitoringPercentManagedBean.c3ChartBeanIssOnly.point}"
                                         rendered="#{quickViewMonitoringPercentManagedBean.renderIssOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:outputText value="#{msg.bnf_only}"
                                              rendered="#{quickViewMonitoringPercentManagedBean.renderBnfOnly == 'true'}"
                                              styleClass="bold" />
                                <br/>
                                <h:outputText value="Percent(%)" rendered="#{quickViewMonitoringPercentManagedBean.renderBnfOnly == 'true'}" />
                                <c3:line data="#{quickViewMonitoringPercentManagedBean.c3ChartBeanBnfOnly.data}"
                                         axis="#{quickViewMonitoringPercentManagedBean.c3ChartBeanBnfOnly.axis}"
                                         point="#{quickViewMonitoringPercentManagedBean.c3ChartBeanBnfOnly.point}"
                                         rendered="#{quickViewMonitoringPercentManagedBean.renderBnfOnly == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.acq_iss}"
                                              rendered="#{quickViewMonitoringPercentManagedBean.renderAcqIss == 'true'}"
                                              styleClass="bold" />
                                <br/>
                                <h:outputText value="Percent(%)" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqIss == 'true'}" />
                                <c3:line data="#{quickViewMonitoringPercentManagedBean.c3ChartBeanAcqIss.data}"
                                         axis="#{quickViewMonitoringPercentManagedBean.c3ChartBeanAcqIss.axis}"
                                         point="#{quickViewMonitoringPercentManagedBean.c3ChartBeanAcqIss.point}"
                                         rendered="#{quickViewMonitoringPercentManagedBean.renderAcqIss == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:outputText value="#{msg.acq_bnf}"
                                              rendered="#{quickViewMonitoringPercentManagedBean.renderAcqBnf == 'true'}"
                                              styleClass="bold" />
                                <br/>
                                <h:outputText value="Percent(%)" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqBnf == 'true'}" />
                                <c3:line data="#{quickViewMonitoringPercentManagedBean.c3ChartBeanAcqBnf.data}"
                                         axis="#{quickViewMonitoringPercentManagedBean.c3ChartBeanAcqBnf.axis}"
                                         point="#{quickViewMonitoringPercentManagedBean.c3ChartBeanAcqBnf.point}"
                                         rendered="#{quickViewMonitoringPercentManagedBean.renderAcqBnf == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>

                            <td>
                                <h:graphicImage value="/images/spacer.gif" width="50" height="1" />
                            </td>

                            <td>
                                <h:outputText value="#{msg.iss_bnf}"
                                              rendered="#{quickViewMonitoringPercentManagedBean.renderIssBnf == 'true'}"
                                              styleClass="bold" />
                                <br/>
                                <h:outputText value="Percent(%)" rendered="#{quickViewMonitoringPercentManagedBean.renderIssBnf == 'true'}" />
                                <c3:line data="#{quickViewMonitoringPercentManagedBean.c3ChartBeanIssBnf.data}"
                                         axis="#{quickViewMonitoringPercentManagedBean.c3ChartBeanIssBnf.axis}"
                                         point="#{quickViewMonitoringPercentManagedBean.c3ChartBeanIssBnf.point}"
                                         rendered="#{quickViewMonitoringPercentManagedBean.renderIssBnf == 'true'}"
                                         style="width: 600px; height: 400px;" >
                                </c3:line>
                                <br/><br/><br/>
                            </td>
                        </tr>
                    </table>










                    <br/><br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{quickViewMonitoringPercentManagedBean.list}"
                                 style="width:220%" rendered="#{quickViewMonitoringPercentManagedBean.showTable}" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="4" headerText="#{msg.no}" />
                                <p:column rowspan="4" headerText="#{msg.period}" />
                                <p:column colspan="2" headerText="#{msg.minute}" />
                                <p:column colspan="36" headerText="#{msg.frequency}" />
                            </p:row>
                            <p:row>
                                <p:column rowspan="3" headerText="#{msg.from}" />
                                <p:column rowspan="3" headerText="#{msg.to}" />
                                <p:column colspan="6" headerText="#{msg.acq_only}" />
                                <p:column colspan="6" headerText="#{msg.iss_only}" />
                                <p:column colspan="6" headerText="#{msg.bnf_only}" />
                                <p:column colspan="6" headerText="#{msg.acq_iss}" />
                                <p:column colspan="6" headerText="#{msg.acq_bnf}" />
                                <p:column colspan="6" headerText="#{msg.iss_bnf}" />
                            </p:row>
                            <p:row>
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                                <p:column colspan="3" headerText="Curr" />
                                <p:column colspan="3" headerText="Prev" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />

                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                                <p:column headerText="Approve" />
                                <p:column headerText="Decline Charge" />
                                <p:column headerText="Decline Free" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.period}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timefr}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.timeto}" />
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_app}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_app_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_dc_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acq_df_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_app}"  rendered="#{quickViewMonitoringPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc}"  rendered="#{quickViewMonitoringPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df}"  rendered="#{quickViewMonitoringPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_app_prev}"  rendered="#{quickViewMonitoringPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_dc_prev}"  rendered="#{quickViewMonitoringPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column >
                            <div align="right">
                                <h:outputText value="#{item.freq_iss_df_prev}"  rendered="#{quickViewMonitoringPercentManagedBean.renderIssOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_app}" rendered="#{quickViewMonitoringPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc}" rendered="#{quickViewMonitoringPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df}" rendered="#{quickViewMonitoringPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_app_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_dc_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_bnf_df_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderBnfOnly}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_app}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_app_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_dc_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqIss_df_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqIss}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_app}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>


                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_app_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_dc_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_acqBnf_df_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderAcqBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>


                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_app}" rendered="#{quickViewMonitoringPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc}" rendered="#{quickViewMonitoringPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df}" rendered="#{quickViewMonitoringPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_app_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_dc_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column   >
                            <div align="right">
                                <h:outputText value="#{item.freq_issBnf_df_prev}" rendered="#{quickViewMonitoringPercentManagedBean.renderIssBnf}" >
                                    <f:convertNumber type="currency" currencySymbol="" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                    </p:dataTable>




                </div>




            </h:form>
        </p:panel>

        <!-- 180717 Modify by AAH-->
        <ui:remove>
            <p:ajaxStatus onstart="PF('pleaseWaitDialog').hide();" oncomplete="PF('pleaseWaitDialog').hide();" />
            <p:dialog modal="true" widgetVar="pleaseWaitDialog" showHeader="false" resizable="false" draggable="false" closable="false">
                <table border="0">
                    <tr>
                        <td>
                            <h:graphicImage value="/images/ajax-loader.gif" />
                        </td>
                        <td>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                        </td>
                        <td valign="middle">
                            <h:outputText value="Please wait ...." />
                        </td>
                    </tr>
                </table>
            </p:dialog>
        </ui:remove>

    </ui:define>
</ui:composition>
