<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../../common/template/private_template.xhtml">

    <ui:define name="content">


        <p:panel header="#{userQuickViewHistoryManagedBean.pageTitle}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" sticky="true" life="2000" />

                <div class="divPanelForm">

                    <p:commandButton value="#{msg.button_delete}" action="#{userQuickViewHistoryManagedBean.deleteAction}" update="frm1" />
                    <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                    <p:commandButton value="#{msg.button_delete} All" action="#{userQuickViewHistoryManagedBean.deletaAllAction}" update="frm1" />

                    <br/>
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{userQuickViewHistoryManagedBean.userQuickViewDataModel}"
                                 rows="20" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="top"
                                 selection="#{userQuickViewHistoryManagedBean.selectedItems}"
                                 style="width:100%" rowSelectMode="checkbox">

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="2" headerText="" />
                                <p:column rowspan="2" headerText="#{msg.no}" />
                                <p:column rowspan="2" headerText="#{msg.bank}" />
                                <p:column rowspan="2" headerText="#{msg.transaction}" />
                                <p:column rowspan="2" headerText="#{msg.interval}" />
                                <p:column colspan="4" headerText="#{msg.transaction}" />
                            </p:row>
                            <p:row>
                                <p:column rowspan="1" headerText="#{msg.total}" />
                                <p:column rowspan="1" headerText="#{msg.approve}" />
                                <p:column rowspan="1" headerText="#{msg.decline_charge}" />
                                <p:column rowspan="1" headerText="#{msg.decline_free}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column selectionMode="multiple" style="width:18px" />


                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.bank.bankName}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.trxName}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{item.intervalName}" />
                        </p:column>

                        <p:column style="width:56px;" >
                            <div align="center">
                                <h:graphicImage value="/images/valid.png" width="16" height="16"
                                    rendered="#{item.cbTot == 1}" />
                            </div>
                        </p:column>

                        <p:column style="width:56px;" >
                            <div align="center">
                                <h:graphicImage value="/images/valid.png" width="16" height="16"
                                            rendered="#{item.cbApp == 1}" />
                            </div>
                        </p:column>

                        <p:column style="width:56px;" >
                            <div align="center">
                                <h:graphicImage value="/images/valid.png" width="16" height="16"
                                            rendered="#{item.cbDc == 1}" />
                            </div>
                        </p:column>

                        <p:column style="width:56px;" >
                            <div align="center">
                                <h:graphicImage value="/images/valid.png" width="16" height="16"
                                            rendered="#{item.cbDf == 1}" />
                            </div>
                        </p:column>


                    </p:dataTable>

                    <br/><br/>

                </div>




            </h:form>
        </p:panel>

        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="Are you sure to delete all?" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1:idTable"
                                 actionListener="#{userQuickViewHistoryManagedBean.deletaAllAction}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>





    </ui:define>
</ui:composition>
