<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="#{msg.add_mcc_parameter}" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputLabel>#{msg.list_mcc}</h:outputLabel>
                                    <p:selectOneMenu value="#{addMCCParameterManagedBean.mccParameterBean.mcc}" effect="none" filter="true" filterPlaceholder="Search" filterMatchMode="contains">
                                        <f:selectItem itemLabel="" itemValue="-1" />
                                        <f:selectItems value="#{addMCCParameterManagedBean.listMCC}" var="o" itemLabel="#{o.mcc}" itemValue="#{o.mcc}" />
                                    </p:selectOneMenu>

                                    <h:outputLabel value="Freq Approve 1 Day"/>
                                    <p:inputNumber value="#{addMCCParameterManagedBean.mccParameterBean.min_trx_app_1d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Approve 1 Day"/>
                                    <p:inputNumber value="#{addMCCParameterManagedBean.mccParameterBean.min_amt_app_1d}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel value="Freq Total 1 Day"/>
                                    <p:inputNumber value="#{addMCCParameterManagedBean.mccParameterBean.min_trx_tot_1d}" size="20" maxlength="8" padControl="false "  />

                                    <h:outputLabel value="Amount Total 1 Day"/>
                                    <p:inputNumber value="#{addMCCParameterManagedBean.mccParameterBean.min_amt_tot_1d}" size="20" maxlength="20" padControl="false "  />

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{addMCCParameterManagedBean.saveAction}" update="frm1" />
                                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listMCCParameter.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
