<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">

        <p:panel header="#{msg.list_mcc_parameter}" styleClass="panelContent" >
            <h:form id="frm1" >

                <div class="divPanelForm">

                    <div class="tabCommandArea">
                        <h:outputLink styleClass="toolbarMenuLink" value="addMCCParameter.do" >
                            <h:outputText value="#{msg.button_add}"/>
                        </h:outputLink>
                    </div>

                    <ui:remove>
                    <br/>
                    <h:panelGrid columns="2" >
                        <h:outputText value="#{msg.list_mcc}" />
                        <p:selectOneMenu value="#{listMCCParameterManagedBean.selectedMCCParameter}" effect="none" filter="true" filterPlaceholder="Search" filterMatchMode="contains">
                            <f:selectItem itemLabel="" itemValue="-1" />
                            <f:selectItems value="#{listMCCParameterManagedBean.listMCCParameter}" var="o" itemLabel="#{o.mcc}" itemValue="#{o.mcc}" />
                        </p:selectOneMenu>

                        <h:outputText value="" />
                        <p:commandButton value="#{msg.button_submit}" action="#{listMCCParameterManagedBean.searchAction}" update="frm1" />
                    </h:panelGrid>
                    </ui:remove>

                    <br/>

                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{listMCCParameterManagedBean.listMCCParameter}" paginator="true" rows="15" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:70%" >

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="2" headerText="#{msg.no}" />
                                <p:column rowspan="2" headerText="MCC" filterBy="${item.mcc}" />
                                <p:column rowspan="2" headerText="Description" />
                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Total" />
                                <p:column rowspan="4" headerText="" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.mcc}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.mccList.description}" />
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.min_trx_app_1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.min_amt_app_1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.min_trx_tot_1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.min_amt_tot_1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>


                        <p:column style="width:65px">
                            <f:facet name="header">
                            </f:facet>
                            <h:outputLink value="editMCCParameter.do">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="uid" value="#{item.mcc}" />
                            </h:outputLink>
                            <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                            <p:commandLink onclick="PF('confirmation').show()" >
                                <h:graphicImage value="/images/delete.png" title="#{msg.button_disable}" width="16" height="16" />
                                <f:setPropertyActionListener target="#{listMCCParameterManagedBean.selectedDeleteItem}" value="#{item.mcc}" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>

                </div>

            </h:form>
        </p:panel>

        <p:confirmDialog id="confirmDialog" header="#{msg.confirmation}" message="#{msg.are_you_sure_to_delete}" severity="alert" widgetVar="confirmation" appendTo="@(body)" >
            <h:form>
                <p:commandButton id="confirm" value="#{msg.yes}" oncomplete="PF('confirmation').hide()" update=":frm1:idTable"
                                 actionListener="#{listMCCParameterManagedBean.deleteMccActionListener}" />
                <p:commandButton id="decline" value="#{msg.no_tidak}" onclick="PF('confirmation').hide()" type="button" />
            </h:form>
        </p:confirmDialog>

    </ui:define>
</ui:composition>