<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">

    <ui:define name="content">
        <p:panel header="Biller Anomaly Aggregate Parameter" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="false" life="3000" />

                <div class="divPanelForm">
                    <h:graphicImage value="/images/spacer.gif" width="5" height="20" />
                    <p:dataTable id="idTable" var="item" rowIndexVar="idx" value="#{billerAnomalyParameterManagedBean.listBillerAnomalyParam}" paginator="true" rows="" paginatorPosition="top"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 paginatorAlwaysVisible="false" style="width:100%" >

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column rowspan="4" headerText="#{msg.no}" />
                                <p:column rowspan="4" headerText="Transaction" />
                                <p:column colspan="6" headerText="Threshold Aggregate 1 Hour" />
                                <p:column colspan="6" headerText="Threshold Aggregate 3 Hours" />
                                <p:column colspan="6" headerText="Threshold Aggregate 6 Hours" />
                                <p:column colspan="6" headerText="Threshold Aggregate 1 Day" />
                                <p:column colspan="6" headerText="Threshold Aggregate 3 Days" />
                                <p:column rowspan="4" headerText="" />
                            </p:row>
                            <p:row>
                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />

                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />

                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />

                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />

                                <p:column colspan="2" headerText="Approve" />
                                <p:column colspan="2" headerText="Decline Charge" />
                                <p:column colspan="2" headerText="Decline Free" />

                            </p:row>
                            <p:row>
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />

                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />

                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />

                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />

                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Frequency" />
                                <p:column headerText="Amount" />
                            </p:row>
                        </p:columnGroup>

                        <p:column style="width:10px" >
                            <h:outputText value="#{idx+1}" />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{item.esqTrxid.trxName}" />
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxApp1h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtApp1h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDc1h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDc1h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDcFree1h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDcFree1h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxApp3h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtApp3h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDc3h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDc3h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDcFree3h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDcFree3h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxApp6h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtApp6h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDc6h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDc6h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDcFree6h}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDcFree6h}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxApp1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtApp1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDc1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDc1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDcFree1d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDcFree1d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxApp3d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtApp3d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDc3d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDc3d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minTrxDcFree3d}" />
                            </div>
                        </p:column>

                        <p:column>
                            <div align="right">
                                <h:outputText value="#{item.minAmtDcFree3d}">
                                    <f:convertNumber groupingUsed="true" minFractionDigits="0" />
                                </h:outputText>
                            </div>
                        </p:column>

                        <p:column style="width:20px">
                            <h:outputLink value="editBillerAnomalyParameter.do">
                                <h:graphicImage value="/images/edit.gif" title="#{msg.button_update}" />
                                <f:param name="pTrxId" value="#{billerAnomalyParameterManagedBean.paramEncodeUrl(item.trxId)}" />
                            </h:outputLink>
                        </p:column>
                    </p:dataTable>
                </div>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
