<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="Edit Biller Anomaly Aggregate Parameter" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="3" cellspacing="0">
                                    <h:outputLabel value="Transaction"/>
                                    <h:outputText style="font-weight: bold;" escape="false" value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.esqTrxid.trxName}" size="20" maxlength="20" required="true" />

                                    <h:outputLabel value="Freq Approve 1 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxApp1h}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Approve 1 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtApp1h}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Decline Charge 1 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxDc1h}" size="20" maxlength="8" padControl="false "  emptyValue="0"/>

                                    <h:outputLabel value="Amount Decline Charge 1 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtDc1h}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Decline Free 1 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxDcFree1h}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Decline Free 1 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtDcFree1h}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Approve 3 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxApp3h}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Approve 3 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtApp3h}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Decline Charge 3 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxDc3h}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Decline Charge 3 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtDc3h}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Decline Free 3 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxDcFree3h}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Decline Free 3 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtDcFree3h}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Approve 6 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxApp6h}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Approve 6 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtApp6h}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Decline Charge 6 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxDc6h}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Decline Charge 6 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtDc6h}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Decline Free 6 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxDcFree6h}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Decline Free 6 Hour"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtDcFree6h}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Approve 1 Day"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxApp1d}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Approve 1 Day"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtApp1d}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Decline Charge 1 Day"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxDc1d}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Decline Charge 1 Day"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtDc1d}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Decline Free 1 Day"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxDcFree1d}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Decline Free 1 Day"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtDcFree1d}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Approve 3 Days"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxApp3d}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Approve 3 Days"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtApp3d}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Decline Charge 3 Days"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxDc3d}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Decline Charge 3 Days"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtDc3d}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Freq Decline Free 3 Days"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minTrxDcFree3d}" size="20" maxlength="8" padControl="false " emptyValue="0"/>

                                    <h:outputLabel value="Amount Decline Free 3 Days"/>
                                    <p:inputNumber value="#{editBillerAnomalyParameterManagedBean.billerAnomalyParam.minAmtDcFree3d}" size="20" maxlength="20" padControl="false " emptyValue="0"/>

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{editBillerAnomalyParameterManagedBean.editAction}" update="frm1" />
                                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="billerAnomalyParameter.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
