<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../common/template/private_template.xhtml">
    <ui:define name="content">

        <p:panel header="Add Acquirer QR (MPAN) Special Treatment" styleClass="panelContent" >
            <h:form id="frm1" >
                <p:growl id="growl" showDetail="true" escape="false" for="glowmsg" sticky="true" life="2000" />

                <div class="divPanelForm">
                    <table>
                        <tr>
                            <td valign="top">
                                <h:panelGrid columnClasses="panelGridFirstColumn, panelGridSecondColumn" columns="2" border="0" cellpadding="2" cellspacing="0">
                                    <h:outputLabel value="PAN" />

                                    <p:inputText autocomplete="off" value="#{addWhitelistMPanManagedBean.whitelistQRBean.pan}" size="30" maxlength="19" onkeyup="this.value=this.value.replace(/[^\d]/,'')" />

                                    <h:outputLabel value="Acquirer Bank" />
                                    <p:selectOneMenu value="#{addWhitelistMPanManagedBean.selectedBankId}" effect="none" filter="true" filterPlaceholder="Search" filterMatchMode="contains">
                                        <f:selectItem itemValue="" itemLabel="" />
                                        <f:selectItems value="#{addWhitelistMPanManagedBean.listBankReport}" var="o" itemLabel="#{o.bankname}" itemValue="#{o.bankFiid}" />
                                    </p:selectOneMenu>

                                    <h:outputLabel>Frequency Approve</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistMPanManagedBean.whitelistQRBean.freqApp}" size="30" maxlength="8" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Frequency Decline Charge</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistMPanManagedBean.whitelistQRBean.freqDc}" size="30" maxlength="8" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Frequency Decline Free</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistMPanManagedBean.whitelistQRBean.freqDcFree}" size="30" maxlength="8" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Frequency Refund</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistMPanManagedBean.whitelistQRBean.freqRvsl}" size="30" maxlength="8" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Approve</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistMPanManagedBean.whitelistQRBean.totalAmtApp}" size="30" maxlength="20" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Decline Charge</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistMPanManagedBean.whitelistQRBean.totalAmtDc}" size="30" maxlength="20" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Decline Free</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistMPanManagedBean.whitelistQRBean.totalAmtDcFree}" size="30" maxlength="20" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <h:outputLabel>Amount Refund</h:outputLabel>
                                    <p:inputNumber autocomplete="off" value="#{addWhitelistMPanManagedBean.whitelistQRBean.totalAmtRvsl}" size="30" maxlength="20" padControl="false " minValue="0" emptyValue="0" onkeydown="if(event.key==='.'){event.preventDefault();}" />

                                    <ui:remove>
                                    <h:outputLabel>Amount Total</h:outputLabel>
                                    <p:inputNumber value="#{addWhitelistMPanManagedBean.whitelistQRBean.totalAmt}" size="30" maxlength="20" padControl="false " emptyValue="0"  />
                                    </ui:remove>

                                    <h:outputLabel />
                                    <p:selectBooleanCheckbox itemLabel="Active" value="#{addWhitelistMPanManagedBean.whitelistQRBean.active}" />

                                    <h:outputLabel />
                                    <h:panelGroup>
                                        <p:commandButton value="#{msg.button_save}" icon="ui-icon-disk" action="#{addWhitelistMPanManagedBean.saveAction}" update="frm1" />
                                        <h:graphicImage value="/images/spacer.gif" width="10" height="1" />
                                        <p:commandButton value="#{msg.button_cancel}" icon="ui-icon-cancel" action="listWhitelistMPan.do?faces-redirect=true" immediate="true" />
                                    </h:panelGroup>

                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </div>

            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
